.centered {
  align-items: center;
}

.content-area {
  margin: 0 auto;
  max-width: 2000px;
}
.main-marketing {
  margin-top: 1rem !important;
  min-height: 400px;
  p {
    font-size: .8rem;
  }
  .owl {
    margin-left: 5rem;
  }
  .call-to-action {
    margin-top: 1.5rem;
  }
}
.section-description {

  .gradient-line {
    background: -webkit-gradient(linear,left top,right top,from(#30a9ff),to(#98d95f));
    background: linear-gradient(to right,#30a9ff,#98d95f);
    margin: 50px auto;
    width: 184px;
    height: 4px;
    border: 0;
  }
  .heading-tag {
    text-align: center;

    .title {
      font-size: 1.3rem;
    }
  }
}

.call-outs {
  margin-top: 2rem;

  .icon-top {
    display: block;
    text-align: center;

    clr-icon {
      color: #224177;
    }
  }
  .card-block {
      margin: 0 1.5rem 0;
  }
}

svg {
  .a,
  .b,
  .d,
  .e {
    fill: none
  }

  .a,
  .c {
    stroke: #0995d3
  }

  .a,
  .b,
  .c,
  .d,
  .e,
  .f {
    stroke-miterlimit: 10
  }

  .a,
  .b,
  .c {
    stroke-width: 1px
  }

  .b,
  .d,
  .e,
  .f {
    stroke: #1c4177
  }

  .c {
    fill: #0995d3
  }

  .d,
  .f {
    stroke-width: 4px
  }

  .e {
    stroke-width: 7px
  }

  .f {
    fill: #1c4177
  }

}
