<div class="main-container">
  <div class="alert alert-app-level">
  </div>
  <header class="header-7">
    <div class="branding">
      <a [routerLink]="" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{ 'title' | translate }}</span>
      </a>
    </div>
    <div class="header-actions sign centered">
      <a id="loginButton" [routerLink]="['auth', 'login']" class="nav-link nav-icon">{{ 'nav.login' | translate }}</a>
      <a class="vmware-logo qa-vm-label" rel="noopener" target="_blank" href="http://www.vmware.com/"></a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row main-marketing">
        <div class="clr-col-4 clr-offset-sm-2">
          <h1>
             {{ 'marketing.subTitle' | translate }}
          </h1>
          <p>{{ 'marketing.description' | translate }}</p>
          <a [routerLink]="['auth', 'login']" class="btn call-to-action btn-primary">
             {{ 'marketing.callToAction' | translate }}
            <clr-icon shape="caret" dir="right"></clr-icon>
          </a>
        </div>
        <div class="clr-col-5">
          <svg id="logo" class="owl" xmlns="http://www.w3.org/2000/svg" width="425" height="425" viewBox="0 0 182.86 181.89">
            <path class="a" d="M179.27 90.63l-7.5-37.54M179.27 90.63L149.5 65.54M179.27 90.63l-25.84 62.16M179.27 90.63l-29.77 24.66M3.2 90.63l25.83 61.96"
            />
            <path class="b" d="M59.95 128.69l31.28 49.97M59.95 128.69l31.28 49.97" />
            <path class="a animate" d="M3.2 90.63l31.14-25.09M3.2 90.63l7.45-35.95M3.2 90.63l31.14 24.66M28.96 28.4L18.77 40.23M153.38 28.25l10.04 11.98M34.42 40.23L91.23 2.59M59.95 53.09l31.28-50.5M91.23 2.59l31.07 50.5M91.23 2.59l56.68 37.64M91.23 2.59l.33 44.71M91.23 2.59L28.96 28.4M91.23 2.59L28.96 28.4M91.23 2.59l62.15 25.66"
            />
            <circle data-ignore="true" class="c" cx="91.16" cy="2.59" r="1.59" />
            <circle data-ignore="true" class="c" cx="179.27" cy="90.63" r="1.59" />
            <circle data-ignore="true" class="c" cx="3.34" cy="90.63" r="1.59" />
            <circle data-ignore="true" class="c" cx="153.38" cy="28.25" r="1.59" />
            <circle data-ignore="true" class="c" cx="153.43" cy="152.79" r="1.59" />
            <circle data-ignore="true" class="c" cx="29.03" cy="28.4" r="1.59" />
            <circle data-ignore="true" class="c" cx="29.03" cy="152.59" r="1.59" />
            <g>
              <path data-ignore="true" class="d" d="M147.66 114.55l5.77 38.24" />
              <path data-ignore="true" class="e" d="M78.73 90.63l12.43 50.18M134.12 73.87a18.33 18.33 0 1 1-29.71 16.88" />
              <path data-ignore="true" class="d" d="M122.54 80.08a8 8 0 1 1-6.78 3.76" />
              <path data-ignore="true" class="e" d="M48.46 73.87a18.33 18.33 0 1 0 29.71 16.88" />
              <path data-ignore="true" class="d" d="M60 80.08a8 8 0 1 0 6.78 3.76M78.6 90.14l-44.26-24.6" />
              <path data-ignore="true" class="e" d="M84.74 115.29l-24.79 13.4M103.65 90.14l-12.49 50.18" />
              <path data-ignore="true" class="d" d="M103.65 90.14l44.26-24.6" />
              <path data-ignore="true" class="b" d="M91.56 47.3l-.4 93.51M91.56 47.3L78.73 90.63M91.56 47.3l12.09 43.33M122.3 53.09l-18.65 37.05M59.95 53.09L78.6 90.14"
              />
              <path data-ignore="true" class="e" d="M97.51 115.29l24.79 13.4" />
              <path data-ignore="true" class="d" d="M91.23 178.66l62.2-25.87M91.23 178.66l-62.2-26.07" />
              <path  class="b" d="M122.3 128.69l-31.07 49.97M59.95 128.69l31.28 49.97" />
              <path data-ignore="true" class="e" d="M34.34 65.54L21.86 90.63" />
              <path data-ignore="true" class="b" d="M34.34 65.54l25.61-12.45" />
              <path data-ignore="true" class="d" d="M34.42 40.23H3.59M178.57 40.23h-30.83M34.34 53.06L3.59 40.23M59.95 53.09L34.42 40.23M122.74 53.09l25.17-12.86M153.76 53.09l25.17-12.86"
              />
              <path data-ignore="true" class="e" d="M60.1 53.09H10.14M170.92 53.09H122.3M34.34 115.29L21.86 90.63" />
              <path data-ignore="true" class="d" d="M34.34 114.55l-5.31 38.04" />
              <path data-ignore="true" class="e" d="M34.34 115.29l25.61 13.4M147.91 65.54l23.55-13.09M122.3 53.09L91.56 47.3M59.95 53.09l31.61-5.79M147.91 65.54l12.48 25.09"
              />
              <path data-ignore="true" class="b" d="M147.91 65.54L122.3 53.09" />
              <path data-ignore="true" class="e" d="M147.91 115.29l12.48-24.66M147.91 115.29l-25.61 13.4" />
              <path  class="b animate" d="M59.95 128.69l-30.92 23.9M122.3 128.69l30 22.98" />
              <path data-ignore="true" class="e" d="M10.14 53.09l24.2 12.45" />
            </g>
            <g>
              <circle data-ignore="true" class="f" cx="21.86" cy="90.63" r="1.59" />
              <circle data-ignore="true" class="f" cx="33.34" cy="116.29" r="1.59" />
              <circle data-ignore="true" class="f" cx="84.74" cy="115.29" r="1.59" />
              <circle data-ignore="true" class="f" cx="59.95" cy="128.69" r="1.59" />
              <circle data-ignore="true" class="f" cx="153.43" cy="152.53" r="1.59" />
              <circle data-ignore="true" class="f" cx="29.11" cy="152.53" r="1.59" />
              <circle data-ignore="true" class="f" cx="34.34" cy="65.54" r="1.59" />
              <circle data-ignore="true" class="f" cx="160.39" cy="90.63" r="1.59" />
              <circle data-ignore="true" class="f" cx="148.91" cy="116.29" r="1.59" />
              <circle data-ignore="true" class="f" cx="97.51" cy="115.29" r="1.59" />
              <circle data-ignore="true" class="f" cx="103.65" cy="90.63" r="1.59" />
              <circle data-ignore="true" class="f" cx="78.73" cy="90.63" r="1.59" />
              <circle data-ignore="true" class="f" cx="91.16" cy="140.81" r="1.59" />
              <circle data-ignore="true" class="f" cx="122.3" cy="128.69" r="1.59" />
              <circle data-ignore="true" class="f" cx="122.3" cy="53.09" r="1.59" />
              <circle data-ignore="true" class="f" cx="60.1" cy="53.09" r="1.59" />
              <circle data-ignore="true" class="f" cx="34.42" cy="40.23" r="1.59" />
              <circle data-ignore="true" class="f" cx="147.91" cy="40.23" r="1.59" />
              <circle data-ignore="true" class="f" cx="3.59" cy="40.23" r="1.59" />
              <circle data-ignore="true" class="f" cx="179.27" cy="40.23" r="1.59" />
              <circle data-ignore="true" class="f" cx="91.56" cy="47.3" r="1.59" />
              <circle data-ignore="true" class="f" cx="147.91" cy="65.54" r="1.59" />
              <circle data-ignore="true" class="f" cx="9.65" cy="53.09" r="1.59" />
              <circle data-ignore="true" class="f" cx="171.77" cy="53.09" r="1.59" />
              <circle data-ignore="true" class="f" cx="91" cy="178.3" r="1.59" />
            </g>
          </svg>
        </div>
      </div>
<div class="section-description">
  <hr class="gradient-line">
  <div class="tag heading-tag">
    <h3 class="title">{{ 'marketing.midHeading' | translate }}</h3>
  </div>
</div>
      <div class="clr-row flex-items-xs-center call-outs">
        <div class="clr-col-3">
          <div>
            <div class="card-block">
                <div class="icon-top">
                  <clr-icon size="70" shape="network-globe"></clr-icon>
                </div>
              <div class="card-media-block">
                <span class="card-media-title">
                  <h3>
                     {{ 'marketing.itemOne.title' | translate }}
                  </h3>
                </span>
              </div>
              <p class="card-text">
                {{ 'marketing.itemOne.description' | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="clr-col-3">
          <div>
            <div class="card-block">
                <div class="icon-top">
                  <clr-icon size="70" shape="shield"></clr-icon>
                </div>
              <div class="card-media-block">
                <span class="card-media-title">
                  <h3>
                    {{ 'marketing.itemTwo.title' | translate }}
                  </h3>
                </span>
              </div>
              <p class="card-text">
                {{ 'marketing.itemTwo.description' | translate }}
              </p>
            </div>
          </div>
        </div>
        <div class="clr-col-3">
          <div>
            <div class="card-block">
                <div class="icon-top">
                  <clr-icon size="70" shape="sun"></clr-icon>
                </div>
              <div class="card-media-block">
                <span class="card-media-title">
                  <h3>
                    {{ 'marketing.itemThree.title' | translate }}
                  </h3>
                </span>
              </div>
              <p class="card-text">
                 {{ 'marketing.itemThree.description' | translate }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
