<clr-alerts>
  <clr-alert *ngFor="let alert of alerts" [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true">
    <clr-alert-item>
        <span class="alert-text">
          {{ alert.message }}
        </span>
    </clr-alert-item>
  </clr-alert>
</clr-alerts>
<div class="login-wrapper">
  <form class="login" (ngSubmit)="onLogIn()" [formGroup]="loginForm">
    <label class="title">
      {{'title' | translate}}
    </label>
    <div class="login-group">
      <div class="auth-source select">
        <select name="persona" id="persona" formControlName="persona">
          <option *ngFor="let persona of personaOptions" [value]="persona.value">{{persona.name | translate}}</option>
        </select>
      </div>
      <input #username class="username" type="text" id="loginUsername" [attr.placeholder]="'authentication.username' | translate" formControlName="email">
      <input class="password" type="password" id="loginPassword" [attr.placeholder]="'authentication.password' | translate" formControlName="password">
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">{{'authentication.next' | translate}}</button>
    </div>
  </form>
</div>
