<clr-datagrid #grid>
  <clr-dg-column [clrDgField]="'hostname'">{{'tasks.grid.columns.id' | translate}}</clr-dg-column>
  <clr-dg-column>
    {{'tasks.grid.columns.state' | translate}}
  </clr-dg-column>
  <clr-dg-column>
    {{'tasks.grid.columns.resId' | translate}}
  </clr-dg-column>
  <clr-dg-column>{{'tasks.grid.columns.message' | translate}}</clr-dg-column>
  <clr-dg-column>{{'tasks.grid.columns.resLink' | translate}}</clr-dg-column>

  <clr-dg-row *clrDgItems="let task of tasks" [clrDgItem]="node">
    <clr-dg-cell class="task-id">{{task.task_id}}</clr-dg-cell>
    <clr-dg-cell>{{task.state}}</clr-dg-cell>
    <clr-dg-cell>{{task.resource_id}}</clr-dg-cell>
    <clr-dg-cell>{{task.message}}</clr-dg-cell>
    <clr-dg-cell>{{task.resource_link}}</clr-dg-cell>
  </clr-dg-row>

</clr-datagrid>
