@import "~@clr/ui/src/color/utils/_colors.clarity.scss";

.main-container .content-container .content-area {
  padding: 0;
}

.header .header-actions {
  > .dropdown .dropdown-toggle.nav-text {
    padding-left: 1rem;

    clr-icon[shape='user'] {
      left: 0.75rem;
    }
  }

  .active-nodes {
    display: flex;
    align-items: center;

    clr-icon[shape='circle'] {
      margin-right: 10px;
    }
  }
  .nav-icon:after {
    content: "";
    position: absolute;
    display: inline-block;
    top: .41667rem;
    right: 0;
    width: 1px;
    height: 1.66667rem;
    background: $clr-near-white;
    opacity: .15;
  }

  .nav-icon:nth-child(2):before {
    content: "";
    position: absolute;
    display: inline-block;
    top: .41667rem;
    width: 1px;
    height: 1.66667rem;
    background: $clr-near-white;
    opacity: .15;
  }
}

.clr-vertical-nav {
  label.nav-header {
    color: $white;
    line-height: 1.5rem;
  }
  .nav-divider {
    border: 1px solid $offWhite;
  }
}

// Add right border to active link, force white nav icon
.clr-vertical-nav.has-icons {
  .nav-link.active,
  .nav-link:hover,
  .nav-group-content:hover {
    border-right: 5px solid $clr-action-blue-light;
    .nav-icon {
      fill: #fff;
    }
  }
  .nav-group-children .nav-link {
    padding-left: 1.5rem;
    height: 2rem;
    line-height: 2rem;

    .nav-icon {
      height: .9rem;
      width: .9rem;
    }
  }
}

.alert-app-level.alert-danger {
  .alert-icon {
    color: $white;
  }
  .close clr-icon {
    fill: $white;
    color: $white;
  }
  .alert-text {
    color: $white;
  }
}

.datagrid-host {
  padding-top: 0;
  height: auto !important;
}

.header .dropdown button.dropdown-toggle:not(.btn) {
  color: $white;
}

.page-title {
  margin-top: 0;
  word-break: break-all;

  clr-icon {
    margin-top: -5px;
  }
  .dropdown-toggle {
    font-size: .75rem;
    padding-right: 15px;
  }
}
form .form-group>label {
  text-align: right !important;
  padding-right: 10px;
}

.modal form {
  .select {
    min-width: 150px;
  }
}
