@import './theme';

.graph-placeholder {
  width: 100%;
  height: auto;
}

.bg-header {
  background-color: $clr-action-blue-lightest;
}

.bg-dark {
  background-color: #001622;

  .nav {
    box-shadow: none;

    .nav-link {
      text-transform: uppercase;
      color: $clr-action-blue-lightest;

      &.active,
      &:hover {
        color: $clr-action-blue-light-midtone;
      }
    }
  }
}
.clr-vertical-nav {
  label.nav-header {
    color: $white;
    line-height: 1.5rem;
  }
  .nav-divider {
    border: 1px solid $offWhite;
  }
}
.progress {
  &.warning {
    > progress {
      color: $clr-yellow;
    }
    > progress::-webkit-progress-value {
      background-color: $clr-yellow;
    }
    > progress::-moz-progress-bar {
      background-color: $clr-yellow;
    }
  }

  &.black {
    > progress {
      color: #000;
    }
    > progress::-webkit-progress-value {
      background-color: #000;
    }
    > progress::-moz-progress-bar {
      background-color: #000;
    }
  }
}

.progress-with-point {
  position: relative;

  .progress-point {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 20%;
    transform: translateX(-10px);
    border: 7px solid;
    border-radius: 24px;
    background-color: #fff;

    &.success {
      border-color: $clr-green-dark-midtone;
    }

    &.warning {
      border-color: $clr-yellow;
    }

    &.danger {
      border-color: $clr-red-light-midtone;
    }
  }
}

// Joyride styles
.joyride-step__container {
  font-family: $clr-font;
  border-radius: $clr-global-borderradius;

  .joyride-step__title {
    color: $clr-near-black !important;
    font-size: 0.916667rem;
    font-weight: 200;
  }

  .joyride-step__body {
    font-size: .583333rem;
  }

  .joyride-step__next-button, .joyride-step__done-button {
    padding-left: 0.25rem;
  }

  button.joyride-button {
    // Unfortunately we need to copy the Clarity button styles directly and use !important
    // to override some of them as Joyride uses ng-style for many of its applied theme styles.
    // These are Clarity .btn .btn-primary and .btn-small styles
    display: inline-block;
    -webkit-appearance: none !important;
    border-radius: $clr-global-borderradius;
    border: 1px solid !important;
    min-width: 2rem;
    max-width: 15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: 500;
    padding: 0 0.5rem;
    border-color: $clr-action-blue !important;
    background-color: $clr-action-blue !important;;
    color: $white;
    line-height: calc(1rem - 1px);
    letter-spacing: 0.073em;
    font-size: $clr-typography-xxsmalltext;
    height: 1rem !important;
    &:hover {
      background-color: $clr-action-blue-dark !important;
      color: $clr-action-blue-lightest !important;
    }
  }
}
