// Only include variable definitions as this file should be safe to pull in to any component without polluting
// components with unused/duplicate CSS rules.

@import "~@clr/ui/src/color/utils/_colors.clarity.scss";

// Global colors
$white: #fff;
$offWhite: #eee;
$lightBlue: #49AFD9;

// Clarity Vertical Nav - dark theme
$clr-vertical-nav-bg-color: #383F43;
$clr-vertical-nav-top-padding: 0;
$clr-vertical-nav-item-height: 2.5rem;
$clr-vertical-nav-icon-size: 1rem;
$clr-vertical-nav-icon-right-margin: 0.75rem;
$clr-vertical-nav-item-color: $white;
$clr-vertical-nav-item-active-color: $white;
$clr-vertical-nav-header-color: $white;
$clr-vertical-nav-hover-bg-color: $clr-action-blue-light-midtone;
