/* You can add global styles to this file, and also import other style files */

.main-container .content-container .content-area {
  padding: 0;
}

.graph-placeholder {
  width: 100%;
  height: auto;
}

.bg-header {
  background-color: #e4ecf0
}

.bg-dark {
  background-color: #001622;
}

.bg-dark .nav {
  box-shadow: none;
}

.bg-dark .nav .nav-link {
  text-transform: uppercase;
  color: #E4ECF0;
}
.bg-dark .nav .nav-link.active, .bg-dark .nav .nav-link:hover {
  color: #009DDA;
}

.progress.warning > progress {
  color: #C3CD23;
}

.progress.warning > progress::-webkit-progress-value {
  background: #C3CD23;
}

.progress.warning > progress::-moz-progress-bar {
  background: #C3CD23;
}

.progress.black > progress {
  color: #000;
}

.progress.black > progress::-webkit-progress-value {
  background: #000;
}

.progress.black > progress::-moz-progress-bar {
  background: #000;
}

.progress-with-datapoint {
  position: relative;
}

.progress-with-datapoint .progress-data-point {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border: 7px solid;
  top: -2px;
  left: 20%;
  border-radius: 24px;
}

.progress-with-datapoint .progress-data-point.success {
  border-color: #318700;
}

.progress-with-datapoint .progress-data-point.warning {
  border-color: #C3CD23;
}

.progress-with-datapoint .progress-data-point.danger {
  border-color: #e62700;
}
