<div class="p-2 break-word">
  <h2 class="page-title">
    <clr-icon shape="block" size="36"></clr-icon>
    {{'blocks.title' | translate}}: {{block?.number}} {{block?.hash}}
  </h2>

  <div>
    <table class="table table-vertical">
      <tbody>
      <tr>
        <th>{{'transactions.parentHash' | translate}}</th>
        <td>{{block?.parentHash}}</td>
      </tr>
      <tr>
        <th>{{'transactions.nonce' | translate}}</th>
        <td>{{block?.nonce}}</td>
      </tr>
      <tr>
        <th>{{'transactions.size' | translate}}</th>
        <td>{{block?.size}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<app-transactions-list [transactions]="block?.transactions" [blockNumber]="block?.number"></app-transactions-list>
