<div class="p-2">
  <h3 class="mt-0">{{'testing.testingGround' | translate}}</h3>

  <clr-tabs class="my-2">
    <clr-tab>
      <button clrTabLink>{{'testing.transactionCreation' | translate}}</button>
      <clr-tab-content *clrIfActive>
        <p>
          {{'testing.transactionCreationHint' | translate}}
        </p>
        <form (ngSubmit)="onSubmitData()" [formGroup]="dataForm">
          <div class="form-group">
            <label for="data-input-from" [ngClass]="{'required': isTransaction}">{{'testing.from' | translate}}</label>
            <input id="data-input-from" type="text" placeholder="0x0123456789abcdefgh0123456789abcdefgh0123" required
                   formControlName="from">
          </div>
          <div class="form-group">
            <label for="data-input-to" class="required">{{'testing.to' | translate}}</label>
            <input id="data-input-to" type="text" placeholder="0x0123456789abcdefgh0123456789abcdefgh0123" required
                   formControlName="to">
          </div>
          <div class="form-group">
            <label for="data-input-text" [ngClass]="{'required': dataForm.value.value.length === 0}">{{'testing.data' |
              translate}}</label>
            <textarea id="data-input-text" class="mb-1" name="userText" placeholder="0x0123456789abcdefgh..." rows="10"
                      required formControlName="text"></textarea>
          </div>
          <div class="form-group">
            <label for="data-input-text" [ngClass]="{'required': dataForm.value.text.length === 0}">{{'testing.value' |
              translate}}</label>
            <input id="data-input-value" type="text" placeholder="0x0123456789abcdefgh..." required
                   formControlName="value">
          </div>
          <div class="form-group">
            <label>{{'testing.action' | translate}}</label>
            <div class="radio-inline">
              <input type="radio" id="data-input-type-transaction" [value]="transactionActionOptions.transaction"
                     formControlName="type">
              <label for="data-input-type-transaction">{{'testing.transaction' | translate}}</label>
            </div>
            <div class="radio-inline">
              <input type="radio" id="data-input-type-call" [value]="transactionActionOptions.call"
                     formControlName="type">
              <label for="data-input-type-call">{{'testing.call' | translate}}</label>
            </div>
          </div>
          <button class="btn btn-primary" [disabled]="dataForm.invalid">
            {{'testing.submit' | translate}}
          </button>
        </form>
        <div class="inset-box mt-1">
          <div class="row flex-items-xs-middle">
            <div class="col-xs">
              <small class="text-muted">
                {{isTransaction ? ('testing.transactionHash' | translate) : ('testing.result' | translate)}}
              </small>
              <span #dataHashRef>{{dataHash}}</span>
            </div>
            <div class="col-xs-2 text-right" [class.invisible]="!dataHash">
              <button type="button" class="btn btn-sm btn-link" (click)="onCopyDataHash()" [disabled]="!dataHash">
                {{'testing.copy' | translate}}
              </button>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>


