.inset-box {
  min-height: 1.5rem;
  padding: 0 0.5rem;
  border: solid 1px #ccc;
  border-radius: 0.125rem;
  background-color: #fff;
}

.inset-box.inset-box-pad-lg {
  padding: 0.5rem;
}

.inset-box.inset-box-dark {
  background-color: #fafafa;
}
