<div class="p-2">
  <h3 class="mt-0">{{'testing.testingGround' | translate}}</h3>

  <clr-tabs class="my-2">
    <clr-tab>
      <button clrTabLink>{{'testing.dataInput' | translate}}</button>
      <clr-tab-content *clrIfActive>
        <p>
          {{'testing.dataInputHint' | translate}}
        </p>
        <form (ngSubmit)="onSubmitData()" [formGroup]="dataForm">
          <div class="form-group">
            <label for="data-input-from" class="required">{{'testing.from' | translate}}</label>
            <input id="data-input-from" type="text" required formControlName="from">
          </div>
          <div class="form-group">
            <label for="data-input-to" class="required">{{'testing.to' | translate}}</label>
            <input id="data-input-to" type="text" required formControlName="to">
          </div>
          <div class="form-group">
            <label for="data-input-text" class="required">{{'testing.data' | translate}}</label>
            <textarea id="data-input-text" class="mb-1" name="userText" rows="10" required formControlName="text"></textarea>
          </div>
          <button class="btn btn-primary" [disabled]="dataForm.invalid">{{'testing.submitData' | translate}}</button>
        </form>
        <div class="inset-box mt-1">
          <div class="row flex-items-xs-middle">
            <div class="col-xs">
              <small class="text-muted">{{'testing.transactionHash' | translate}}</small>
              <span #dataHashRef>{{dataHash}}</span>
            </div>
            <div class="col-xs-2 text-right" [class.invisible]="!dataHash">
              <button type="button" class="btn btn-sm btn-link" (click)="onCopyDataHash()" [disabled]="!dataHash">{{'testing.copy' | translate}}</button>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>

    <clr-tab>
      <button clrTabLink>{{'testing.smartContractUpload' | translate}}</button>
      <clr-tab-content *clrIfActive>
        <p>
          {{'testing.smartContractHint' | translate}}
        </p>
        <form (ngSubmit)="onSubmitSmartContract()" [formGroup]="smartContractForm">
          <div class="form-group">
            <label for="smart-contract-from" class="required">{{'testing.from' | translate}}</label>
            <input id="smart-contract-from" type="text" required formControlName="from">
          </div>
          <div class="form-group">
            <label for="smart-contract-file" class="required">{{'testing.file' | translate}}</label>
            <input id="smart-contract-file" type="file" name="userFile" required (change)="onSmartContractFileChange($event)">
          </div>
          <button class="btn btn-primary" [disabled]="smartContractForm.invalid">{{'testing.submitData' | translate}}</button>
          <div class="inset-box mt-1">
            <div class="row flex-items-xs-middle">
              <div class="col-xs">
                <small class="text-muted">{{'testing.contractAddress' | translate}}</small>
                <span #smartContractHashRef>{{smartContractHash}}</span>
              </div>
              <div class="col-xs-2 text-right" [class.invisible]="!smartContractHash">
                <button type="button" class="btn btn-sm btn-link" (click)="onCopySmartContractHash()" [disabled]="!smartContractHash">{{'testing.copy' | translate}}</button>
              </div>
            </div>
          </div>
        </form>
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>


