.signup {
  .form-group {
    input {
      min-width: 220px;
    }
    .select {
      width: 220px;
    }
    .clr-input-wrapper {
      height: inherit;
    }
  }
}
.logo {
  text-align: center;
  margin-top: 1rem;
}
form, button {
  margin-top: 1rem;
  label {
    text-align: left !important;
  }
}

.centered {
  align-items: center;
}


