<div class="main-container signup">
  <header class="header-7">
    <div class="branding">
      <a [routerLink]="['/']" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{ 'title' | translate }}</span>
      </a>
    </div>
    <div class="header-actions sign centered">
      <a [routerLink]="['/auth', 'login']" class="nav-link nav-icon">{{ 'nav.login' | translate }}</a>
      <a class="vmware-logo qa-vm-label" rel="noopener" target="_blank" href="http://www.vmware.com/"></a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
      <div class="clr-row flex-items-xs-center">
        <div class="clr-colxl-8 clr-col-lg-12">
          <h1>{{ 'title' | translate }}</h1>
          <p>{{ 'signUp.description' | translate }}</p>
          <h4>{{ 'signUp.callToAction' | translate }}</h4>
        </div>
      </div>
      <div class="clr-row flex-items-xs-center mt-1" *ngIf="errorMessage">
        <div class="clr-colxl-8 clr-col-lg-12">
          <clr-alert [clrAlertClosable]="false" [clrAlertType]="'danger'">
            <div clr-alert-item class="alert-item">
                  <span class="alert-text">
                      {{errorMessage}}
                  </span>
              <div class="alert-actions">
                <a [routerLink]="['/auth', 'login']">{{ 'nav.login' | translate }}</a>
              </div>
            </div>
          </clr-alert>
        </div>
      </div>
      <form id="signupForm" [formGroup]="signupForm" (ngSubmit)="signUp()">
        <section class="form-block">
          <div class="clr-row flex-items-xs-center call-outs">
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="firstName">{{ 'signUp.form.firstName' | translate }}</label>
                <input type="text" id="firstName" formControlName="firstName">
              </div>
            </div>
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="lastName">{{ 'signUp.form.lastName' | translate }}</label>
                <input type="text" id="lastName" formControlName="lastName">
              </div>
            </div>
          </div>
          <div class="clr-row flex-items-xs-center call-outs">
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="email">{{ 'signUp.form.email' | translate }}</label>
                <div class="clr-control-container" [ngClass]="{'clr-error': signupForm.controls.email.errors && !signupForm.controls.email.pristine && signupForm.controls.email.touched}">
                  <div class="clr-input-wrapper">
                    <input type="text" id="email" formControlName="email">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span *ngIf="signupForm.controls.email.errors && !signupForm.controls.email.pristine && signupForm.controls.email.touched" class="clr-subtext">
                     {{ 'signUp.form.emailValMsg' | translate }}
                  </span>
                </div>
              </div>
            </div>
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="password">{{ 'signUp.form.password' | translate }}</label>
                <div class="clr-control-container" [ngClass]="{'clr-error': signupForm.controls.password.errors && !signupForm.controls.password.pristine && signupForm.controls.password.touched}">
                  <div class="clr-input-wrapper">
                    <input type="password" id="password" formControlName="password">
                    <clr-icon class="clr-validate-icon" shape="exclamation-circle"></clr-icon>
                  </div>
                  <span *ngIf="signupForm.controls.password.errors && !signupForm.controls.password.pristine && signupForm.controls.password.touched" class="clr-subtext">
                    {{ 'users.addUserForm.errors.password.minLength' | translate }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row flex-items-xs-center call-outs">
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="company">{{ 'signUp.form.company' | translate }}</label>
                <input type="text" id="company" formControlName="company">
              </div>
            </div>
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="phoneNumber">Phone Number</label>
                <input type="text" id="phoneNumber" formControlName="phoneNumber">
              </div>
            </div>
          </div>
          <div class="clr-row flex-items-xs-center call-outs">
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="jobTitle">{{ 'signUp.form.jobTitle' | translate }}</label>
                <input type="text" id="jobTitle" formControlName="jobTitle">
              </div>
            </div>
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="country">{{ 'signUp.form.country' | translate }}</label>
                <div class="select">
                  <select id="country" formControlName="country">
                    <option *ngFor="let country of countryList" [value]="country">
                      {{ country }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row flex-items-xs-center call-outs">
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="relationship">{{ 'signUp.form.relationship' | translate }}</label>
                <div class="select">
                  <select id="relationship" formControlName="relationship">
                    <option value="Customer">{{ 'signUp.form.relationshipOptions.customer' | translate }}</option>
                    <option value="Employee">{{ 'signUp.form.relationshipOptions.employee' | translate }}</option>
                    <option value="Ecosystems Partner">{{ 'signUp.form.relationshipOptions.ecosystem' | translate }}</option>
                    <option value="Solution Provider">{{ 'signUp.form.relationshipOptions.solutions' | translate }}</option>
                    <option value="Service Provider">{{ 'signUp.form.relationshipOptions.service' | translate }}</option>
                    <option value="Reseller Partner">{{ 'signUp.form.relationshipOptions.reseller' | translate }}</option>
                    <option value="Other">{{ 'signUp.form.relationshipOptions.other' | translate }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="clr-colxl-4 clr-col-lg-6 clr-col-md-12">
              <div class="form-group">
                <label for="numberOfEmployees">{{ 'signUp.form.numberOfEmployees' | translate }}</label>
                <div class="select">
                  <select id="numberOfEmployees" formControlName="numberOfEmployees">
                    <option value="0-99">0-99</option>
                    <option value="100-499">100-499</option>
                    <option value="500-999">500-999</option>
                    <option value="1000-4999">1000-4999</option>
                    <option value="5000+">5000+</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="clr-row flex-items-xs-center">
            <div class="clr-colxl-8 clr-col-lg-12">
              <button type="submit" class="btn btn-primary" [disabled]="signupForm.invalid">{{ 'signUp.form.submit' | translate }}</button>
            </div>
          </div>
        </section>
      </form>
    </div>
  </div>
</div>
