<div class="p-2 bg-header">
  <div class="flex-items-xs-middle media">
    <h2 class="page-title">
      <clr-icon shape="scroll" size="36"></clr-icon> {{smartContract?.contract_id}}
    </h2>
  </div>
  <div class="form">
    <div class="form-group">
      <label>{{'smartContracts.name' | translate}}</label>
      <input type="text" [value]="smartContract?.contract_id" readonly/>
    </div>
    <div class="form-group">
      <label>{{'smartContracts.owner' | translate}}</label>
      <input type="text" [value]="smartContract?.owner" readonly />
    </div>
    <div class="form-group">
      <label> {{'smartContracts.version.title' | translate}}</label>
        <div class="select">
          <select id="selected-version"
                  name="version"
                  [(ngModel)]="versionSelected"
                  (change)="getVersionInfo()">
            <option [value]="undefined" *ngIf="!versionSelected">{{'smartContracts.version.selectVersion' | translate}}</option>
            <option *ngFor="let versionVar of smartContract?.versions" [value]="versionVar.version">{{ versionVar.version }}</option>
          </select>
        </div>
    </div>
    <div class="form-group" *ngIf="version">
      <label> {{'smartContracts.version.address' | translate}}</label>
      <input type="text" [value]="version?.address" readonly />
    </div>
  </div>
</div>
<div class="p-2">
  <app-smart-contract-version *ngIf="version" [version]="version"></app-smart-contract-version>
</div>

