<div class="p-2">
  <h2 class="title">
    {{ 'details.blockchain' | translate }}:
    {{ blockchainService.selectedBlockchain?.consortium_name }}
  </h2>

  <!-- Used for detecting the page is set with all data -->
  <span *ngIf="ready" id="details-page-ready"></span>

  <clr-tabs>

    <!-- Blockchain Information -->
    <clr-tab>
      <button clrTabLink [routerLink]="['../blockchain']" id="details-page-about-tab-button">
        {{ 'details.tabs.blockchain' | translate }}
      </button>
      <clr-tab-content id="content1" *clrIfActive="selectedTab === 'blockchain'">
        <div class="card blockchain-card">
          <div class="card-header">
            {{ 'details.cardTitle' | translate }}
          </div>
          <div class="card-block">
            <div class="card-text">
              <span class="help-text">{{ 'details.supportHint' | translate }}</span>
            </div>
            <div class="card-top"></div>
            <div class="logos-container small-viewport-logo-hide">
              <div class="logos-position">
                <div class="logo-column">
                  <div *ngIf="blockchainType === 'DAML'">
                    <div class="logo-type">{{ 'details.logo.exec' | translate }}</div>
                    <div class="card logo-card">
                      <img class="daml-logo" src="static/images/contract-types/daml.svg"
                          [attr.alt]="'blockchainWizard.engine.damlTitle' | translate">
                    </div>
                    <div class="logo-version">
                      {{ execEngineName }}
                      <div class="logo-subversion">{{ execEngineVersion }}</div>
                      <div *ngIf="execEngineVersionSnapshot" class="logo-subversion-snapshot">{{ execEngineVersionSnapshot }}</div>
                      <div *ngIf="execEngineVersionSnapshot2" class="logo-subversion-snapshot">{{ execEngineVersionSnapshot2 }}</div>
                    </div>
                  </div>
                  <div *ngIf="blockchainType === 'ETHEREUM'">
                    <div class="logo-type">{{ 'details.logo.exec' | translate }}</div>
                    <div class="card logo-card">
                      <img class="eth-logo" src="static/images/contract-types/eth.svg"
                          [attr.alt]="'blockchainWizard.engine.ethTitle' | translate">
                    </div>
                    <div class="logo-version">
                      {{ execEngineName }}
                      <div class="logo-subversion">{{ execEngineVersion }}</div>
                    </div>
                  </div>
                </div>
                <clr-icon class="icon-link" shape="link"></clr-icon>
                <div class="logo-column">
                  <div class="logo-type">{{ 'details.logo.consensus' | translate }}</div>
                  <div class="card logo-card">
                      <img class="concord-logo" src="static/images/concord/concord-logo.png"
                          [attr.alt]="'concord'">
                  </div>
                  <div class="logo-version">
                    {{ concordName }}
                    <div class="logo-subversion">{{ concordVersion }}</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="prop-container">
              <label>{{ 'dashboard.organizationId' | translate }}:</label>
              <div class="prop-value" id="details-page-organization-id">
                {{ orgId }}
                <concord-copy-to-clipboard-button
                  class="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="orgId"
                  [size]="12"></concord-copy-to-clipboard-button>
              </div>
            </div>
            <div class="prop-container">
              <label>{{ 'dashboard.consortiumId' | translate }}:</label>
              <div class="prop-value" id="details-page-consortium-id">
                {{ blockchainService?.selectedBlockchain?.consortium_id }}
                <concord-copy-to-clipboard-button
                  class="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="blockchainService?.selectedBlockchain?.consortium_id"
                  [size]="12"></concord-copy-to-clipboard-button>
              </div>
            </div>
            <div class="prop-container">
              <label>{{ 'dashboard.blockchainId' | translate }}:</label>
              <div class="prop-value" id="details-page-blockchain-id">
                {{ blockchainService?.selectedBlockchain?.id }}
                <concord-copy-to-clipboard-button
                  class="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="blockchainService?.selectedBlockchain?.id"
                  [size]="12"></concord-copy-to-clipboard-button>
              </div>
            </div>
            <div class="prop-container">
              <label>{{ 'details.productVersion' | translate }}:</label>
              <div class="prop-value" id="details-page-product-version">
                {{ productVersion }}
                <concord-copy-to-clipboard-button
                  class="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="productVersion"
                  [size]="12"></concord-copy-to-clipboard-button>
              </div>
            </div>
            <div class="prop-container" *ngIf="execEngineVersionFull">
              <label>{{ 'details.execEngineVersion' | translate }}:</label>
              <div class="prop-value" id="details-page-exec-engine-version">
                {{ execEngineVersionFull }}
                <concord-copy-to-clipboard-button
                  class="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="execEngineVersionFull"
                  [size]="12"></concord-copy-to-clipboard-button>
              </div>
            </div>
            <div class="prop-container">
              <label>{{ 'details.createdBy' | translate }}:</label>
              <div class="prop-value" id="details-page-created-by">
                {{ createdBy }}
                <concord-copy-to-clipboard-button
                  class="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="createdBy"
                  [size]="12"></concord-copy-to-clipboard-button>
              </div>
            </div>
            <div class="prop-container">
              <label>{{ 'details.createdDate' | translate }}:</label>
              <div class="prop-value">
                <span id="details-page-created-date">
                  {{ createdDate | date: 'medium' }}
                </span>
                <span class="prop-small">({{ (createdDateLocalTimezone) }})</span>
              </div>
              <div class="prop-value-nextline" *ngIf="createdDateISO">
                <span class="prop-small">{{ createdDateISO }} (UTC, ISO 8601)</span>
                <concord-copy-to-clipboard-button
                  class="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="createdDateISO"
                  [size]="12"></concord-copy-to-clipboard-button>
              </div>
            </div>
            <div class="card-bottom"></div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>



    <!-- Committer Nodes Information -->
    <clr-tab>
      <button clrTabLink [routerLink]="['../committers']" id="details-page-committers-tab-button">
        {{ 'details.tabs.committers' | translate }} {{ committers.length ? '('+committers.length+')' : '(_)' }}
      </button>
      <clr-tab-content *clrIfActive="selectedTab === 'committers'">
        <div class="clr-row">
          <div *ngFor="let committer of committers; let i = index" class="clr-col-lg-6 clr-col-12">
            <div class="card" [attr.id]="'details-page-committer-' + i">
              <div class="card-header">
                {{ committer.name_ordinal }}
                <span *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
                  <button *ngIf="securePasswordEnabled"
                    class="btn btn-sm btn-link card-head-button" (click)="fetchSecurePassword(committer)">
                    {{ 'details.ssh.buttonTitle' | translate }}
                  </button>
                </span>
                <button *concordFeatureFlag="'node_dashboard'"
                  [routerLink]="['../../nodes/' + committer.id]" class="btn btn-sm btn-link card-head-button">
                  {{ 'details.nodeMetrics' | translate }}
                </button>
                <span class="node-short-id">{{ committer.id.split('-')[0] }}</span>
              </div>
              <div class="card-block">
                <div class="nodeprop-container">
                  <label>{{ 'details.node.id' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-committer-' + i + '-id'">
                    {{ committer.id }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="committer.id"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="committer.public_ip">
                  <label>{{ 'details.node.publicIp' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-committer-' + i + '-public-ip'">
                    {{ committer.public_ip }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="committer.public_ip"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="committer.private_ip">
                  <label>{{ 'details.node.privateIp' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-committer-' + i + '-private-ip'">
                    {{ committer.private_ip }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="committer.private_ip"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="committer.rpc_url">
                  <label>{{ 'details.committer.ethrpc' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-committer-' + i + '-rpc-url'">
                    {{ committer.rpc_url }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="committer.rpc_url"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container">
                  <label>{{ 'details.node.zoneId' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-committer-' + i + '-zone-id'">
                    {{ committer.zone_id }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="committer.zone_id"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container nodeprop-inner" *ngIf="getZoneInfo(committer.zone_id)">
                  <div class="nodeprop-value" [attr.id]="'details-page-committer-' + i + '-zone-human-readable'">
                    <span class="nodeprop-inner-value">
                      {{ getZoneInfo(committer.zone_id) }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>


    <!-- Client Nodes Information -->
    <clr-tab *ngIf="blockchainService.type === 'DAML'">
      <button clrTabLink [routerLink]="['../clients']" id="details-page-clients-tab-button">
        {{ 'details.tabs.clients' | translate }} {{ clients.length ? '('+clients.length+')' : '(_)' }}
      </button>
      <clr-tab-content *clrIfActive="selectedTab === 'clients'">
        <div class="clr-row">
          <div *ngFor="let client of clients; let i = index" class="clr-col-lg-6 clr-col-12">
            <div class="card" [attr.id]="'details-page-client-' + i">
              <div class="card-header">
                {{ client.name_ordinal }}
                <span *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
                  <button *ngIf="securePasswordEnabled"
                    class="btn btn-sm btn-link card-head-button" (click)="fetchSecurePassword(client)">
                    {{ 'details.ssh.buttonTitle' | translate }}
                  </button>
                </span>
                <button *concordFeatureFlag="'node_dashboard'"
                  [routerLink]="['../../nodes/' + client.id]" class="btn btn-sm btn-link card-head-button">
                  {{ 'details.nodeMetrics' | translate }}
                </button>
                <span class="node-short-id">{{ client.id.split('-')[0] }}</span>
              </div>
              <div class="card-block">
                <div class="nodeprop-container">
                  <label>{{ 'details.node.id' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-id'">
                    {{ client.id }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="client.id"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="client.group_id">
                  <label>{{ 'details.client.groupId' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-group-id'">
                    {{ client.group_id }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="client.group_id"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="client.group_name">
                  <label>{{ 'details.client.groupName' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-group-name'">
                    {{ client.group_name }}
                    <concord-copy-to-clipboard-button class="ctc-btn-inline" [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right" [value]="client.group_name" [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="client.public_ip">
                  <label>{{ 'details.node.publicIp' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-public-ip'">
                    {{ client.public_ip }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="client.public_ip"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="client.private_ip">
                  <label>{{ 'details.node.privateIp' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-private-ip'">
                    {{ client.private_ip }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="client.private_ip"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="client.auth_jwt_url">
                  <label>{{ 'details.client.authUrl' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-auth-url'">
                    {{ client.auth_jwt_url }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="orgId"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container" *ngIf="client.url">
                  <label>{{ 'details.client.endpoint' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-url'">
                    {{ client.url }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="client.url"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container">
                  <label>{{ 'details.node.zoneId' | translate }}:</label>
                  <div class="nodeprop-value" [attr.id]="'details-page-client-' + i + '-zone-id'">
                    {{ client.zone_id }}
                    <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="client.zone_id"
                      [size]="12"></concord-copy-to-clipboard-button>
                  </div>
                </div>
                <div class="nodeprop-container nodeprop-inner" *ngIf="getZoneInfo(client.zone_id)">
                  <div class="nodeprop-value">
                    <span class="nodeprop-inner-value" [attr.id]="'details-page-client-' + i + '-zone-human-readable'">
                      {{ getZoneInfo(client.zone_id) }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </clr-tab-content>
    </clr-tab>


  </clr-tabs>
</div>

<clr-modal [(clrModalOpen)]="securePasswordModalShown" class="ssh-info">
  <h3 class="modal-title">{{ securePasswordNode?.name_ordinal }} - {{ 'details.ssh.modalTitle' | translate }}</h3>
  <div class="modal-body ssh-info-body">
    <div *ngIf="securePasswordFetching" class="spinner-container">
      <clr-spinner clrMedium class="spinner spinner-margin"></clr-spinner>
    </div>
    <div *ngIf="!securePasswordFetching">
      <p class="no-margin-top">{{ 'details.ssh.description' | translate }}</p>
      <p class="p4">{{ 'details.ssh.credentialsName' | translate }}</p>
      <div class="clr-row ssh-field">
        <div class="clr-col-3">{{ 'details.ssh.username' | translate }}</div>
        <div class="clr-col-7 ssh-value">{{ securePasswordData?.username }}</div>
        <div class="clr-col-1">
          <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="securePasswordData?.username"
                      [size]="12"></concord-copy-to-clipboard-button>
        </div>
      </div>
      <div class="clr-row ssh-field">
        <div class="clr-col-3">{{ 'details.ssh.password' | translate }}</div>
        <div class="clr-col-7 ssh-value">{{
          securePasswordHidden ? '•••••••••••••••' : securePasswordData?.password
        }}<span class="password-view-toggle">
          <button class="btn btn-link button-show-hide-password" (click)="securePasswordHiddenToggle()">
            <clr-icon shape="eye" class="icon-show-hide-password"></clr-icon>
          </button>
        </span>
        </div>
        <div class="clr-col-1">
          <concord-copy-to-clipboard-button
                      class="ctc-btn-inline"
                      [tooltip]="'common.copyToClip' | translate"
                      tooltipDirection="top-right"
                      [value]="securePasswordData?.password"
                      [size]="12"></concord-copy-to-clipboard-button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="securePasswordModalClose()">{{ 'details.ssh.close' | translate }}</button>
  </div>
</clr-modal>
