[Unit]
Description=VMware Blockchain Configuration+Provisioning Service Launcher
Wants=docker.service
Wants=network-online.target
After=docker.service
After=network-online.target

[Service]
ExecStart=/opt/vmware/blockchain/orchestrator-prereqs-launcher.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
