[Unit]
Description=VMware Blockchain Configuration+Provisioning Service Launcher
After=network-online.target
Requires=network-online.target
After=docker.service
Requires=docker.service

[Service]
ExecStart=/opt/vmware/blockchain/orchestrator-prereqs-launcher.sh
Restart=on-failure
RestartSec=30

[Install]
WantedBy=multi-user.target
