<div class="p-2 bg-header">
  <div class="row">
    <div class="col-md flex-items-xs-middle media">
      <a routerLink="/blocks">
        <clr-icon shape="circle-arrow" class="is-highlight" size="28" dir="left"></clr-icon>
      </a>
      <h2 class="mt-0 pl-1">{{block?.number}}</h2>
    </div>
  </div>
  <dl>
    <dt>{{'transactions.hash' | translate}}</dt>
    <dd>{{block?.hash}}</dd>
    <dt>{{'transactions.nonce' | translate}}</dt>
    <dd>{{block?.nonce}}</dd>
    <dt>{{'transactions.parentHash' | translate}}</dt>
    <dd>{{block?.parentHash}}</dd>
    <dt>{{'transactions.hash' | translate}}</dt>
    <dd>{{block?.size}}</dd>
  </dl>
</div>

<div class="p-2">
  <h3 class="mt-0">{{'transactions.transactions' | translate}}</h3>
  <table class="table">
    <thead>
    <tr>
      <th class="text-left">{{'transactions.hash' | translate}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let transaction of block?.transactions">
      <td class="text-left">{{transaction.hash}}</td>
    </tr>
    </tbody>
  </table>
</div>
