# Common
*~
.metadata
bin/
tmp/
logs/
docker/config-public/concord*.config
docker/log*
docker/rocksdbdata*
docker/cockroachDB
docker/devdata/*

# Concord Specific
build/
.idea/
cmake-build-debug/
.cproject
.project
.settings/
.vscode/

# Helen Specific
target/
*.tmp
*.bak
*.swp

# VIM swap.
# Copied from https://github.com/github/gitignore/blob/master/Global/Vim.gitignore
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]

# clangd directory
.clangd/

# clang-based autocomplete flags
compile_commands.json

*~.nib
local.properties
.settings/*
.loadpath
.recommenders
.DS_Store
.project
*.jar
priv/www/index.html
priv/www/assets/*
helen/src/main/resources/static/assets/*
helen/src/main/resources/static/index.html
helen/log
*~

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Maven specific
.flattened-pom.xml

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.classpath
.scala_dependencies
.worksheet

# Hermes Specific
*~
*.pyc
igor.local.config
cockroachdb_test_local.sh
.vscode/*
/hermes/NORMALIZED_COMMANDS.txt.gz
hermes/.env
hermes/pickled*
hermes/report.json
hermes/lib/persephone/vmware/blockchain/deployment/v1

# Log files created by the build process
log
*.log

# Microservice specific
!/contract-compiler/bin

# Intellij specific
.idea
*.iml

build-local.sh
