[submodule "submodules/concord-bft"]
	path = concord/submodules/concord-bft
	url = https://github.com/vmware/concord-bft
[submodule "submodules/state-transfer"]
	path = concord/submodules/state-transfer
	url = https://github.com/vmwathena/state-transfer.git
