# Common
*~
.metadata
bin/
tmp/
logs/
docker/config-concord*/concord.config
docker/config-concord*/concord_with_hostnames.config
docker/config-public/concord*.config
docker/log*
docker/rocksdbdata*
docker/cockroachDB
docker/devdata/log*
docker/devdata/rocksdbdata*
docker/devdata/cockroachDB

# Concord Specific
build/
.idea/
cmake-build-debug/
.cproject
.project
.settings/
.vscode/

# Helen Specific
target/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/*
.loadpath
.recommenders
.DS_Store
.project
*.jar
priv/www/index.html
priv/www/assets/*
helen/src/main/resources/static/assets/*
helen/src/main/resources/static/index.html
*~

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# PyDev specific (Python IDE for Eclipse)
*.pydevproject

# CDT-specific (C/C++ Development Tooling)
.cproject

# CDT- autotools
.autotools

# Java annotation processor (APT)
.factorypath

# PDT-specific (PHP Development Tools)
.buildpath

# sbteclipse plugin
.target

# Tern plugin
.tern-project

# TeXlipse plugin
.texlipse

# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

# Maven specific
.flattened-pom.xml

# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet

.idea

# Hermes Specific
*~
*.pyc
igor.local.config
cockroachdb_test_local.sh
.vscode/*
/hermes/NORMALIZED_COMMANDS.txt.gz
hermes/.env

# Log files created by the build process
*.log

# Microservice specific
!/contract-compiler/bin
