# Doc: https://gitlab.eng.vmware.com/help/user/project/code_owners.html
#
# Groups are not supported until GitLab 12.1.  Until then, we have to list users
# one at a time.
#
# Rules defined later in the file take precedence, so we define a default first.
# I've just included a handful of people from across the blockchain team.
* @andrewstone @bjay @bsubramanian @hbhavsar @khank @kkeunwoo @machenbach @mandeab @mharrison @panamika @rmuschner @rsg @rvollmar @sanchitar @upshawa

# Here are the descriptions for our source tree.
# When editing these descriptions, do NOT add lines which:
# - Have no users, such as:
#     /foo/
#   This means that no reviews are needed.
# - Have one user, such as:
#    /foo/ @some_user
#   That means that some_user needs no reviews.
# In the above cases, it is better to remove the line and use the default rule.
/agent/ @khank @sanchitar @rsg
/buildall.sh @rvollmar @rsg @khank
/communication/ @rmuschner @andrewstone @machenbach @ysherman @tparvanov
/concord/ @upshawa @rmuschner @andrewstone @bjay @tkournik @ysherman @igolikov @petari @tparvanov
/csp-dev/ @machenbach @rvollmar @panamika @mandeab
/daml/ @rmuschner @upshawa @bjay @bhealy @ftudane @jmaki @mmiklos @mziolek
/docker/config-concord*/ @upshawa @rmuschner @andrewstone @bjay @tparvanov @ybuchnik @igolikov @petari
/docker/config-public/ @upshawa @rmuschner @andrewstone @bjay @tparvanov @ybuchnik @igolikov @petari
/docker/fluentd/ @hbhavsar @mharrison
/ethrpc/ @machenbach @panamika @mandeab
/helen/ @machenbach @panamika @mandeab @khank @sanchitar
/helen/src/main/resources/api-doc/api.yaml @machenbach @panamika @mandeab @tfidali @mharrison @khank
/hermes/ @rvollmar @rsg @khank
/Jenkinsfile @rvollmar @rsg
/performance/ @vlin @dparmar @rsg
/persephone/ @khank @sanchitar @rsg @panamika @mandeab
/src/ @rvollmar @rsg
/thin-replica-client/ @rmuschner @upshawa @andrewstone @bjay @ysherman @igolikov @tkournik
/ui/ @mharrison @hbhavsar @kkeunwoo @mandeab
/vars/ @rvollmar @rsg @khank
/kubernetes/ @bsubramanian @khank @rvollmar
/support/ @bsubramanian @khank
