# Doc: https://gitlab.eng.vmware.com/help/user/project/code_owners.html
#
# Groups are not supported until GitLab 12.1.  Until then, we have to list users
# one at a time.
#
# Rules defined later in the file take precedence, so we define a default first.
# I've just included a handful of people from across the blockchain team.
* @bfink @bjay @bsubramanian @hbhavsar @jameschang @khank @kkeunwoo @machenbach @mandeab @mharrison @panamika @rmuschner @rsg @rvollmar @sanchitar @tusharg @upshawa

# Here are the descriptions for our source tree.  I'm going to start out assuming
# we only need to create entries for items at the top level of our source tree.
# We can other features (file types, subdirectories, etc...) as needed.
/agent/ @jameschang @sanchitar
/blockchain-build/ @jameschang
/buildall.sh @rvollmar @rsg
/communication/ @bfink
/concord/ @bfink @rmuschner @andrewstone @upshawa
/concord/cmake/Findyaml-cpp.cmake @upshawa @rmuschner @andrewstone
/concord/src/config/ @upshawa @rmuschner @andrewstone
/concord/src/time/time_verification.cpp @bfink @upshawa @rmuschner @andrewstone
/concord/src/time/time_verification.hpp @bfink @upshawa @rmuschner @andrewstone
/concord/test/config_test.cpp @upshawa @rmuschner @andrewstone
/concord/test/resources/config_input/ @upshawa @rmuschner @andrewstone
/concord/test/resources/concord*.config @upshawa @rmuschner @andrewstone
/concord/tools/conc_genconfig.cpp @upshawa @rmuschner @andrewstone
/concord/tools/conc_reconfig.cpp @upshawa @rmuschner @andrewstone
/concord/README.md @bfink @upshawa @rmuschner @andrewstone
/contract-compiler/
/csp-dev/
/daml/ @rmuschner
/docker/
/docker/config-concord*/ @upshawa
/docker/config-public/ @upshawa
/docker-compose-agent.yml
/docker-compose-aux.yml
/docker-compose-concord.yml
/docker-compose-db.yml
/docker-compose-dev.yml
/docker-compose-ethrpc.yml
/docker-compose-helen.yml
/docker-compose-ui.yml
/docker/fluentd/ @hbhavsar @mharrison
/ethrpc/ @bfink
/helen/ @machenbach @panamika
/helen/src/main/resources/api-doc/api.yaml @machenbach @panamika @tfidali
/hermes/ @rvollmar @rsg
/Jenkinsfile @rvollmar @rsg
/kubernetes/ @bsubramanian
/performance/ @vlin @@dparmar @rsg
/persephone/ @jameschang @sanchitar
/pom.xml @jameschang
/protobuf/ @jameschang
/README.md
/src/ @rvollmar @rsg
/start_except.sh
/submodules/
/ui/ @mharrison @hbhavsar @tusharg @kkeunwoo @mandeab
/vars/ @rvollmar @rsg
