%%-*- mode: erlang -*-
{deps, [
  {webmachine, "1.10.*", {git, "git://github.com/webmachine/webmachine", {branch, "develop"}}},
  {protobuffs, ".*", {git, "git://github.com/beerriot/erlang_protobuffs", {branch, "ignore-no-match-dialyzer"}}}
]}.

{plugins, [
           {rebar3_protobuffs_plugin,
            {git, "git://github.com/beerriot/rebar3_protobuffs_plugin", {branch, "ignore-no-match-dialyzer"}}}
]}.

{provider_hooks, [{pre, [{compile, {protobuffs, compile}},
                         {clean, {protobuffs, clean}}]}]}.

{pre_hooks,
 [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{relx, [{release, {'helen', "0.1.0"},
         ['helen',
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [
    {dev, [
        {deps, [
            {sync, ".*", {git, "git://github.com/rustyio/sync.git", {branch, "master"}}}
        ]}
    ]},
    {prod, [
        {relx, [
            {dev_mode, false},
            {include_erts, true}
        ]}
    ]}
]}.
