<clr-tabs>
    <clr-tab>
        <button clrTabLink id="link1" [routerLink]="['../replicas']">{{'nodes.committers' | translate}}</button>
        <clr-tab-content id="content1" *clrIfActive="type === options.replicas">
          <clr-datagrid #grid>
            <clr-dg-column [clrDgField]="'hostname'">
              {{'nodes.committerName' | translate}}
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'id'">
              <ng-container *clrDgHideableColumn="{hidden: true}">
                {{'common.id' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column>
              {{'nodes.status' | translate}}
              <clr-dg-filter [clrDgFilter]="statusFilter">
                <concord-nodes-status-filter #statusFilter></concord-nodes-status-filter>
              </clr-dg-filter>
            </clr-dg-column>
            <clr-dg-column>
              {{'nodes.health' | translate}}
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.committersWithoutRPCURL">
              {{'nodes.endpoint' | translate}}
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.committersWithOnlyPublicIP">
              {{'nodes.address' | translate}}
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.committersWithOnlyPrivateIP">
              {{'nodes.addressPrivate' | translate}}
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.committersWithNoZoneInfo">
              {{'nodes.zone' | translate}}
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.committersWithNoZoneInfo">
              <ng-container *clrDgHideableColumn="{hidden: true}">
               {{'nodes.zoneId' | translate}}
              </ng-container>
            </clr-dg-column>

            <clr-dg-row *clrDgItems="let node of committers" [clrDgItem]="node">
              <clr-dg-action-overflow>
                <button [disabled]="!node.certificate" class="action-item" (click)="downloadCert(node)">{{'nodes.getCert' | translate}}</button>

                <concord-copy-to-clipboard-button [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right" [value]="getNodeInfo(node)" [classList]="'action-item'" [size]="12" [btnLabel]="'common.copyAll' | translate">
                </concord-copy-to-clipboard-button>
              </clr-dg-action-overflow>
              <clr-dg-cell>
                {{ node.name }}
              </clr-dg-cell>
              <clr-dg-cell>{{node.id}}</clr-dg-cell>
              <clr-dg-cell>{{node.state}}</clr-dg-cell>
              <clr-dg-cell [innerHTML]="node.healthHTML"></clr-dg-cell>
              <clr-dg-cell *ngIf="!nodesService.committersWithoutRPCURL">
                {{node.rpc_url}}
                <concord-copy-to-clipboard-button
                  classList="ctc-btn-inline dash-list"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="node.rpc_url"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!nodesService.committersWithOnlyPrivateIP">
                {{node.public_ip}}
                <concord-copy-to-clipboard-button
                  *ngIf="node.public_ip"
                  classList="ctc-btn-inline dash-list"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="node.public_ip"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!nodesService.committersWithOnlyPublicIP">
                {{node.private_ip}}
                <concord-copy-to-clipboard-button
                  *ngIf="node.private_ip"
                  classList="ctc-btn-inline dash-list"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-left"
                  [value]="node.private_ip"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!nodesService.committersWithNoZoneInfo">
                <a *ngIf="node?.zone?.id && node?.zone?.type !== cloudZone" [routerLink]="['../../zones/' + node.zone.id]">{{ node.zone_name }}</a>
                <span *ngIf="!node?.zone?.id || node?.zone?.type === cloudZone">{{ node.zone_name }}</span>
              </clr-dg-cell>
              <clr-dg-cell>
                {{ node.zone_id }}
                <concord-copy-to-clipboard-button classList="ctc-btn-inline dash-list" [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-left" [value]="node.zone_id" [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer></clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
    </clr-tab>
    <clr-tab *ngIf="blockchainType === engines.DAML">
        <button clrTabLink [routerLink]="['../clients']">{{'nodes.clients' | translate}}</button>
        <clr-tab-content *clrIfActive="type === options.clients">
          <clr-datagrid #grid>
            <clr-dg-column [clrDgField]="'group_name'" [clrDgSortOrder]="ascSort">
              {{'nodes.groupName' | translate}}
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'group_id'">
              <ng-container *clrDgHideableColumn="{hidden: true}">
                {{'nodes.groupID' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'hostname'">
              {{'nodes.clientName' | translate}}
            </clr-dg-column>
            <clr-dg-column [clrDgField]="'id'">
              <ng-container *clrDgHideableColumn="{hidden: true}">
                {{'nodes.clientId' | translate}}
              </ng-container>
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.clientsWithoutRPCURL">
              {{'nodes.endpoint' | translate}}
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.clientsWithOnlyPrivateIP">
              {{'nodes.address' | translate}}
            </clr-dg-column>
            <clr-dg-column *ngIf="!nodesService.clientsWithOnlyPublicIP">
              {{'nodes.addressPrivate' | translate}}
            </clr-dg-column>
            <clr-dg-column>
              {{'nodes.zone' | translate}}
            </clr-dg-column>
            <clr-dg-column>
              <ng-container *clrDgHideableColumn="{hidden: true}">
                {{'nodes.zoneId' | translate}}
              </ng-container>
            </clr-dg-column>

            <clr-dg-row *clrDgItems="let node of clients" [clrDgItem]="node">
              <clr-dg-action-overflow>
                <button [disabled]="!node.certificate" class="action-item" (click)="downloadCert(node)">{{'nodes.getCert' | translate}}</button>
                <concord-copy-to-clipboard-button [tooltip]="'common.copyToClip' | translate" tooltipDirection="top-right"
                  [value]="node.info" [classList]="'action-item'" [size]="12" [btnLabel]="'common.copyAll' | translate">
                </concord-copy-to-clipboard-button>
                <button class="action-item">{{'common.ssh' | translate}}</button>
              </clr-dg-action-overflow>
              <clr-dg-cell>
                {{ node.group_name }}
              </clr-dg-cell>
              <clr-dg-cell>
                {{ node.group_id }}
                <concord-copy-to-clipboard-button classList="ctc-btn-inline dash-list" [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-left" [value]="node.group_id" [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell>
                <a *ngIf="nodeDashboardEnabled" [routerLink]="['../' + node.id]">{{ node.name }}</a>
                <span *ngIf="!nodeDashboardEnabled">{{ node.name }}</span>
              </clr-dg-cell>
              <clr-dg-cell>
                {{ node.id }}
                <concord-copy-to-clipboard-button classList="ctc-btn-inline dash-list" [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-left" [value]="node.id" [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!nodesService.clientsWithoutRPCURL">
                {{node.url}}
                <concord-copy-to-clipboard-button
                  classList="ctc-btn-inline dash-list"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-left"
                  [value]="node.url"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!nodesService.clientsWithOnlyPrivateIP">
                {{node.public_ip}}
                <concord-copy-to-clipboard-button
                  *ngIf="node.public_ip"
                  classList="ctc-btn-inline dash-list"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="node.public_ip"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell *ngIf="!nodesService.clientsWithOnlyPublicIP">
                {{node.private_ip}}
                <concord-copy-to-clipboard-button
                  *ngIf="node.private_ip"
                  classList="ctc-btn-inline dash-list"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-left"
                  [value]="node.private_ip"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
              <clr-dg-cell>
                <a *ngIf="node?.zone?.id && node?.zone?.type !== cloudZone" [routerLink]="['../../zones/' + node.zone.id]">{{ node.zone_name }}</a>
                <span *ngIf="!node?.zone?.id || node?.zone?.type === cloudZone">{{ node.zone_name }}</span>
              </clr-dg-cell>
              <clr-dg-cell>
                {{ node.zone_id }}
                <concord-copy-to-clipboard-button classList="ctc-btn-inline dash-list" [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-left" [value]="node.zone_id" [size]="12">
                </concord-copy-to-clipboard-button>
              </clr-dg-cell>
            </clr-dg-row>
            <clr-dg-footer></clr-dg-footer>
          </clr-datagrid>
        </clr-tab-content>
    </clr-tab>
</clr-tabs>

<concord-deploy-client #deployClient></concord-deploy-client>
