<form [formGroup]="downloadCertificateForm" #myForm="ngForm">
  <clr-wizard #wizard [(clrWizardOpen)]="isOpen"
              clrWizardSize="md"
              (clrWizardOnCancel)="doCancel()">
    <clr-wizard-title>Bank of China</clr-wizard-title>

    <clr-wizard-button [type]="'cancel'">{{'users.settings.downloadCertificate.actions.close' | translate}}
    </clr-wizard-button>
    <clr-wizard-button [type]="'previous'">{{'users.settings.downloadCertificate.actions.previous' | translate}}
    </clr-wizard-button>
    <clr-wizard-button [type]="'next'">{{'users.settings.downloadCertificate.actions.next' | translate}}
    </clr-wizard-button>

    <clr-wizard-page [clrWizardPageNextDisabled]="passwordSelectNextDisabled"
                     clrWizardPagePreventDefault="true"
                     (clrWizardPageOnCommit)="onNext()"
                     (clrWizardPageOnCancel)="doCancel()">
      <ng-template clrPageNavTitle>{{'users.settings.downloadCertificate.enterPassword.navTitle' | translate}}
      </ng-template>
      <ng-template clrPageTitle>{{'users.settings.downloadCertificate.enterPassword.pageTitle' | translate}}
      </ng-template>

      <div>
        <div>
          <small class="text-muted">{{'users.settings.downloadCertificate.enterPassword.enterUserPassword' |
            translate}}
          </small>
        </div>
        <input class="form-control"
               type="password"
               id="password"
               name="password"
               formControlName="password"
               [attr.placeholder]="'users.settings.downloadCertificate.enterPassword.placeholder' | translate">
      </div>
    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="tokenSelectNextDisabled"
                     clrWizardPagePreventDefault="true"
                     (clrWizardPageOnCommit)="onNext()"
                     (clrWizardPagePrevious)="goBack()"
                     (clrWizardPageOnCancel)="doCancel()">
      <ng-template clrPageNavTitle>{{'users.settings.downloadCertificate.enterToken.navTitle' | translate}}
      </ng-template>
      <ng-template clrPageTitle>{{'users.settings.downloadCertificate.enterToken.pageTitle' | translate}}</ng-template>
      <div>
        <div>
          <small class="text-muted">{{'users.settings.downloadCertificate.enterToken.message' | translate}}</small>
        </div>
        <input class="form-control"
               type="password"
               id="token"
               name="token"
               formControlName="token"
               [attr.placeholder]="'users.settings.downloadCertificate.enterToken.placeholder' | translate">
      </div>
    </clr-wizard-page>

    <clr-wizard-page (clrWizardPageOnLoad)="downloadCertificate()" (clrWizardPageCustomButton)="doCustomClick($event)">
      <ng-template clrPageNavTitle>{{'users.settings.downloadCertificate.credentials.navTitle' | translate}}
      </ng-template>
      <ng-template clrPageTitle>{{'users.settings.downloadCertificate.credentials.pageTitle' | translate}}</ng-template>
      <ng-template clrPageButtons>
        <clr-wizard-button [type]="'download-btn'">{{'users.settings.downloadCertificate.actions.download' |
          translate}}
        </clr-wizard-button>
        <clr-wizard-button [type]="'cancel'">{{'users.settings.downloadCertificate.actions.close' | translate}}
        </clr-wizard-button>
      </ng-template>
      <div>
        <div>
          <p class="text-muted">{{'users.settings.downloadCertificate.credentials.message' | translate}}</p>
        </div>
      </div>
    </clr-wizard-page>
  </clr-wizard>
</form>
