@import "~@clr/ui/src/color/_variables.color.scss";
@import "../../../styles/theme";

#map-container {
  width: 100%;
  height: 250px;
  background: #AADAFF;
}


#tooltip-container {
  box-sizing: border-box;
  background: $clr-black;
  border-radius: 0.125rem;
  padding: 0 .3rem .2rem;
  color: $white;
  strong {
    font-size: 90%;
  }
  a.label {
    font-size: 80%
  }
}

:host ::ng-deep .dark #map-container {
  background: darken($clr-action-blue-darkest, 4%) !important;
}
