<clr-modal [(clrModalOpen)]="openModalForm" [clrModalSize]="modalSize">
  <h3 class="modal-title">{{ modalTitle }}</h3>
  <div class="modal-body">
    <ng-container [ngSwitch]="formType">
      <ng-container *ngSwitchCase="'add'">
        <form [formGroup]="addUserForm" (ngSubmit)="addUser()">
          <section class="form-block">
            <div class="form-group">
              <label for="firstNameAddUser">
                {{ 'users.addUserForm.inputs.firstName.title' | translate }}
              </label>
              <input formControlName="firstName" type="text" id="firstNameAddUser" [placeholder]="'users.addUserForm.inputs.firstName.placeholder' | translate"
                     size=35>
            </div>
            <div class="form-group">
              <label for="lastNameAddUser">
                {{ 'users.addUserForm.inputs.lastName.title' | translate }}
              </label>
              <input formControlName="lastName" type="text" id="lastNameAddUser" [placeholder]="'users.addUserForm.inputs.lastName.placeholder' | translate"
                     size=35>
            </div>
            <div class="form-group">
              <label for="emailAddUser">
                {{ 'users.addUserForm.inputs.email.title' | translate }}
              </label>
              <input formControlName="email" type="text" id="emailAddUser" [placeholder]="'users.addUserForm.inputs.email.placeholder' | translate"
                     size=35>
            </div>
            <div class="form-group">
              <label for="password">
                {{ 'users.addUserForm.inputs.password.title' | translate }}
              </label>
              <input formControlName="password"
                     type="password" id="password"
                     [placeholder]="'users.addUserForm.inputs.password.placeholder' | translate"
                     size=35 required>
              <span *ngIf="addUserForm.get('password').hasError('minlength')">{{ 'users.addUserForm.errors.password.minLength' | translate }}</span>
            </div>
            <div class="form-group">
              <label for="confirmPassword">
                {{ 'users.addUserForm.inputs.password.title' | translate }}
              </label>
              <input formControlName="confirmPassword"
                     type="password" id="confirmPassword"
                     [placeholder]="'users.addUserForm.inputs.password.placeholder' | translate"
                     size=35 required>
              <span *ngIf="(addUserForm.get('confirmPassword').touched ||addUserForm.get('confirmPassword').dirty) && addUserForm.get('confirmPassword').hasError('mismatch')">{{ 'users.addUserForm.errors.password.mismatch' | translate }}</span>
            </div>
            <div class="form-group">
              <label for="organization">
                {{ 'users.addUserForm.inputs.organization.title' | translate }}
              </label>
              <input formControlName="organization" type="text" id="organization" [placeholder]="'users.addUserForm.inputs.organization.placeholder' | translate"
                     size=35>
            </div>
            <div class="form-group">
              <label for="roleAddUser">
                {{ 'users.addUserForm.inputs.role.title' | translate }}
              </label>
              <div class="select">
                <select formControlName="persona" id="roleAddUser">
                  <option *ngFor="let personaOption of personaOptions" [value]="personaOption.value">{{personaOption.name | translate}}</option>
                </select>
              </div>
            </div>
          </section>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="openModalForm = false">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="addUser()" [disabled]="addUserForm.status !== 'VALID'">
              {{ 'users.addUserForm.submit.title' | translate }}
            </button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="'edit'">
        <form [formGroup]="editUserForm" (ngSubmit)="editUser()">
          <section class="form-block">
            <div class="form-group">
              <label for="firstNameEditUser">
                {{ 'users.editUserForm.inputs.firstName.title' | translate }}
              </label>
              <input formControlName="firstName" type="text" id="firstNameEditUser" [placeholder]="'users.editUserForm.inputs.firstName.placeholder' | translate"
                     size=35>
            </div>
            <div class="form-group">
              <label for="lastNameEditUser">
                {{ 'users.editUserForm.inputs.lastName.title' | translate }}
              </label>
              <input formControlName="lastName" type="text" id="lastNameEditUser" [placeholder]="'users.editUserForm.inputs.lastName.placeholder' | translate"
                     size=35>
            </div>
            <div class="form-group">
              <label for="emailEditUser">
                {{ 'users.editUserForm.inputs.email.title' | translate }}
              </label>
              <input formControlName="email" type="text" id="emailEditUser" [placeholder]="'users.editUserForm.inputs.email.placeholder' | translate"
                     size=35>
            </div>
            <div class="form-group">
              <label for="roleEditUser">
                {{ 'users.editUserForm.inputs.role.title' | translate }}
              </label>
              <div class="select">
                <select formControlName="persona" id="roleEditUser">
                  <option *ngFor="let personaOption of personaOptions" [value]="personaOption.value">{{personaOption.name | translate}}</option>
                </select>
              </div>
            </div>
          </section>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="openModalForm = false">Cancel</button>
            <button type="submit" class="btn btn-primary" (click)="editUser()" [disabled]="editUserForm.status !== 'VALID'">
              {{ 'users.editUserForm.submit.title' | translate }}
            </button>
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchCase="'delete'">
        <p>{{ 'deleteModal.bodyText' | translate}}
          <span *ngFor="let r of selected">{{ r.firstName + " " + r.lastName}} </span> ?</p>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline" (click)="openModalForm = false">Cancel</button>
          <button type="button" class="btn btn-primary" (click)="deleteUser()">
            {{ 'users.deleteUserForm.submit.title' | translate }}
          </button>
        </div>
      </ng-container>
    </ng-container>
  </div>
</clr-modal>
