<div class="p-2">
  <h2 class="page-title">
    <clr-icon shape="blocks-group" size="30"></clr-icon> {{ 'blockchains.title' | translate }} |
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        {{ 'blockchains.actions.title' | translate }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
        <button type="button" (click)="blockchainsForm.openAddBlockchain()" clrDropdownItem>
          {{ 'blockchains.actions.options.add.title' | translate }}
        </button>
        <button type="button" [disabled]="selected.length === 0" (click)="blockchainsForm.confirmDeleteBlockchain()"
                clrDropdownItem>
          {{ 'blockchains.actions.options.delete.title' | translate }}
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </h2>
  <athena-blockchain-list #blockchainsList (selected)="blockchainsSelectionChange($event)"></athena-blockchain-list>
  <athena-blockchain-form #blockchainsForm
                          [selected]="selected"
                          (addBlockchains)="addBlockchains($event)"
                          (deleteBlockchains)="deleteBlockchains()"></athena-blockchain-form>
</div>
