<div class="p-2">
  <h2 class="page-title">
    <clr-icon shape="blocks-group" size="30"></clr-icon> {{ 'blockchains.title' | translate }} |
    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger>
        {{ 'blockchains.actions.title' | translate }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
        <button type="button" (click)="openAddBlockchain()" clrDropdownItem>
          {{ 'blockchains.actions.options.add.title' | translate }}
        </button>
        <button type="button" [disabled]="selectedRows.length === 0" (click)="confirmDeleteBlockchain()" clrDropdownItem>
          {{ 'blockchains.actions.options.delete.title' | translate }}
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </h2>

  <athena-grid #grid [options]="gridOptions" (selectedRowsEvent)="selectedRowChange($event)"></athena-grid>

  <clr-modal [(clrModalOpen)]="openModalForm" [clrModalSize]="modalSize">
    <h3 class="modal-title">{{ modalTitle }}</h3>
    <div class="modal-body">
      <ng-container [ngSwitch]="formType">
        <ng-container *ngSwitchCase="'add'">
          <form [formGroup]="addBlockchainForm" (ngSubmit)="addBlockchain()">
            <section class="form-block">
              <div class="form-group">
                <label for="name">
                  {{ 'blockchains.addBlockchainForm.inputs.name.title' | translate }}
                </label>
                <input formControlName="name" type="text" id="name" [placeholder]="'blockchains.addBlockchainForm.inputs.name.placeholder' | translate"
                  size=35>
              </div>
              <div class="form-group">
                <label for="peerOrg">
                  {{ 'blockchains.addBlockchainForm.inputs.peerOrg.title' | translate }}
                </label>
                <div class="select multiple">
                  <select multiple formControlName="peerOrg" id="peerOrg">
                    <option *ngFor="let o of orgs" [value]="o.id">{{ o.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="consensusType">
                  {{ 'blockchains.addBlockchainForm.inputs.consensusType.title' | translate }}
                </label>
                <div class="select">
                  <select formControlName="consensusType" id="consensusType">
                    <option *ngFor="let ot of consensusTypes" [value]="ot">{{ ot }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="ordererOrg">
                  {{ 'blockchains.addBlockchainForm.inputs.ordererOrg.title' | translate }}
                </label>
                <div class="select">
                  <select formControlName="ordererOrg" id="ordererOrg">
                    <option *ngFor="let o of ordererOrgs" [value]="o.id">{{ o.name }}</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="kubernetes">
                  {{ 'blockchains.addBlockchainForm.inputs.kubernetes.title' | translate }}
                </label>
                <div class="select">
                  <select formControlName="kubernetes" id="kubernetes">
                    <option *ngFor="let k of kubes" [value]="k.id">{{ k.name }}</option>

                  </select>
                </div>
              </div>
              <div class="form-group">
                <label>
                  {{ 'blockchains.addBlockchainForm.inputs.createCli.title' | translate }}
                </label>
                <div class="checkbox">
                  <input formControlName="createCli" type="checkbox" id="createCli">
                  <label for="createCli"></label>
                </div>
              </div>
            </section>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline" (click)="openModalForm = false">Cancel</button>
              <button type="submit" class="btn btn-primary" [disabled]="addBlockchainForm.status !== 'VALID'">
                {{ 'blockchains.addBlockchainForm.submit.title' | translate }}
              </button>
            </div>
          </form>
        </ng-container>
        <ng-container *ngSwitchCase="'delete'">
          <p>{{ 'deleteModal.bodyText' | translate}}
            <span *ngFor="let r of selectedRows">{{ r.name }}</span> ?</p>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" (click)="openModalForm = false">Cancel</button>
            <button type="button" class="btn btn-primary" (click)="deleteBlockchain()">
              {{ 'organization.deleteOrgForm.submit.title' | translate }}
            </button>
          </div>
        </ng-container>
      </ng-container>
    </div>
  </clr-modal>
</div>
