<div class="p-2 bg-dark">
  <div class="row">
    <div class="col-xs-4 media flex-items-xs-middle">
      <h3 class="mt-0 text-white">{{'blocks.blockActivity' | translate}}</h3>
    </div>
    <div class="col-xs-8 media flex-items-xs-middle flex-items-xs-right">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink (click)="getTodaysData()">{{'time.today' | translate}}</button>
          <clr-tab-content id="content1" *clrIfActive="true"></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastSevenDaysData()">{{ 'time.lastXDays' | translate:{number: 7} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastThirtyDaysData()">{{ 'time.lastXDays' | translate:{number: 30} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastNinetyDaysData()">{{ 'time.lastXDays' | translate:{number: 90} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <athena-block-graph [graphData]="graphData"></athena-block-graph>
    </div>
  </div>

</div>


<div class="p-2">
  <h3 class="page-title">{{'blocks.blocks' | translate}}</h3>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'number'">{{'blocks.index' | translate}}:{{'blocks.hash' | translate}}</clr-dg-column>
    <clr-dg-row *clrDgItems="let block of blocks">
      <clr-dg-cell>
        <a [routerLink]="[block.number]">
          {{block.number}} : {{block.hash}}
        </a>
        <athena-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="block.number + ' : ' + block.hash"
          [size]="12">
        </athena-copy-to-clipboard-button>
      </clr-dg-cell>
      <clr-dg-row-detail>
        <athena-block-details *clrIfExpanded ngProjectAs="clr-dg-row-detail"
                              [blockNumber]="block?.number"></athena-block-details>
      </clr-dg-row-detail>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{'blocks.paginationSummary' | translate: { start: pagination.firstItem + 1, finish: pagination.lastItem + 1,
        total: pagination.totalItems} }}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
