<div>
  <table class="table table-vertical">
    <tbody>
    <tr>
      <th>{{'transactions.status' | translate}}</th>
      <td>{{(transaction?.status ? 'transactions.success' : 'transactions.failure') | translate}}</td>
    </tr>
    <tr>
      <th>{{'transactions.hash' | translate}}</th>
      <td>
        {{transaction?.hash}}
        <athena-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="transaction?.hash"
          [size]="12">
        </athena-copy-to-clipboard-button>
      </td>
    </tr>
    <tr>
      <th>{{'transactions.from' | translate}}</th>
      <td>
        {{transaction?.from}}
        <athena-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="transaction?.from"
          [size]="12">
        </athena-copy-to-clipboard-button>
      </td>
    </tr>
    <tr *ngIf="transaction?.to">
      <th>{{'transactions.to' | translate}}</th>
      <td>
        {{transaction?.to}}
        <athena-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="transaction?.to"
          [size]="12">
        </athena-copy-to-clipboard-button>
      </td>
    </tr>
    <tr *ngIf="transaction?.contract_address">
      <th>{{'transactions.contractAddress' | translate}}</th>
      <td>
        {{transaction?.contract_address}}
        <athena-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="transaction?.contract_address"
          [size]="12">
        </athena-copy-to-clipboard-button>
      </td>
    </tr>
    <tr *ngIf="transaction?.value">
      <th>{{'transactions.value' | translate}}</th>
      <td>{{transaction?.value}}</td>
    </tr>
    <tr *ngIf="transaction?.input">
      <th>{{'transactions.input' | translate}}</th>
      <td>
        {{transaction?.input}}
        <athena-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="transaction?.input"
          [size]="12">
        </athena-copy-to-clipboard-button>
      </td>
    </tr>
    <tr>
      <th>{{'transactions.nonce' | translate}}</th>
      <td>{{transaction?.nonce}}</td>
    </tr>
    </tbody>
  </table>
</div>
