<div *ngIf="smartContract" class="p-2">
  <div class="contract-header">
    <clr-tooltip *ngIf="versionSelected  && !versionIsExternal" class="verified">
      <clr-icon clrTooltipTrigger shape="success-standard" class="is-solid" size=24></clr-icon>
      <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
        <span>{{'smartContracts.version.tooltips.verified' | translate}}</span>
      </clr-tooltip-content>
    </clr-tooltip>
    <h2 class="page-title">
      {{smartContract?.contract_id}}
    </h2>
    <h2 class="version-separator"> :: </h2>
    <clr-dropdown class="select version-select">
      <clr-dropdown [clrCloseMenuOnItemClick]="true">
        <button clrDropdownTrigger class="no-border">
          <span id="selectedVersion" class="version-label">{{ versionSelected }}</span>
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen class="inline">
          <div clrDropdownItem *ngFor="let versionVar of smartContract?.versions"
              (click)="getVersionInfo(versionVar.version)">
            {{ versionVar.version }}
          </div>
        </clr-dropdown-menu>
      </clr-dropdown>
    </clr-dropdown>
    <!-- <div class="select version-select">
      <select id="selectedVersion" class="select-width"
              name="version"
              [(ngModel)]="versionSelected"
              (change)="getVersionInfo()">
        <option [value]="undefined" *ngIf="!versionSelected">{{'smartContracts.version.selectVersion' | translate}}</option>
        <option *ngFor="let versionVar of smartContract?.versions" [value]="versionVar.version">{{ versionVar.version }}</option>
      </select>
    </div> -->
    <div class="options" *ngIf="versionSelected  && !versionIsExternal && version?.type !== 'DAML'">
      <button type="button" class="btn btn-icon btn-link" (click)="startTour()" [attr.aria-label]="'tourSteps.title' | translate">
        <clr-icon size="24" shape="help"></clr-icon>
      </button>
      <button class="btn btn-primary-outline" type="button" (click)="contractFormModal.open(smartContract, version)">{{'common.update' | translate}}</button>
    </div>
  </div>
  <div class="user" *ngIf="version?.type !== 'DAML'">
    <clr-icon shape="user"></clr-icon>
    <clr-tooltip class="left-margined">
      <span class="contract-owner" clrTooltipTrigger>{{smartContract?.owner}}</span>
      <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
        <span>
          {{'smartContracts.contractOwnerAddress' | translate}}
        </span>
      </clr-tooltip-content>
    </clr-tooltip>
    <concord-copy-to-clipboard-button
      classList="ctc-btn-inline left-margined"
      [tooltip]="'common.copyToClip' | translate"
      tooltipDirection="top-right"
      [value]="smartContract?.owner"
      [size]="12">
    </concord-copy-to-clipboard-button>
  </div>
  <clr-alert [clrAlertClosable]="false" [clrAlertType]="'alert-warning'" *ngIf="versionIsExternal">
    <div clr-alert-item class="alert-item">
        <span class="alert-text">
            {{'smartContracts.externalSourceWarning' | translate}}
        </span>
      <div class="alert-actions">
        <a href="javascript:;" (click)="contractFormModal.open(smartContract, version)">{{'smartContracts.externalSourceUpload' | translate}}</a>
      </div>
    </div>
  </clr-alert>
  <concord-smart-contract-version *ngIf="version"
                                  [version]="version"
                                  ></concord-smart-contract-version>
</div>

<concord-contract-form #contractFormModal
                       (contractCreated)="afterUpdateContract($event)"></concord-contract-form>

