.contract-owner {
  margin-left: 5px;
}
.select-width {
  padding-right: 20px;
}
.no-border {
  border:none;
}
.version-label {
  font-size: 0.65rem;
  margin-right:10px;
}
.version-separator {
  opacity: 0.4;
  font-weight: 500;
  margin-left: 0.5rem;
  margin-right: 0.2rem;
  float: left;
  font-size:0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}
label {
  font-weight: 600;
}
.is-solid {
  color: green;
  margin-left: .5rem;
}
.contract-header {
  height: 2rem;
  display: block;

  .page-title {
    float: left;
    margin-bottom: 0;
  }
  .version-select {
    float: left;
    margin-top: .475rem;
  }
  .verified {
    float: left;
    font-size: 1rem;
    margin-top: .4rem;
    margin-left: -0.5rem;
    margin-right: .5rem;
  }
  .options {
    float: right;
  }
}
.user {
  margin-bottom: .5rem;
}
