<form *ngIf="form" [formGroup]="form" class="clr-form-horizontal">
  <clr-wizard #wizard clrWizardSize="lg" [(clrWizardOpen)]="isOpen" (clrWizardOnFinish)="onSubmit()"
    (clrWizardOnCancel)="onCancel()" class="blockchain-wizard extra-wide">
    <clr-wizard-title>{{'blockchainWizard.title' | translate}}</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">{{'common.cancel' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">{{'common.back' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'next'">{{'common.next' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">{{'common.deploy' | translate}}</clr-wizard-button>
    <clr-wizard-page formGroupName="details" [clrWizardPageNextDisabled]="!selectedEngine">
      <ng-template clrPageTitle>{{'blockchainWizard.engine.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.engine.navTitle' | translate}}</ng-template>
      <div class="clr-row">
        <div class="clr-col-12">
          <div id="damlEngine" class="card clickable sideways" (click)="selectEngine(engines.DAML)"
            [ngClass]="{'active': selectedEngine === engines.DAML}">
            <div class="card-icon">
              <img src="static/images/contract-types/daml.svg"
                [attr.alt]="'blockchainWizard.engine.damlTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.damlTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.damlInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <div id="ethEngine" class="card clickable sideways" (click)="selectEngine(engines.ETH)"
            [ngClass]="{'active': selectedEngine === engines.ETH}">
            <div class="card-icon">
              <img src="static/images/contract-types/eth.svg"
                [attr.alt]="'blockchainWizard.engine.ethTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.ethTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.ethInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row" *concordFeatureFlag="'deploy_HLF'">
        <div class="clr-col-12">
          <div class="card clickable sideways" (click)="selectEngine(engines.HLF)"
            [ngClass]="{'active': selectedEngine === engines.HLF}">
            <div class="card-icon">
              <img src="static/images/contract-types/hlf.svg"
                [attr.alt]="'blockchainWizard.engine.hlfTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.hlfTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.hlfInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </clr-wizard-page>

    <clr-wizard-page #detailPage formGroupName="details" [clrWizardPageNextDisabled]="form.controls.details.invalid">
      <ng-template clrPageTitle>{{'blockchainWizard.details.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.details.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block detail-form">
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{'blockchainWizard.common.consortiumName' | translate}}</label>
          <input clrInput #consortiumInput id="consortiumName" type="text" formControlName="consortium_name"
            class="form-control clr-col-12 clr-col-md-8" size="43"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate">
        </clr-input-container>
        <clr-textarea-container>
          <label class="clr-col-12 clr-col-md-4">{{'blockchainWizard.common.consortiumDescription' | translate}}</label>
          <textarea clrTextarea formControlName="consortium_desc" class="clr-col-12 clr-col-md-8" rows="4"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate"></textarea>
        </clr-textarea-container>
      </div>
    </clr-wizard-page>

    <clr-wizard-page #onPremPage *ngIf="showOnPrem"
      [clrWizardPageNextDisabled]="onPremForm.form.controls?.onPrem.invalid || onPremForm.form.controls?.onPremLocation.invalid"
      (clrWizardPageOnCommit)="submitOnPrem()" (clrWizardPageOnCancel)="doCancel()" clrWizardPagePreventDefault="true">
      <ng-template clrPageTitle>{{'onPrem.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'onPrem.navTitle' | translate}}</ng-template>
      <div class="spinner" *ngIf="loadingFlag">
        Loading...
      </div>
      <!-- <concord-on-premises-form #onPremForm></concord-on-premises-form> -->
      <div class="divider"></div>
      <button class="btn btn-outline-danger btn-sm cancel-on-prem"
        (click)="cancelOnPremAdd()">{{ 'onPrem.cancel' | translate }}</button>
    </clr-wizard-page>

    <clr-wizard-page #replicaPage formGroupName="nodes"
      [clrWizardPageNextDisabled]="!form.controls.nodes.errors?.countIsCorrect">

      <ng-template clrPageTitle>
        {{'blockchainWizard.nodes.pageTitle' | translate}}
        <button #helpButton type="button" class="close help-btn" aria-label="Help" (click)="onClickToHelp('vmb_110')">
          <clr-icon aria-hidden="true" shape="help"></clr-icon>
        </button>
      </ng-template>

      <ng-template clrPageNavTitle>{{'blockchainWizard.nodes.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block blockchain-form nodes">
        <clr-select-container>
          <label class="clr-col-12 clr-col-md-4"
            for="numberOfNodes">{{'blockchainWizard.common.numberOfNodes' | translate}}</label>
          <select clrSelect id="numberOfReplicas" formControlName="numberOfNodes" class="clr-col-12 clr-col-md-8"
            (change)="distributeZones()">
            <option *ngFor="let num of numbersOfNodes" [ngValue]="num">{{num}}
            </option>
          </select>
          <clr-control-helper>{{'blockchainWizard.details.help.numberOfNodes' | translate}}</clr-control-helper>
        </clr-select-container>
        <div class="regions" formGroupName="zones">
          <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6>
          <clr-alert [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">
                {{'blockchainWizard.nodes.regionInfo' | translate}}
              </span>
            </clr-alert-item>
          </clr-alert>
          <clr-input-container *ngFor="let zone of zones" class="show-no-helper">
            <label class="clr-col-12 clr-col-md-4">{{ zone.name }}</label>
            <input clrInput type="text" class="clr-col-12 clr-col-md-8" [formControlName]="zone.id" />
            <clr-control-helper>{{ zone.name }}</clr-control-helper>
          </clr-input-container>
        </div>
        <div class="divider"></div>
        <!--         <clr-alert [clrAlertClosable]="false">
          <clr-alert-item>
            <span class="alert-text">
              {{'blockchainWizard.nodes.onPremInfo' | translate}}
            </span>
          </clr-alert-item>
        </clr-alert> -->
        <!-- <button class="btn btn-outline btn-danger add-on-prem btn-sm" (click)="addOnPrem()">{{ 'blockchainWizard.nodes.add' | translate }}</button> -->
      </div>
    </clr-wizard-page>

    <clr-wizard-page>
      <ng-template clrPageTitle>{{'blockchainWizard.reviewDeployment.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.reviewDeployment.navTitle' | translate}}</ng-template>
      <div class="clr-row review">
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.engine.navTitle' | translate}}
        </div>
        <div class="clr-col-8 summary-value engine">
          {{ selectedEngine }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumName' | translate}}
        </div>
        <div class="clr-col-8 summary-value consortium-title">
          {{ form.value.details.consortium_name }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumDescription' | translate}}
        </div>
        <div class="clr-col-8 summary-value">
          {{ form.value.details.consortium_desc || '--' }}
        </div>
        <h6 class="sub-title">{{'blockchainWizard.nodes.navTitle' | translate}}</h6>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.numberOfNodes' | translate}}
        </div>
        <div class="clr-col-8 summary-value number-of-replicas">
          {{ form.value.nodes.numberOfNodes }}
        </div>
        <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6>
        <ng-container *ngFor="let zone of zones">
          <div class="clr-col-4 summary-label">
            {{ zone.name }}
          </div>
          <div class="clr-col-8 summary-value">
            {{ form.controls.nodes['controls'].zones.value[zone.id] || '--' }}
          </div>
        </ng-container>
      </div>
    </clr-wizard-page>
  </clr-wizard>
</form>