<form *ngIf="form" [formGroup]="form" class="clr-form-horizontal">
  <clr-wizard #wizard clrWizardSize="lg" [(clrWizardOpen)]="isOpen"
    (clrWizardOnCancel)="onCancel()" class="blockchain-wizard extra-wide">
    <clr-wizard-title>{{'blockchainWizard.title' | translate}}</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">{{'common.cancel' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">{{'common.back' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'next'" (click)="onClickNext()">{{'common.next' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">{{'common.deploy' | translate}}</clr-wizard-button>

    <clr-wizard-page formGroupName="details" [clrWizardPageNextDisabled]="!selectedEngine">
      <ng-template clrPageTitle>{{'blockchainWizard.engine.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.engine.navTitle' | translate}}</ng-template>
      <div class="clr-row">
        <div class="clr-col-12">
          <div id="damlEngine" class="card clickable sideways" (click)="selectEngine(engines.DAML)"
            [ngClass]="{'active': selectedEngine === engines.DAML}">
            <div class="card-icon">
              <img src="static/images/contract-types/daml.svg"
                [attr.alt]="'blockchainWizard.engine.damlTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.damlTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.damlInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <div id="ethEngine" class="card clickable sideways" (click)="selectEngine(engines.ETH)"
            [ngClass]="{'active': selectedEngine === engines.ETH}">
            <div class="card-icon">
              <img src="static/images/contract-types/eth.svg"
                [attr.alt]="'blockchainWizard.engine.ethTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.ethTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.ethInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row" *concordFeatureFlag="'deploy_HLF'">
        <div class="clr-col-12">
          <div class="card clickable sideways" (click)="selectEngine(engines.HLF)"
            [ngClass]="{'active': selectedEngine === engines.HLF}">
            <div class="card-icon">
              <img src="static/images/contract-types/hlf.svg"
                [attr.alt]="'blockchainWizard.engine.hlfTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.hlfTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.hlfInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </clr-wizard-page>

    <clr-wizard-page #detailPage formGroupName="details" [clrWizardPageNextDisabled]="form.controls.details.invalid">
      <ng-template clrPageTitle>{{'blockchainWizard.details.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.details.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block detail-form">
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{'blockchainWizard.common.consortiumName' | translate}}</label>
          <input clrInput #consortiumInput id="consortiumName" type="text" formControlName="consortium_name"
            class="form-control clr-col-12 clr-col-md-8" size="43"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate">
        </clr-input-container>
        <clr-textarea-container>
          <label class="clr-col-12 clr-col-md-4">{{'blockchainWizard.common.consortiumDescription' | translate}}</label>
          <textarea clrTextarea formControlName="consortium_desc" class="clr-col-12 clr-col-md-8" rows="4"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate"></textarea>
        </clr-textarea-container>
      </div>
    </clr-wizard-page>

    <clr-wizard-page #onPremPage *ngIf="showOnPrem"
      [clrWizardPageNextDisabled]="onPremForm.form.controls?.onPrem.invalid || onPremForm.form.controls?.onPremLocation.invalid"
      (clrWizardPageOnCommit)="submitOnPrem()" (clrWizardPageOnCancel)="doCancel()" clrWizardPagePreventDefault="true">
      <ng-template clrPageTitle>{{'onPrem.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'onPrem.navTitle' | translate}}</ng-template>
      <div class="spinner" *ngIf="loadingFlag">
        Loading...
      </div>
      <!-- <concord-on-premises-form #onPremForm></concord-on-premises-form> -->
      <div class="divider"></div>
      <button class="btn btn-outline-danger btn-sm cancel-on-prem"
        (click)="cancelOnPremAdd()">{{ 'onPrem.cancel' | translate }}</button>
    </clr-wizard-page>

    <clr-wizard-page #replicaPage formGroupName="nodes"
      [clrWizardPageNextDisabled]="!form.controls.nodes.errors?.countIsCorrect">

      <ng-template clrPageTitle>
        {{'blockchainWizard.nodes.pageTitle' | translate}}
        <button #helpButton type="button" class="close help-btn" aria-label="Help" (click)="onClickToHelp('vmb_110')">
          <clr-icon aria-hidden="true" shape="help"></clr-icon>
        </button>
      </ng-template>

      <ng-template clrPageNavTitle>{{'blockchainWizard.nodes.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block blockchain-form nodes">
        <clr-select-container>
          <label class="clr-col-12 clr-col-md-4"
            for="numberOfNodes">{{'blockchainWizard.common.numberOfNodes' | translate}}</label>
          <select clrSelect id="numberOfReplicas" formControlName="numberOfNodes" class="clr-col-12 clr-col-md-8"
            (change)="distributeZones()">
            <option *ngFor="let num of numbersOfNodes" [ngValue]="num">{{num}}</option>
          </select>
          <clr-control-helper>{{'blockchainWizard.details.help.numberOfNodes' | translate}}</clr-control-helper>
        </clr-select-container>
        <div class="regions" formGroupName="zones">
          <!-- <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6> -->
          <clr-tabs>
            <clr-tab *ngIf="hasOnPrem">
              <button clrTabLink (click)="zoneTabSelect(zoneType.ON_PREM)">{{'blockchainWizard.nodes.onPremTitle' | translate}}</button>
              <ng-template  [(clrIfActive)]="onPremActive">
                <clr-tab-content id="onPremZones">
                <clr-alert [clrAlertClosable]="false">
                  <clr-alert-item>
                    <span class="alert-text">
                      {{'blockchainWizard.nodes.regionInfo' | translate}}
                    </span>
                  </clr-alert-item>
                </clr-alert>

                  <clr-input-container *ngFor="let zone of zones" class="show-no-helper">
                    <label class="clr-col-12 clr-col-md-4">{{ zone.name }}</label>
                    <input clrInput type="text" class="clr-col-12 clr-col-md-8" [formControlName]="zone.id" />
                    <clr-control-helper>{{ zone.name }}</clr-control-helper>
                  </clr-input-container>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
            <clr-tab>
              <button clrTabLink (click)="zoneTabSelect(zoneType.VMC_AWS)">{{'blockchainWizard.nodes.cloudTitle' | translate}}</button>
              <ng-template [(clrIfActive)]="cloudActive">
                <clr-tab-content id="cloudZones">
                  <clr-alert [clrAlertClosable]="false">
                    <clr-alert-item>
                      <span class="alert-text">
                        {{'blockchainWizard.nodes.regionInfo' | translate}}
                      </span>
                    </clr-alert-item>
                  </clr-alert>

                  <clr-input-container *ngFor="let zone of zones" class="show-no-helper">
                    <label class="clr-col-12 clr-col-md-4">{{ zone.name }}</label>
                    <input clrInput type="text" class="clr-col-12 clr-col-md-8" [formControlName]="zone.id" />
                    <clr-control-helper>{{ zone.name }}</clr-control-helper>
                  </clr-input-container>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
          </clr-tabs>

        </div>
        <clr-control-error *ngIf="form.controls.nodes.get('numberOfNodes').value && !form.controls.nodes.errors?.countIsCorrect"
          class="committer-dist-error">
          {{'blockchainWizard.nodes.distributionHelper' | translate}}
        </clr-control-error>
        <div class="divider"></div>
        <!--         <clr-alert [clrAlertClosable]="false">
          <clr-alert-item>
            <span class="alert-text">
              {{'blockchainWizard.nodes.onPremInfo' | translate}}
            </span>
          </clr-alert-item>
        </clr-alert> -->
        <!-- <button class="btn btn-outline btn-danger add-on-prem btn-sm" (click)="addOnPrem()">{{ 'blockchainWizard.nodes.add' | translate }}</button> -->
      </div>
    </clr-wizard-page>

    <clr-wizard-page #clientsPage [formGroup]="clientGroups" *ngIf="pastContractEngineStep && selectedEngine === engines.DAML"
      [clrWizardPageNextDisabled]="clientGroups.errors?.messages?.length > 0">

      <ng-template clrPageTitle>
        {{'blockchainWizard.clients.pageTitle' | translate}}
        <button #helpButton type="button" class="close help-btn" aria-label="Help" (click)="onClickToHelp('vmb_110')">
          <clr-icon aria-hidden="true" shape="help"></clr-icon>
        </button>
      </ng-template>

      <ng-template clrPageNavTitle>{{ 'blockchainWizard.clients.navTitle' | translate }}</ng-template>
      <div #clientsForm>
        <div *ngFor="let clientGroup of clientGroups.controls; let g = index;"
              [ngClass]="{'client-form':1, 'as-single-client':getClientGroupMembers(g).length==1, 'as-client-group':getClientGroupMembers(g).length>1}"
              [formGroupName]="g" [attr.id]="'deploy-page-clients-group-'+g">
          <div class="compact-input-container group-name-container" *ngIf="alwaysGroup || getClientGroupMembers(g).length > 1">
            <label class="short-label">{{ 'blockchainWizard.clients.clientGrouping' | translate }}</label>
            <div class="clr-row columned no-height">
              <div class="clr-col-md-6">
                <div class="column-label-container"><label class="column-label">{{ 'common.name' | translate }}</label></div>
              </div>
              <div class="clr-col-md-2">
                <div class="column-label-container"><label class="column-label">{{ 'common.countNoun' | translate }}</label></div>
              </div>
              <div class="clr-col-md-3"></div>
            </div>
            <div class="clr-row columned">
              <div class="clr-col-md-6">
                <clr-input-container>
                  <input clrInput [id]="'deploy-page-clients-group-'+g+'-name-input'" formControlName="group_name"
                        type="text" class="group-name-input" [placeholder]="'blockchainWizard.clients.groupNamePH' | translate "/>
                  <clr-control-helper class="error-helper red-text" *ngIf="clientGroup.controls.group_name.value === ''">
                    {{ 'blockchainWizard.clients.groupNameErrorHelper' | translate }}
                  </clr-control-helper>
                  <clr-control-error class="error-helper" *ngIf="clientGroup.controls.group_name.errors?.message">
                    {{ clientGroup.controls.group_name.errors.message }}
                  </clr-control-error>
                </clr-input-container>
              </div>
              <div class="clr-col-md-2">
                <div class="member-count">{{ getClientGroupMembers(g).length }}</div>
              </div>
              <div class="clr-col-md-3">
                <button class="btn btn-sm btn-link btn-red delete-client-group" (click)="removeClientGroup(g)"
                        *ngIf="false && totalClientsCount() - getClientGroupMembers(g).length >= 1">
                        {{ 'blockchainWizard.clients.deleteClientGroup' | translate }}
                </button>
              </div>
            </div>
          </div>
          <div formGroupName="member_clients" class="compact-input-container">
            <label class="short-label">{{ 'blockchainWizard.clients.clientNode' | translate }}</label>
            <div class="clr-row columned no-height">
              <div class="col-min-1"></div>
              <div class="clr-col-md-4">
                <div class="column-label-container"><label class="column-label">{{ 'blockchainWizard.clients.zone' | translate }}</label></div>
              </div>
              <div class="col-min-2"></div>
              <div class="clr-col-md-6">
                <div class="column-label-container">
                  <label class="column-label">
                    {{ 'blockchainWizard.clients.authUrl' | translate }}
                    <span class="optional-field-span">({{ 'common.optional' | translate }})</span>
                  </label>
                </div>
              </div>
            </div>
            <div *ngFor="let client of getClientGroupMembers(g).controls; let c = index;" [formGroupName]="c" class="clr-row columned">
              <div class="col-min-1">
                <div class="no-width client-node-index-cont"><label class="client-node-index">{{ clientNodeIndex(g,c)+1 }}</label></div>
              </div>
              <div class="clr-col-md-4">
                <clr-select-container>
                  <select clrSelect [id]="'deploy-page-clients-group-'+g+'-client-'+c+'-zone-select'"
                          required formControlName="zone_id" class="zone-selector">
                    <option value="" disabled hidden [selected]="getActiveZones().length > 1 || getActiveZones().length === 0">
                      {{ 'blockchainWizard.clients.chooseZone' | translate }}
                    </option>
                    <option *ngFor="let zone of getActiveZones(); let z = index;" [value]="zone.id"
                            [selected]="getActiveZones().length === 1 && z === 0">
                      {{ zone.name }}
                    </option>
                  </select>
                </clr-select-container>
              </div>
              <div class="col-min-2"></div>
              <div class="clr-col-md-6">
                <clr-input-container>
                  <input clrInput [id]="'deploy-page-clients-group-'+g+'-client-'+c+'-auth-url-input'" type="text" class="auth-input"
                    formControlName="auth_url_jwt" [placeholder]="'blockchainWizard.clients.authUrlPH' | translate "/>
                    <clr-control-error class="no-height">
                      <div class="error-helper abspos no-height">
                        {{ 'blockchainWizard.clients.authUrlInputError' | translate }}
                      </div>
                    </clr-control-error>
                </clr-input-container>
              </div>
              <button class="btn btn-sm remove-col-button" (click)="removeClientNodeToGroup(g,c)" *ngIf="totalClientsCount() > 1">
                <clr-icon size="20" shape="minus-circle"></clr-icon>
              </button>
            </div>
          </div>
          <div class="compact-input-container">
            <div class="clr-row columned no-height">
              <div class="client-group-bottom">
                <button class="btn btn-sm btn-link add-client-node-button" (click)="addClientNodeToGroup(g)"
                  *ngIf="maxClients > totalClientsCount() && maxClientsPerGroup > getClientGroupMembers(g).length"
                  [disabled]="totalClientsCount() >= maxClients || getClientGroupMembers(g).length >= maxClientsPerGroup">
                  {{
                    (!alwaysGroup && getClientGroupMembers(g).length === 1) ?
                        ( 'blockchainWizard.clients.enableGrouping' | translate )
                      : ( 'blockchainWizard.clients.addNodeToGroup' | translate )
                  }}
                </button>
                <clr-tooltip *ngIf="!alwaysGroup && getClientGroupMembers(g).length === 1">
                  <clr-icon clrTooltipTrigger class="client-grouping-info" size="20" shape="info-circle"></clr-icon>
                  <clr-tooltip-content clrPosition="right" clrSize="lg" *clrIfOpen>
                    <span>{{ 'blockchainWizard.clients.clientGroupingInfo'  | translate }}</span>
                  </clr-tooltip-content>
                </clr-tooltip>
                <clr-control-helper class="client-grouping-message"
                  *ngIf="totalClientsCount() >= maxClients || getClientGroupMembers(g).length >= maxClientsPerGroup">
                  {{
                    getClientGroupMembers(g).length >= maxClientsPerGroup ?
                        ( 'blockchainWizard.clients.clientGroupMaxMembersReached' | translate )
                      : ( 'blockchainWizard.clients.clientsMaxReached' | translate )
                  }}{{
                    getClientGroupMembers(g).length >= maxClientsPerGroup ?
                        ' (' + maxClientsPerGroup + ')' : ' (' + maxClients + ')'
                  }}
                </clr-control-helper>
              </div>
            </div>
          </div>
        </div>
        <div>
          <button id="deploy-page-clients-group-add-client" class="btn btn-sm margins"
                  (click)="addClientGroup()" [disabled]="totalClientsCount() >= maxClients">
            {{ alwaysGroup ?
                  ('blockchainWizard.clients.addClientGroup' | translate)
                : ('blockchainWizard.clients.addClient' | translate)
            }}
          </button>
          <clr-control-helper class="max-client-reached-message" *ngIf="totalClientsCount() >= maxClients">
            {{ 'blockchainWizard.clients.clientsMaxReached' | translate }}{{ ' (' + maxClients + ')' }}
          </clr-control-helper>
        </div>
        <div *ngIf="false && clientGroups.errors?.messages?.length > 0" class="form-error-info-cont">
          <div>{{ 'blockchainWizard.clients.formErrors' | translate }}</div>
          <div class="form-error-info">
            <div *ngFor="let message of clientGroups.errors.messages">{{ message }}</div>
          </div>
        </div>
      </div>
    </clr-wizard-page>

    <clr-wizard-page #replicaSizing
                     [clrWizardPageNextDisabled]="!sizingIsValid"
                     *ngIf="pastContractEngineStep && selectedEngine === engines.DAML">

      <ng-template clrPageTitle>
        {{'blockchainWizard.sizing.title' | translate}}
      </ng-template>

      <ng-template clrPageNavTitle>{{'blockchainWizard.sizing.title' | translate}}</ng-template>
      <concord-node-sizing (sizeChange)="addReplicaSize($event)" (isValid)="sizingIsValid = $event"></concord-node-sizing>
    </clr-wizard-page>

    <clr-wizard-page clrWizardPagePreventDefault="true"
                     (clrWizardPageOnCommit)="onSubmit()"
                     (clrWizardPageOnCancel)="doCancel()"
                     (clrWizardPagePrevious)="wizard.previous()"
                     [clrWizardPageNextDisabled]="submitting || submitError">
      <ng-template clrPageTitle>{{'blockchainWizard.reviewDeployment.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.reviewDeployment.navTitle' | translate}}</ng-template>
      <clr-alert *ngIf="submitError" [clrAlertType]="'danger'" [clrAlertClosable]="false">
        <clr-alert-item>
          <span class="alert-text">
            {{ submitErrorMessage }}
          </span>
        </clr-alert-item>
      </clr-alert>
      <clr-spinner *ngIf="submitting">
        {{'common.loading' | translate}}
      </clr-spinner>
      <div class="clr-row review">
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.engine.navTitle' | translate}}
        </div>
        <div class="clr-col-8 summary-value engine">
          {{ selectedEngine }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumName' | translate}}
        </div>
        <div class="clr-col-8 summary-value consortium-title">
          {{ form.value.details.consortium_name }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumDescription' | translate}}
        </div>
        <div class="clr-col-8 summary-value">
          {{ form.value.details.consortium_desc || '--' }}
        </div>

        <h6 class="sub-title">{{'blockchainWizard.nodes.navTitle' | translate}}</h6>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.numberOfNodes' | translate}}
        </div>
        <div class="clr-col-8 summary-value number-of-replicas">
          {{ form.value.nodes.numberOfNodes }}
        </div>
        <ng-container *ngIf="selectedEngine === engines.DAML">
          <div class="clr-col-4 summary-label">
            {{'blockchainWizard.sizing.noOfCPU' | translate}}
          </div>
          <div class="clr-col-8 summary-value number-of-replicas">
            {{ nodeSizingTemplate?.committerSizing.no_of_cpus }}
          </div>
          <div class="clr-col-4 summary-label">
            {{'blockchainWizard.sizing.memory' | translate}}
          </div>
          <div class="clr-col-8 summary-value number-of-replicas">
            {{ nodeSizingTemplate?.committerSizing.memory_in_gigs }} GB
          </div>
          <div class="clr-col-4 summary-label">
            {{'blockchainWizard.sizing.storage' | translate}}
          </div>
          <div class="clr-col-8 summary-value number-of-replicas">
            {{ nodeSizingTemplate?.committerSizing.storage_in_gigs }} GB
          </div>
          <h6  class="sub-title">
            {{'blockchainWizard.clients.navTitle' | translate}}
          </h6>
          <div class="clr-col-4 summary-label">
            {{'blockchainWizard.clients.number' | translate}}
          </div>
          <div class="clr-col-8 summary-value number-of-replicas">
            {{ totalClientsCount() }}
          </div>
          <div class="clr-col-4 summary-label">
            {{'blockchainWizard.sizing.noOfCPU' | translate}}
          </div>
          <div class="clr-col-8 summary-value number-of-replicas">
            {{ nodeSizingTemplate?.clientSizing.no_of_cpus }}
          </div>
          <div class="clr-col-4 summary-label">
            {{'blockchainWizard.sizing.memory' | translate}}
          </div>
          <div class="clr-col-8 summary-value number-of-replicas">
            {{ nodeSizingTemplate?.clientSizing.memory_in_gigs }} GB
          </div>
          <div class="clr-col-4 summary-label">
            {{'blockchainWizard.sizing.storage' | translate}}
          </div>
          <div class="clr-col-8 summary-value number-of-replicas">
            {{ nodeSizingTemplate?.clientSizing.storage_in_gigs }} GB
          </div>
        </ng-container>

        <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6>
        <ng-container *ngFor="let zoneInfo of getUsedZones()">
          <div class="clr-col-4 summary-label">{{ zoneInfo.name }}</div>
          <div class="clr-col-8 summary-value">{{ zoneInfo.summary }}</div>
        </ng-container>
      </div>
    </clr-wizard-page>
  </clr-wizard>
</form>
