@import "~@clr/ui/src/color/_variables.color.scss";

$formTopMargin: 1.5rem;
$inputWidth: 2.5rem;
$clr-card-hover-color: #0094d2;

:host .blockchain-wizard.extra-wide ::ng-deep .modal-dialog.modal-lg {
  width: 41rem;
}

.table-actions {
  clr-icon {
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

.card.sideways {
  height: 6.3rem;

  .card-icon {
    float: left;
    width: 6rem;
    height: 6rem;
    line-height: 6rem;
    border-right: 1px solid $clr-light-gray;
    margin-top: .1rem;
    margin-right: .5rem;
    padding: .1rem;
    text-align: center;

    img {
      display: inline-block;
      vertical-align: middle;
      margin-top: -.5rem;
    }
  }
  .card-endorsement {
    padding-right: .5rem;

    h3 {
      margin: .5rem 0 0;
    }
    p {
      margin-top: .5rem;
      font-size: 90%;
      line-height: 1.4;
    }
  }
}

.card.sideways.active {
  box-shadow: 0 0.125rem 0 0 $clr-card-hover-color;
  border: 1px solid $clr-card-hover-color;
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-2px);
}
.accordion-table-header {
  .title {
    font-weight: 600;
    font-size: 0.458333rem;
    margin-left: 0.5rem;
  }
}

.blockchain-wizard {
  .detail-form {
    margin-top: $formTopMargin;
    textarea {
      width: 100%;
    }
  }
 .user-form {
    margin-top: $formTopMargin;
  }
}

.cell-full {
  width: 20%;
  max-width: 1px;
}

#clr-wizard-page-2 {
  .users-table {
    margin-top: 0;
  }
}

#inviteUserButton {
  margin-top: 6px;
}

label {
  font-weight: bold;
}

#numberOfNodes {
  width: 40px;
}

.add-on-prem {
  margin-top: 1rem;
}

.cancel-on-prem {
  margin-top: 0;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.summary-label, .summary-value {
  font-size: 13px;
  margin-bottom: 10px;
}

.user-form {
  clr-input-container, clr-select-container {
    margin-top: 0.2rem;
  }
  input {
    width: 6rem;
  }
  label {
    margin-top: 0.2rem;
    width: 2rem;
  }
}
.review {
  margin-top: .5rem;
}
.sub-title {
  padding: 0 0 .2rem;
  margin: 1rem 0 .3rem;
  border-bottom: 1px solid $clr-light-gray;
  width: 100%;
}
.nodes {
  select {
    width: $inputWidth;
  }
}
.regions {
  margin-top: $formTopMargin;
  margin-bottom: 2rem;
  input {
    width: $inputWidth;
  }
}

.review {
  .sub-title {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

.show-no-helper clr-control-helper {
  display: none;
}

.help-btn {
  right: 0.25rem;
  top: 0.1rem;
  position: relative;
}