<form *ngIf="form" [formGroup]="form" class="clr-form-horizontal">
  <clr-wizard #wizard clrWizardSize="lg" [(clrWizardOpen)]="isOpen" (clrWizardOnFinish)="onSubmit()"
    (clrWizardOnCancel)="onCancel()" class="blockchain-wizard extra-wide">
    <clr-wizard-title>{{'blockchainWizard.title' | translate}}</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">{{'common.cancel' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">{{'common.back' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'next'" (click)="onClickNext()">{{'common.next' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">{{'common.deploy' | translate}}</clr-wizard-button>

    <clr-wizard-page formGroupName="details" [clrWizardPageNextDisabled]="!selectedEngine">
      <ng-template clrPageTitle>{{'blockchainWizard.engine.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.engine.navTitle' | translate}}</ng-template>
      <div class="clr-row">
        <div class="clr-col-12">
          <div id="damlEngine" class="card clickable sideways" (click)="selectEngine(engines.DAML)"
            [ngClass]="{'active': selectedEngine === engines.DAML}">
            <div class="card-icon">
              <img src="static/images/contract-types/daml.svg"
                [attr.alt]="'blockchainWizard.engine.damlTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.damlTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.damlInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <div id="ethEngine" class="card clickable sideways" (click)="selectEngine(engines.ETH)"
            [ngClass]="{'active': selectedEngine === engines.ETH}">
            <div class="card-icon">
              <img src="static/images/contract-types/eth.svg"
                [attr.alt]="'blockchainWizard.engine.ethTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.ethTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.ethInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row" *concordFeatureFlag="'deploy_HLF'">
        <div class="clr-col-12">
          <div class="card clickable sideways" (click)="selectEngine(engines.HLF)"
            [ngClass]="{'active': selectedEngine === engines.HLF}">
            <div class="card-icon">
              <img src="static/images/contract-types/hlf.svg"
                [attr.alt]="'blockchainWizard.engine.hlfTitle' | translate">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.hlfTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.hlfInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
    </clr-wizard-page>

    <clr-wizard-page #detailPage formGroupName="details" [clrWizardPageNextDisabled]="form.controls.details.invalid">
      <ng-template clrPageTitle>{{'blockchainWizard.details.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.details.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block detail-form">
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{'blockchainWizard.common.consortiumName' | translate}}</label>
          <input clrInput #consortiumInput id="consortiumName" type="text" formControlName="consortium_name"
            class="form-control clr-col-12 clr-col-md-8" size="43"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate">
        </clr-input-container>
        <clr-textarea-container>
          <label class="clr-col-12 clr-col-md-4">{{'blockchainWizard.common.consortiumDescription' | translate}}</label>
          <textarea clrTextarea formControlName="consortium_desc" class="clr-col-12 clr-col-md-8" rows="4"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate"></textarea>
        </clr-textarea-container>
      </div>
    </clr-wizard-page>

    <clr-wizard-page #onPremPage *ngIf="showOnPrem"
      [clrWizardPageNextDisabled]="onPremForm.form.controls?.onPrem.invalid || onPremForm.form.controls?.onPremLocation.invalid"
      (clrWizardPageOnCommit)="submitOnPrem()" (clrWizardPageOnCancel)="doCancel()" clrWizardPagePreventDefault="true">
      <ng-template clrPageTitle>{{'onPrem.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'onPrem.navTitle' | translate}}</ng-template>
      <div class="spinner" *ngIf="loadingFlag">
        Loading...
      </div>
      <!-- <concord-on-premises-form #onPremForm></concord-on-premises-form> -->
      <div class="divider"></div>
      <button class="btn btn-outline-danger btn-sm cancel-on-prem"
        (click)="cancelOnPremAdd()">{{ 'onPrem.cancel' | translate }}</button>
    </clr-wizard-page>

    <clr-wizard-page #replicaPage formGroupName="nodes"
      [clrWizardPageNextDisabled]="!form.controls.nodes.errors?.countIsCorrect">

      <ng-template clrPageTitle>
        {{'blockchainWizard.nodes.pageTitle' | translate}}
        <button #helpButton type="button" class="close help-btn" aria-label="Help" (click)="onClickToHelp('vmb_110')">
          <clr-icon aria-hidden="true" shape="help"></clr-icon>
        </button>
      </ng-template>

      <ng-template clrPageNavTitle>{{'blockchainWizard.nodes.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block blockchain-form nodes">
        <clr-select-container>
          <label class="clr-col-12 clr-col-md-4"
            for="numberOfNodes">{{'blockchainWizard.common.numberOfNodes' | translate}}</label>
          <select clrSelect id="numberOfReplicas" formControlName="numberOfNodes" class="clr-col-12 clr-col-md-8"
            (change)="distributeZones()">
            <option *ngFor="let num of numbersOfNodes" [ngValue]="num">{{num}}</option>
          </select>
          <clr-control-helper>{{'blockchainWizard.details.help.numberOfNodes' | translate}}</clr-control-helper>
        </clr-select-container>
        <div class="regions" formGroupName="zones">
          <!-- <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6> -->
          <clr-tabs>
            <clr-tab *ngIf="hasOnPrem">
              <button clrTabLink (click)="tabSelect()">{{'blockchainWizard.nodes.onPremTitle' | translate}}</button>
              <ng-template  [(clrIfActive)]="onPremActive">
                <clr-tab-content id="onPremZones">
                <clr-alert [clrAlertClosable]="false">
                  <clr-alert-item>
                    <span class="alert-text">
                      {{'blockchainWizard.nodes.regionInfo' | translate}}
                    </span>
                  </clr-alert-item>
                </clr-alert>

                  <clr-input-container *ngFor="let zone of zones" class="show-no-helper">
                    <label class="clr-col-12 clr-col-md-4">{{ zone.name }}</label>
                    <input clrInput type="text" class="clr-col-12 clr-col-md-8" [formControlName]="zone.id" />
                    <clr-control-helper>{{ zone.name }}</clr-control-helper>
                  </clr-input-container>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
            <clr-tab>
              <button clrTabLink (click)="tabSelect()">{{'blockchainWizard.nodes.cloudTitle' | translate}}</button>
              <ng-template [(clrIfActive)]="cloudActive">
                <clr-tab-content id="cloudZones">
                  <clr-alert [clrAlertClosable]="false">
                    <clr-alert-item>
                      <span class="alert-text">
                        {{'blockchainWizard.nodes.regionInfo' | translate}}
                      </span>
                    </clr-alert-item>
                  </clr-alert>

                  <clr-input-container *ngFor="let zone of zones" class="show-no-helper">
                    <label class="clr-col-12 clr-col-md-4">{{ zone.name }}</label>
                    <input clrInput type="text" class="clr-col-12 clr-col-md-8" [formControlName]="zone.id" />
                    <clr-control-helper>{{ zone.name }}</clr-control-helper>
                  </clr-input-container>
                </clr-tab-content>
              </ng-template>
            </clr-tab>
          </clr-tabs>

        </div>
        <div class="divider"></div>
        <!--         <clr-alert [clrAlertClosable]="false">
          <clr-alert-item>
            <span class="alert-text">
              {{'blockchainWizard.nodes.onPremInfo' | translate}}
            </span>
          </clr-alert-item>
        </clr-alert> -->
        <!-- <button class="btn btn-outline btn-danger add-on-prem btn-sm" (click)="addOnPrem()">{{ 'blockchainWizard.nodes.add' | translate }}</button> -->
      </div>
    </clr-wizard-page>

    <clr-wizard-page #clientsPage formGroupName="clients" *ngIf="pastContractEngineStep && selectedEngine === 'DAML'"
      [clrWizardPageNextDisabled]="!form.controls.clients.errors?.countIsCorrect">

      <ng-template clrPageTitle>
        {{'blockchainWizard.clients.pageTitle' | translate}}
        <button #helpButton type="button" class="close help-btn" aria-label="Help" (click)="onClickToHelp('vmb_110')">
          <clr-icon aria-hidden="true" shape="help"></clr-icon>
        </button>
      </ng-template>

      <ng-template clrPageNavTitle>{{ 'blockchainWizard.clients.navTitle' | translate }}</ng-template>
      <div [formGroup]="clientForm" class="client-form">
        <clr-select-container class="compact-input-container">
          <label class="short-label">{{ 'zones.detail.title' | translate }}</label>
          <select clrSelect class="zone-selector" formControlName="zone_id">
            <option value="" disabled selected>{{ 'blockchainWizard.clients.selectZone' | translate }}</option>
            <option *ngFor="let zone of blockchainService.zones" [value]="zone.id">
              {{ zone.name }}
            </option>
          </select>
        </clr-select-container>
        <clr-input-container class="compact-input-container">
          <label class="short-label">{{ 'nodes.deployClientModal.authUrl' | translate }}</label>
          <input clrInput #clientAuthUrlInput id="clientAuthUrlInput" type="text" class="auth-input"
                formControlName="auth_url" [placeholder]="'blockchainWizard.clients.authUrlPH' | translate "/>
          <clr-control-helper>{{ 'blockchainWizard.clients.authUrlHelper' | translate }}</clr-control-helper>
          <clr-control-error>{{ 'blockchainWizard.clients.authUrlError' | translate }}</clr-control-error>
        </clr-input-container>
        <div class="add-button-margins">
          <button class="btn btn-sm margins" (click)="addClientNode()" [disabled]="!clientForm.valid">
            {{ 'blockchainWizard.clients.add' | translate }}
          </button>
          <button class="btn btn-danger-outline btn-sm margins" (click)="clearClientNodes()" [disabled]="form.get('clients').value.length === 0">
            {{ 'blockchainWizard.clients.clear' | translate }}
          </button>
        </div>
      </div>

      <clr-datagrid #grid class="datagrid-compact grid-min-height">
        <clr-dg-column class="remove-col">&nbsp;</clr-dg-column>
        <clr-dg-column>{{ 'blockchainWizard.clients.zone' | translate }}</clr-dg-column>
        <clr-dg-column>{{ 'blockchainWizard.clients.authUrl' | translate }}</clr-dg-column>
        <clr-dg-row *clrDgItems="let client of form.get('clients').value; let i = index">
          <clr-dg-cell class="remove-col">
            <button class="remove-col-button" (click)="removeClientNode(i)">
              <clr-icon size="16" shape="minus-circle"></clr-icon>
            </button>
          </clr-dg-cell>
          <clr-dg-cell>{{ client.zone_name }}</clr-dg-cell>
          <clr-dg-cell>{{ client.auth_url_jwt.value }}</clr-dg-cell>
        </clr-dg-row>
        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="5"><span class="pagination-message">
            {{ 'blockchainWizard.clients.paginationTotal' | translate: { 
                  start: pagination.firstItem + 1,
                  finish: pagination.lastItem + 1,
                  total: pagination.totalItems } 
            }}</span>
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </clr-wizard-page>

    <clr-wizard-page>
      <ng-template clrPageTitle>{{'blockchainWizard.reviewDeployment.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.reviewDeployment.navTitle' | translate}}</ng-template>
      <div class="clr-row review">
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.engine.navTitle' | translate}}
        </div>
        <div class="clr-col-8 summary-value engine">
          {{ selectedEngine }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumName' | translate}}
        </div>
        <div class="clr-col-8 summary-value consortium-title">
          {{ form.value.details.consortium_name }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumDescription' | translate}}
        </div>
        <div class="clr-col-8 summary-value">
          {{ form.value.details.consortium_desc || '--' }}
        </div>
        <h6 class="sub-title">{{'blockchainWizard.nodes.navTitle' | translate}}</h6>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.numberOfNodes' | translate}}
        </div>
        <div class="clr-col-8 summary-value number-of-replicas">
          {{ form.value.nodes.numberOfNodes }}
        </div>
        <h6 *ngIf="form.value.clients.length" class="sub-title">
          {{'blockchainWizard.clients.navTitle' | translate}}
        </h6>
        <div *ngIf="form.value.clients.length" class="clr-col-4 summary-label">
          {{'blockchainWizard.clients.number' | translate}}
        </div>
        <div *ngIf="form.value.clients.length" class="clr-col-8 summary-value number-of-replicas">
          {{ form.value.clients.length }}
        </div>
        <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6>
        <ng-container *ngFor="let zone of zones">
          <div class="clr-col-4 summary-label">
            {{ zone.name }}
          </div>
          <div class="clr-col-8 summary-value">
            {{ form.controls.nodes['controls'].zones.value[zone.id] || '--' }}
          </div>
        </ng-container>
      </div>
    </clr-wizard-page>
  </clr-wizard>
</form>
