.header .header-nav {
  position: relative;
}

.header-nav:after, .header-nav:before, form.search:after {
  position: absolute;
  content: "";
  display: inline-block;
  background: #fafafa;
  opacity: .15;
  height: 1.66667rem;
  width: 1px;
  top: .41667rem;
}

.header-nav clr-dropdown button{
  height: 2.5rem;
  padding: 0 1rem;
}

.header .header-actions > .dropdown .dropdown-toggle.nav-icon clr-icon[shape^="cog"] {
  transform: translate(-50%, -50%);
}

.header .header-actions > .dropdown .dropdown-toggle.nav-icon clr-icon[shape^="help"] {
  transform: translate(-50%, -50%);
}

.persona-selector {
  .dropdown-item.active {
    font-weight: bold;
  }
}

.header-nav #menu {
  color: #fff;
}
.subnav .nav {
  justify-content: flex-end;
}

:host ::ng-deep .btn-sign-in {
  margin-top: -6px !important; // Fix CSP sign-in button misaligned.
}