.large-title {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.help-btn {
  left: 0.5rem;
  position: relative;
}

.inline-block {
  display: inline-block;
}

:host ::ng-deep {
  .datagrid-action-bar {
    margin-left: 10rem;
  }
}
