<div class="list-container">
  <clr-datagrid>
    <clr-dg-action-bar>
      <div class="btn-group">
        <!-- <a href="javascript:void(0)" (click)="inviteUser.open()" class="btn">
          <clr-icon shape="user"></clr-icon> Invite User
        </a> -->

        <!-- help button -->
        <button #helpButton type="button" class="close help-btn" aria-label="Help" (click)="onClickToHelp('vmb_140')">
          <clr-icon aria-hidden="true" shape="help" size="18"></clr-icon>
        </button>

        <a href="{{ env.iamLink }}" class="btn">
          <clr-icon shape="users"></clr-icon> {{ 'organization.actions.users' | translate }}
        </a>
      </div>
    </clr-dg-action-bar>
    <clr-dg-column>{{'organization.columns.name' | translate}}</clr-dg-column>
    <clr-dg-row *clrDgItems="let org of orgs">
      <clr-dg-cell>
        {{org.organization_name}}
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{'organization.paginationSummary' | translate: { start: pagination.firstItem + 1, finish: pagination.lastItem + 1,
        total: pagination.totalItems} }}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<concord-inivte-user #inviteUser></concord-inivte-user>