@import "~@clr/ui/src/color/_variables.color.scss";

.modal-body {
  // the import button was getting cut off
  min-height: 260px;
}

form {
  label {
    text-align: left !important;
    &.required {
      &:after {
        content: '*';
        font-size: 0.58479532rem; // Approximately 14px.
        line-height: 0.5rem;
        color: $clr-red;
        margin-left: 0.25rem;
      }
    }
  }
  .clr-input  {
    // Hash's get cut off
    min-width: 350px;
  }
}

input[type='file'] {
  border: none !important;
  background: none !important;
  margin-left: 10px;
}

.helper-text {
  flex: 1 0 100%;
}

.optimize {
  margin-top: 1rem;
}

.help-btn {
  right: 0.25rem;
  top: 0.1rem;
  position: relative;
}
