<clr-main-container>
  <clr-header>
    <div class="branding">
      <a href="#" class="nav-link">
        <span class="title">Athena UI</span>
      </a>
    </div>
    <div class="header-actions">
      <a href="javascript:;" class="nav-link nav-icon">
        <clr-icon shape="search"></clr-icon>
      </a>
      <a href="javascript:;" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          john.doe@vmware.com
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a href="javascript:;" clrDropdownItem>Log out</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="dashboard" routerLinkActive="active">Dashboard</a>
      <a clrVerticalNavLink routerLink="nodes" routerLinkActive="active">Node List</a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
