<clr-main-container>
  <clr-header class="header-6" *ngIf="authenticated">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{'title' | translate}}</span>
      </a>
    </div>
    <div class="header-actions">
      <div class="nav-text active-nodes">
        <clr-icon shape="circle" class="is-solid is-success" size="14"></clr-icon>
        {{ 'nav.metrics.activeNodes' | translate:{value: '28,458'} }}
      </div>
      <a href="javascript:;" class="nav-link nav-icon">
        <clr-icon shape="search"></clr-icon>
      </a>
      <a href="javascript:;" class="nav-link nav-icon">
        <clr-icon shape="cog"></clr-icon>
      </a>
      <clr-dropdown>
        <button class="nav-text" clrDropdownTrigger>
          <clr-icon shape="user" class="is-solid"></clr-icon>
          {{ username }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem (click)="onLogOut()">{{'nav.logOut' | translate}}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav *ngIf="authenticated">
      <a clrVerticalNavLink routerLink="dashboard" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        {{'nav.dashboard.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="nodes" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="network-globe"></clr-icon>
        {{'nav.nodeList.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="blocks" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="blocks-group"></clr-icon>
        {{'nav.blockList.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="smart-contracts" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="scroll"></clr-icon>
        {{'nav.smartContracts.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="testing" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="file-settings"></clr-icon>
        {{'nav.testing.title' | translate}}
      </a>
    </clr-vertical-nav>
  </div>
</clr-main-container>
