<div class="card">
  <h6 class="list-title">{{listConfig?.tableHeader | translate}}</h6>
  <clr-datagrid>
    <clr-dg-column *ngFor="let header of listConfig?.headers">{{header | translate}}</clr-dg-column>
    <clr-dg-row *clrDgItems="let item of items">
      <clr-dg-cell *ngFor="let prop of listConfig?.displayProperties; let i = index;">
        <div *ngIf="i === 0 && listConfig.itemLink; else textProp">
          <a [routerLink]="listConfig.itemLink(item)" [innerHTML]="getItemProp(item, prop)"></a>
        </div>
        <ng-template #textProp>
          <div class="dash-item" [innerHTML]="getItemProp(item, prop)"></div>
          <concord-copy-to-clipboard-button
            *ngIf="prop === 'public_ip'"
            classList="ctc-btn-inline dash-list"
            [tooltip]="'common.copyToClip' | translate"
            tooltipDirection="top-right"
            [value]="item[prop]"
            [size]="12">
          </concord-copy-to-clipboard-button>

        </ng-template>
      </clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer *ngIf="listConfig?.paginationSummary">
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{listConfig?.paginationSummary | translate: { start: pagination.firstItem + 1, finish: pagination.lastItem + 1,
        total: pagination.totalItems} }}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
