clr-datagrid,
.card {
  height: 100% !important;
}

.card {
  margin-top: 0;
  padding: .25rem .5rem 1.75rem;

  .list-title {
    margin-top: 0;
    margin-bottom: .25rem;
  }
  .dash-item {
    float: left;
  }
}


:host ::ng-deep concord-copy-to-clipboard-button {
  .dash-list {
    margin: 0;
  }
}

:host ::ng-deep .datagrid {

  .label-container {
    margin-top: -.15rem;
  }
  .label {
    line-height: 0;
    height: .7rem;
  }
  .datagrid-cell {
    padding: .38rem .4rem;
  }
  .datagrid-cell, a {
    font-size: .5rem;
    line-height: .60rem;
  }

}
