<div class="p-2 bg-header">
  <h2 class="mt-0">GAV-324V AAC Application Node</h2>

  <div class="row">
    <div class="col-md-12">
      <h3>Network</h3>
      <div class="graph-placeholder"></div>
    </div>
    <div class="col-md-6">
      <h3>Node Activity</h3>
      <div class="graph-placeholder"></div>
    </div>
    <div class="col-md-6">
      <h3>Node Location</h3>
      <div class="graph-placeholder"></div>
    </div>
  </div>
</div>

<div class="p-2">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="mt-0">Transactions</h3>
    </div>
    <div class="col-xs-6">
      <div class="form-group text-right">
        <input type="text" placeholder="Search..." />
        <button type="button" class="btn btn-primary" (click)="onOpenFilterModal()">Filters</button>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>Timestamp</th>
      <th>Origination</th>
      <th>Transaction Type</th>
      <th>Amount</th>
      <th>Trans Length</th>
      <th>Status</th>
      <th>Nodes</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>01-28-2017</td>
      <td>Lindberg</td>
      <td>Lorem ipsum dolor</td>
      <td>$785</td>
      <td>40.87 sec</td>
      <td>Denied</td>
      <td>75</td>
      <td>
        <clr-dropdown [clrCloseMenuOnItemClick]="false">
          <button type="button" clrDropdownTrigger>
            <clr-icon shape="ellipsis-horizontal" size="16"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <button type="button" clrDropdownItem>Lorem ipsum</button>
            <button type="button" clrDropdownItem>Dolor sit amet</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-transaction-filters-modal #filterModal (applyFilters)="onApplyFilters()"></app-transaction-filters-modal>
