f_val: 1
c_val: 0
self_principal_id: 19
num_replicas: 4
comm_to_use: tls
tls_certificates_folder_path: resources/tls_certs
tls_cipher_suite_list: ECDHE-ECDSA-AES256-GCM-SHA384
concord-bft_communication_buffer_length: 64000
bind_ip: 0.0.0.0
bind_port: 3502
node:
  - replica:
      - principal_id: 0
        replica_host: concord1
        replica_port: 3501
  - replica:
      - principal_id: 1
        replica_host: concord2
        replica_port: 3501
  - replica:
      - principal_id: 2
        replica_host: concord3
        replica_port: 3501
  - replica:
      - principal_id: 3
        replica_host: concord4
        replica_port: 3501
