<clr-modal [(clrModalOpen)]="isOpen">
    <h3 class="modal-title">{{ 'nodes.deployClient' | translate }}</h3>
    <div class="modal-body">
      <form clrForm [formGroup]="deployClient" (ngSubmit)="deploy()">
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-2">{{ 'common.name' | translate }}</label>
          <input clrInput class="input-width" type="text" formControlName="name" 
                placeholder="{{ 'nodes.deployClientModal.clientNodeNamePlaceholder' | translate }}"/>
        </clr-input-container>
        <!-- Commented out until it is supported -->
        <!-- <clr-toggle-container>
          <label>{{ 'nodes.deployClientModal.highAvailability' | translate }}</label>
          <clr-toggle-wrapper>
            <input type="checkbox" clrToggle value="high_availability" formControlName="high_availability"/>
          </clr-toggle-wrapper>
          <clr-control-helper>{{ 'nodes.deployClientModal.highAvailabilityDesc' | translate }}</clr-control-helper>
          <clr-control-error>This field is required!</clr-control-error>
        </clr-toggle-container> -->
        <clr-select-container>
          <label>{{ 'zones.detail.title' | translate }}</label>
          <select clrSelect formControlName="zone" class="select-width">
            <option value="" disabled selected>Select option</option>
            <option *ngFor="let zone of zones" [value]="zone.id">
              {{ zone.name }}
            </option>
          </select>
        </clr-select-container>
        <clr-textarea-container>
          <label>{{ 'nodes.deployClientModal.authUrl' | translate }}</label>
          <textarea clrTextarea formControlName="auth_url"
                placeholder="{{ 'nodes.deployClientModal.authUrlPlaceholder' | translate }}"
                class="input-textarea-width textarea-margin-left">
          </textarea>
          <clr-control-helper class="textarea-margin-left">{{ 'nodes.deployClientModal.authUrlDesc' | translate }}</clr-control-helper>
          <clr-control-error class="textarea-margin-left">{{ 'nodes.deployClientModal.authUrlError' | translate }}</clr-control-error>
        </clr-textarea-container>
        <clr-input-container></clr-input-container>
      </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning-outline" (click)="closeModal()">{{ 'common.cancel' | translate }}</button>
        <button type="button" class="btn btn-primary" (click)="deploy()" [disabled]="deployClient.invalid">{{ 'common.deploy' | translate }}</button>
    </div>
</clr-modal>
