@import "../../../styles/theme";

#map-container {
  width: 100%;
  height: 480px;
  background: darken($clr-action-blue-darkest, 4%);
}

#tooltip-container {
  box-sizing: border-box;
  background: $clr-black;
  border-radius: $clr-global-borderradius;
  padding: 10px;
  color: $white;
}
