version: '3'

networks:
  hlf:
  fabric-1:
  fabric-2:
  fabric-3:
  fabric-4:

services:
# Concord-Hlf cluster 1
  orderer1.example.com:
    container_name: orderer1.example.com
    image: "${hlf_orderer_repo}:${hlf_orderer_tag}"
    command: orderer
    ports:
      - 7050
    networks:
      - fabric-1
    volumes:
      - ./hlf/configtx-peer1/:/etc/hyperledger/configtx

  peer1.org1.example.com:
    container_name: peer1.org1.example.com
    image: "${hlf_peer_base_repo}:${hlf_peer_base_tag}"
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_PEER_ID=peer1.org1.example.com
      - CORE_LOGGING_LEVEL=INFO
      - CORE_LOGGING_PEER=DEBUG
      - CORE_CHAINCODE_LOGGING_LEVEL=debug
      - CORE_PEER_LOCALMSPID=Org1MSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp/peer/
      - CORE_PEER_ADDRESS=peer1.org1.example.com:7051
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=docker_fabric-1
      - CORE_CONCORD_ADDRESS=concord1:50052
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: peer node start
    ports:
      - 7051
    volumes:
      - /var/run/:/host/var/run/
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/msp:/etc/hyperledger/msp/peer
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/users:/etc/hyperledger/msp/users
      - ./hlf/configtx-peer1/:/etc/hyperledger/configtx
    networks:
      - fabric-1

  cli1:
    container_name: cli1
    image: "${hlf_tools_repo}:${hlf_tools_tag}"
    networks:
      - fabric-1
    environment:
      - CORE_PEER_ADDRESS=peer1.org1.example.com:7051
      - CORE_ORDERER_ADDRESS=orderer1.example.com:7050

  concord1:
    container_name: concord1
    image: "${concord_repo}:${concord_tag}"
    privileged: true
    expose:
      - 50052
      - 5458
      - 3501/udp
      - 3502/udp
      - 3503/udp
      - 3504/udp
      - 3505/udp
    volumes:
      - ./devdata/rocksdbdata1:/concord/rocksdbdata
      - ./devdata/log1:/concord/log
      - ./config-public:/concord/config-public:ro
      - ./config-concord1:/concord/config-local
      - ./tls_certs:/concord/tls_certs:ro
      - ../hermes/resources/chaincode:/concord/src/chaincode
    networks:
      - fabric-1
      - hlf 

# Concord-Hlf cluster 2
  orderer2.example.com:
    container_name: orderer2.example.com
    image: "${hlf_orderer_repo}:${hlf_orderer_tag}"
    command: orderer
    ports:
      - 7050
    networks:
      - fabric-2
    volumes:
      - ./hlf/configtx-peer2/:/etc/hyperledger/configtx

  peer2.org1.example.com:
    container_name: peer2.org1.example.com
    image: "${hlf_peer_base_repo}:${hlf_peer_base_tag}"
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_PEER_ID=peer2.org1.example.com
      - CORE_LOGGING_LEVEL=INFO
      - CORE_LOGGING_PEER=DEBUG
      - CORE_CHAINCODE_LOGGING_LEVEL=debug
      - CORE_PEER_LOCALMSPID=Org1MSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp/peer/
      - CORE_PEER_ADDRESS=peer2.org1.example.com:7051
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=docker_fabric-2
      - CORE_CONCORD_ADDRESS=concord2:50052
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: peer node start
    ports:
      - 7051
    volumes:
      - /var/run/:/host/var/run/
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/msp:/etc/hyperledger/msp/peer
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/users:/etc/hyperledger/msp/users
      - ./hlf/configtx-peer2/:/etc/hyperledger/configtx
    networks:
      - fabric-2

  cli2:
    container_name: cli2
    image: "${hlf_tools_repo}:${hlf_tools_tag}"
    networks:
      - fabric-2
    environment:
      - CORE_PEER_ADDRESS=peer2.org1.example.com:7051
      - CORE_ORDERER_ADDRESS=orderer2.example.com:7050

  concord2:
    container_name: concord2
    image: "${concord_repo}:${concord_tag}"
    privileged: true
    expose:
      - 50052
      - 5458
      - 3501/udp
      - 3502/udp
      - 3503/udp
      - 3504/udp
      - 3505/udp
    volumes:
      - ./devdata/rocksdbdata2:/concord/rocksdbdata
      - ./devdata/log2:/concord/log
      - ./config-public:/concord/config-public:ro
      - ./config-concord2:/concord/config-local
      - ./tls_certs:/concord/tls_certs:ro
    networks:
      - fabric-2
      - hlf


# Concord-Hlf cluster 3
  orderer3.example.com:
    container_name: orderer3.example.com
    image: "${hlf_orderer_repo}:${hlf_orderer_tag}"
    command: orderer
    ports:
      - 7050
    networks:
      - fabric-3
    volumes:
      - ./hlf/configtx-peer3/:/etc/hyperledger/configtx

  peer3.org1.example.com:
    container_name: peer3.org1.example.com
    image: "${hlf_peer_base_repo}:${hlf_peer_base_tag}"
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_PEER_ID=peer3.org1.example.com
      - CORE_LOGGING_LEVEL=INFO
      - CORE_LOGGING_PEER=DEBUG
      - CORE_CHAINCODE_LOGGING_LEVEL=debug
      - CORE_PEER_LOCALMSPID=Org1MSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp/peer/
      - CORE_PEER_ADDRESS=peer3.org1.example.com:7051
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=docker_fabric-3
      - CORE_CONCORD_ADDRESS=concord3:50052
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: peer node start
    ports:
      - 7051
    volumes:
      - /var/run/:/host/var/run/
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/msp:/etc/hyperledger/msp/peer
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/users:/etc/hyperledger/msp/users
      - ./hlf/configtx-peer3/:/etc/hyperledger/configtx
    networks:
      - fabric-3

  cli3:
    container_name: cli3
    image: "${hlf_tools_repo}:${hlf_tools_tag}"
    networks:
      - fabric-3
    environment:
      - CORE_PEER_ADDRESS=peer3.org1.example.com:7051
      - CORE_ORDERER_ADDRESS=orderer3.example.com:7050


  concord3:
    container_name: concord3
    image: "${concord_repo}:${concord_tag}"
    privileged: true
    expose:
      - 50052
      - 5458
      - 3501/udp
      - 3502/udp
      - 3503/udp
      - 3504/udp
      - 3505/udp
    volumes:
      - ./devdata/rocksdbdata3:/concord/rocksdbdata
      - ./devdata/log3:/concord/log
      - ./config-public:/concord/config-public:ro
      - ./config-concord3:/concord/config-local
      - ./tls_certs:/concord/tls_certs:ro
    networks:
      - fabric-3
      - hlf

# Concord-Hlf cluster 4
  orderer4.example.com:
    container_name: orderer4.example.com
    image: "${hlf_orderer_repo}:${hlf_orderer_tag}"
    command: orderer
    ports:
      - 7050
    networks:
      - fabric-4
    volumes:
      - ./hlf/configtx-peer4/:/etc/hyperledger/configtx

  peer4.org1.example.com:
    container_name: peer4.org1.example.com
    image: "${hlf_peer_base_repo}:${hlf_peer_base_tag}"
    environment:
      - CORE_VM_ENDPOINT=unix:///host/var/run/docker.sock
      - CORE_PEER_ID=peer4.org1.example.com
      - CORE_LOGGING_LEVEL=INFO
      - CORE_LOGGING_PEER=DEBUG
      - CORE_CHAINCODE_LOGGING_LEVEL=debug
      - CORE_PEER_LOCALMSPID=Org1MSP
      - CORE_PEER_MSPCONFIGPATH=/etc/hyperledger/msp/peer/
      - CORE_PEER_ADDRESS=peer4.org1.example.com:7051
      - CORE_PEER_CHAINCODELISTENADDRESS=0.0.0.0:7052
      - CORE_VM_DOCKER_HOSTCONFIG_NETWORKMODE=docker_fabric-4
      - CORE_CONCORD_ADDRESS=concord4:50052
    working_dir: /opt/gopath/src/github.com/hyperledger/fabric
    command: peer node start
    ports:
      - 7051
    volumes:
      - /var/run/:/host/var/run/
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/peers/peer0.org1.example.com/msp:/etc/hyperledger/msp/peer
      - ./hlf/crypto-config/peerOrganizations/org1.example.com/users:/etc/hyperledger/msp/users
      - ./hlf/configtx-peer4/:/etc/hyperledger/configtx
    networks:
      - fabric-4

  cli4:
    container_name: cli4
    image: "${hlf_tools_repo}:${hlf_tools_tag}"
    networks:
      - fabric-4
    environment:
      - CORE_PEER_ADDRESS=peer4.org1.example.com:7051
      - CORE_ORDERER_ADDRESS=orderer4.example.com:7050

  concord4:
    container_name: concord4
    image: "${concord_repo}:${concord_tag}"
    privileged: true
    expose:
      - 50052
      - 5458
      - 3501/udp
      - 3502/udp
      - 3503/udp
      - 3504/udp
      - 3505/udp
    volumes:
      - ./devdata/rocksdbdata4:/concord/rocksdbdata
      - ./devdata/log4:/concord/log
      - ./config-public:/concord/config-public:ro
      - ./config-concord4:/concord/config-local
      - ./tls_certs:/concord/tls_certs:ro
    networks:
      - fabric-4
      - hlf


