
$hashWidth: 60%;
$nonceWidth: 10%;
$statusWidth: 30%;

concord-transaction-details {
  width: 100%;
}

.details {
  width:80%; 
  padding-bottom:1.5rem;
}
.loading-gif {
  margin-left: 0.5rem;
}
.wrapper {
  width:100%;
  overflow-x: hidden;
}

.single-show {
  padding-top: 0;
}

.cell {
  min-height: 24px;
  max-height: 24px;
  padding: 0px;
  display: table;
}
.hash {
  min-width: $hashWidth;
  width: $hashWidth;
}
.nonce {
  min-width: $nonceWidth;
  width: $nonceWidth;
}
.status {
  min-width: $statusWidth;
  width: $statusWidth;
}
.cell-inner {
  width:100%;
  min-height: 24px;
  line-height: 24px;
  padding: 8px;
  display: table-cell;
  vertical-align: middle;
}

:host ::ng-deep clr-datagrid { 
  div.datagrid {
    overflow-x: hidden;
  }
}

:host ::ng-deep clr-datagrid.list-only {

  > div.datagrid {
    border:none;
    > div.datagrid-table-wrapper {
      > div.datagrid-table {
        min-height:0;
        > .datagrid-header {
          display:none;
        }
        > clr-dg-placeholder {
          display:none;
        }
      }
    }
  }

}
