<div class="p-2 bg-dark">
  <div class="row">
    <div class="col-xs-4 media flex-items-xs-middle">
      <h3 class="mt-0 text-white">{{'nodes.nodeActivity' | translate}}</h3>
    </div>
    <div class="col-xs-8 media flex-items-xs-middle flex-items-xs-right">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink (click)="getTodaysData()">{{'time.today' | translate}}</button>
          <clr-tab-content id="content1" *clrIfActive="true"></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastSevenDaysData()">{{ 'time.lastXDays' | translate:{number: 7} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastThirtyDaysData()">{{ 'time.lastXDays' | translate:{number: 30} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastNinetyDaysData()">{{ 'time.lastXDays' | translate:{number: 90} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 chart-container">
      <athena-block-graph [graphData]="graphData"></athena-block-graph>
    </div>
  </div>
</div>

<div class="p-2 bg-header">
  <div class="row">
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.totalActiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.totalActiveNodes | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0" >
        {{'nodes.inactiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.inactiveNodes | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.overallNodeHealth' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.overallNodeHealth | percent:"1.0-2"}}</h2>
      <div class="progress success">
        <progress max="100" [value]="mockStats.overallNodeHealth * 100"></progress>
      </div>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.transactionsPerSecond' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.transactionsPerSecond | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.averageValidationTime' | translate}}
      </p>
      <h2 class="mt-0"
          [innerHTML]="'nodes.xSeconds' | translate:{seconds: (mockStats.averageValidationTime | number:'1.0-2')}">
      </h2>
    </div>
  </div>
</div>

<div class="p-2">
  <div class="row">
    <div class="col-xs-12">
      <h3 class="mt-0">{{'nodes.nodes' | translate}}</h3>
    </div>
  </div>
  <clr-datagrid>
    <clr-dg-column>{{'nodes.location' | translate}}</clr-dg-column>
    <clr-dg-column [clrDgField]="'host'">{{'nodes.hostname' | translate}}</clr-dg-column>
    <clr-dg-column>{{'nodes.address' | translate}}</clr-dg-column>
    <clr-dg-column>
      {{'nodes.status' | translate}}
      <clr-dg-filter [clrDgFilter]="statusFilter">
        <athena-nodes-status-filter #statusFilter></athena-nodes-status-filter>
      </clr-dg-filter>
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let member of members">
      <clr-dg-cell>Lindberg</clr-dg-cell>
      <clr-dg-cell><a [routerLink]="[member.host]">{{member.host}}</a></clr-dg-cell>
      <clr-dg-cell>2001:0db8:85a3:0000:0000:8a2e:0370:7334:8080</clr-dg-cell>
      <clr-dg-cell>{{member.status}}</clr-dg-cell>
    </clr-dg-row>
  </clr-datagrid>
</div>
