<div>
  <table class="mt-0 table table-vertical">
    <tbody>
    <tr>
      <th>{{'blocks.blockHash' | translate}}</th>
      <td>
        <a [routerLink]="getBlockPageRouterLink(block?.number)">
          {{block?.hash}}
        </a>
        <concord-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="block?.hash"
          [size]="12">
        </concord-copy-to-clipboard-button>
      </td>
    </tr>
    <tr *ngIf="block && block.number > 0">
      <th>{{'blocks.parentHash' | translate}}</th>
      <td>
        <a [routerLink]="getBlockPageRouterLink(block ? block.number - 1 : null)">
          {{block?.parentHash}}
        </a>
        <concord-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="block?.parentHash"
          [size]="12">
        </concord-copy-to-clipboard-button>
      </td>
    </tr>
    <tr *ngIf="block?.timestamp">
      <th>{{'blocks.timestamp' | translate}}</th>
      <td>
        {{ (block?.timestamp * 1000) | date: 'yyyy/MM/dd h:mm:ss a':'+0000' }} (UTC)
        <concord-copy-to-clipboard-button
          classList="ctc-btn-inline"
          [tooltip]="'common.copyToClip' | translate"
          tooltipDirection="top-right"
          [value]="timestampToISOString(block?.timestamp * 1000)"
          [size]="12">
        </concord-copy-to-clipboard-button>
      </td>
    </tr>
    <tr>
      <th>{{'blocks.txcount' | translate}}</th>
      <td>{{block?.transactions?.length}}</td>
    </tr>
    </tbody>
  </table>
</div>
