.dropdown-menu {
  visibility: visible;
  display: block;
  overflow-y: auto;
  max-height: 300px;
}

.combobox-items-container {
  display: block;
}

.dropdown-menu li.dropdown-item {
  align-items: center;
  display: flex;
}

.combobox-container {
  width: 100%;
}

.loading-spinner {
  transform: translate(0, 1rem);
  margin-right: 0.3rem;
  vertical-align: middle;
}
