<div class="p-2">
  <div class="clr-row">
    <div class="clr-col-4 media flex-items-xs-middle">
      <h3 class="mt-0">{{'nodes.nodeActivity' | translate}}</h3>
    </div>
    <div class="clr-col-8 media flex-items-xs-middle flex-items-xs-right">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink (click)="getTodaysData()">{{'time.today' | translate}}</button>
          <clr-tab-content id="content1" *clrIfActive="true"></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastSevenDaysData()">{{ 'time.lastXDays' | translate:{number: 7} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastThirtyDaysData()">{{ 'time.lastXDays' | translate:{number: 30} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink (click)="getLastNinetyDaysData()">{{ 'time.lastXDays' | translate:{number: 90} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12">
      <concord-block-graph [graphData]="graphData"></concord-block-graph>
    </div>
  </div>
</div>

<div class="p-2">
  <div class="clr-row">
    <div class="clr-col-md">
      <p class="p7 mt-0">
        {{'nodes.totalActiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.totalActiveNodes | number}}</h2>
    </div>
    <div class="clr-col-md">
      <p class="p7 mt-0" >
        {{'nodes.inactiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.inactiveNodes | number}}</h2>
    </div>
    <div class="clr-col-md">
      <p class="p7 mt-0">
        {{'nodes.overallNodeHealth' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.overallNodeHealth | percent:"1.0-2"}}</h2>
      <div class="progress success">
        <progress max="100" [value]="mockStats.overallNodeHealth * 100"></progress>
      </div>
    </div>
    <div class="clr-col-md">
      <p class="p7 mt-0">
        {{'nodes.transactionsPerSecond' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.transactionsPerSecond | number}}</h2>
    </div>
    <div class="clr-col-md">
      <p class="p7 mt-0">
        {{'nodes.averageValidationTime' | translate}}
      </p>
      <h2 class="mt-0"
          [innerHTML]="'nodes.xSeconds' | translate:{seconds: (mockStats.averageValidationTime | number:'1.0-2')}">
      </h2>
    </div>
  </div>
</div>

<div class="p-2">
  <div class="clr-row">
    <div class="clr-col-12">
      <h3 class="mt-0">{{'nodes.nodes' | translate}}</h3>
    </div>
  </div>
  <concord-node-list></concord-node-list>
</div>
