@import "~@clr/ui/src/color/_variables.color.scss";

.tooltip-inline {
  display: inline-block;
  margin-left: 0.133rem;
  transform: translate(0, -0.07rem);
}

label {
  text-align: left !important;
  &.required {
    &:after {
      content: '*';
      font-size: 0.58479532rem; // Approximately 14px.
      line-height: 0.5rem;
      color: $clr-red;
      margin-left: 0.25rem;
    }
  }
}

.clr-input  {
  // Hash's get cut off
  min-width: 350px;
}
