<div *ngIf="functionInputs?.length" [formGroup]="formGroup">
  <h5 class="font-weight-bold d-inline-block mb-1">
    <span *ngIf="!versionData || versionData?.type !== 'DAML'">{{'smartContracts.version.functionParameters' | translate}}</span>
    <span *ngIf="versionData?.type === 'DAML'">{{'smartContracts.version.templateParameters' | translate}}</span>
    <clr-tooltip class="tooltip-inline">
      <clr-icon clrTooltipTrigger shape="info-circle" size="24" class="is-info"></clr-icon>
      <clr-tooltip-content clrPosition="top-right" clrSize="md" *clrIfOpen>
        <span>{{'smartContracts.version.tooltips.requiredParameters' | translate}}</span>
      </clr-tooltip-content>
    </clr-tooltip>
  </h5>
  <ng-container *ngFor="let input of functionInputs">
    <clr-input-container *ngIf="!isByteArray(input.type)">
      <label class="required clr-col-xs-12 clr-col-md-3">{{input.name}}</label>
      <input class="clr-col-xs-12 clr-col-md-9" clrInput type="text" [formControlName]="input.name" required>
      <clr-control-helper>{{'smartContracts.version.parameterHelper' | translate}}</clr-control-helper>
      <clr-control-helper>{{'smartContracts.version.inputTypeHelper' | translate: {type: input.type} }}</clr-control-helper>
      <clr-control-error *clrIfError="'required'">{{'common.requiredValidationMessage' | translate}}</clr-control-error>
      <clr-control-error *clrIfError="'hexAddress'">{{'smartContracts.version.addressPatternValidationMessage' | translate}}</clr-control-error>
      <clr-control-error *clrIfError="'unsignedInteger'">{{'smartContracts.version.inputUIntValidationMessage' | translate}}</clr-control-error>
      <clr-control-error *clrIfError="'signedInteger'">{{'smartContracts.version.inputSignedIntValidationMessage' | translate}}</clr-control-error>
      <clr-control-error *clrIfError="'invalidByteLength'">{{'smartContracts.version.inputByteLengthValidationMessage' | translate}}</clr-control-error>
    </clr-input-container>
    <clr-textarea-container *ngIf="isByteArray(input.type)">
      <label class="required clr-col-xs-12 clr-col-md-3">{{input.name}}</label>
      <textarea class="clr-col-xs-12 clr-col-md-9" clrTextarea [formControlName]="input.name" required></textarea>
      <clr-control-helper>{{'smartContracts.version.parameterHelper' | translate}}</clr-control-helper>
      <clr-control-helper>{{'smartContracts.version.inputTypeHelper' | translate: {type: input.type} }}</clr-control-helper>
      <clr-control-helper>{{'smartContracts.version.arrayParameterHelper' | translate}}</clr-control-helper>
      <clr-control-error *clrIfError="'required'">{{'common.requiredValidationMessage' | translate}}</clr-control-error>
      <clr-control-error *clrIfError="'invalidByteArrayByteLength'">{{'smartContracts.version.inputByteArrayByteLengthValidationMessage' | translate}}</clr-control-error>
      <clr-control-error *clrIfError="'invalidArrayLength'">{{'smartContracts.version.inputArrayLengthValidationMessage' | translate}}</clr-control-error>
    </clr-textarea-container>
  </ng-container>
</div>
