<clr-main-container>
  <clr-alerts>
    <clr-alert *ngFor="let alert of alerts" [clrAlertType]="'alert-danger'" [clrAlertAppLevel]="true">
      <clr-alert-item>
        <span class="alert-text">
          {{ alert.message }}
        </span>
      </clr-alert-item>
    </clr-alert>
  </clr-alerts>
  <clr-header class="header-6">
    <div class="branding">
      <a routerLink="/" class="nav-link">
        <clr-icon shape="vm-bug"></clr-icon>
        <span class="title">{{'title' | translate}}</span>
      </a>
    </div>
    <div class="header-nav">
      <clr-dropdown>
        <button id="menu" class="nav-text" clrDropdownTrigger>
          {{ 'nav.menu.title' | translate }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">

          <a [routerLink]="['/smart-contracts']" fragment="add" clrDropdownItem>
            <clr-icon shape="scroll"></clr-icon> {{ 'nav.menu.options.contract.title' | translate }}
          </a>
          <div class="dropdown-divider"></div>
          <h4 class="dropdown-header">{{ 'nav.menu.options.sysAdminTitle' | translate }}</h4>
          <a [routerLink]="['/dashboard']" fragment="deploy" id="deploy" clrDropdownItem *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
            <clr-icon shape="wand"></clr-icon> {{ 'nav.menu.options.deploy.title' | translate }}</a>
          <a [routerLink]="['/organization']" fragment="add" clrDropdownItem *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
            <clr-icon shape="organization"></clr-icon> {{ 'nav.menu.options.addOrg.title' | translate }}</a>
          <a [routerLink]="['/blockchains']" fragment="add" clrDropdownItem *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
            <clr-icon shape="blocks-group"></clr-icon> {{ 'nav.menu.options.addBlockchains.title' | translate }}</a>
          <a [routerLink]="['/kubernetes']" fragment="add" clrDropdownItem *athenaCanView="personas.SystemsAdmin">
            <clr-icon shape="host"></clr-icon>
            {{ 'nav.menu.options.addKubernetes.title' | translate }}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="header-actions">
      <div class="nav-text active-nodes">
        <clr-icon shape="circle" class="is-solid is-success" size="14"></clr-icon>
        {{ 'nav.metrics.activeNodes' | translate:{value: '28,458'} }}
      </div>
      <clr-dropdown>
        <button class="nav-link nav-icon" clrDropdownTrigger>
          <clr-icon shape="help"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <a [routerLink]="['/dashboard']" fragment="orgTour" clrDropdownItem>
            {{'tourSteps.title' | translate}}
          </a>
        </clr-dropdown-menu>
      </clr-dropdown>
      <clr-dropdown class="persona-selector">
        <button type="button" class="nav-link nav-icon" clrDropdownTrigger>
          <clr-icon shape="cog"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <h4 class="dropdown-header">{{ 'nav.personaSelector.title' | translate }}</h4>
          <button type="button"
                  (click)="onPersonaChange(persona.value)"
                  *ngFor="let persona of personaOptions"
                  [ngClass]="{'active': persona.value === personaService.currentPersona}"
                  clrDropdownItem>
            {{ persona.name | translate }}
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
      <athena-theme-switch-button></athena-theme-switch-button>
      <clr-dropdown #userProfileMenu>
        <button id="profileMenu" class="nav-text" clrDropdownTrigger tourAnchor="onboardingTour.userSettings">
          <clr-icon shape="user" class="is-solid"></clr-icon>
          {{ username }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
          <a clrDropdownItem [routerLink]="['/users/settings']">
            {{'nav.settings' | translate}}
          </a>
          <a id="logOutButton" clrDropdownItem (click)="onLogOut()">{{'nav.logOut' | translate}}</a>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </clr-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet></router-outlet>
    </main>
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="/dashboard" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
        {{'nav.dashboard.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="/nodes" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="network-globe"></clr-icon>
        {{'nav.nodeList.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="/blocks" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="block"></clr-icon>
        {{'nav.blockList.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="/smart-contracts" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="scroll"></clr-icon>
        {{'nav.smartContracts.title' | translate}}
      </a>
      <a clrVerticalNavLink routerLink="/testing" routerLinkActive="active">
        <clr-icon clrVerticalNavIcon shape="file-settings"></clr-icon>
        {{'nav.testing.title' | translate}}
      </a>
      <ng-container *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin, personas.OrgAdmin]">
        <div class="nav-divider"></div>
        <label class="nav-header">
          {{ 'nav.sysadmin.title' | translate }}
        </label>
        <a clrVerticalNavLink
           [routerLink]="['/blockchains']"
           routerLinkActive="active"
           *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
          <clr-icon clrVerticalNavIcon shape="blocks-group"></clr-icon>
          {{ 'nav.blockchains.title' | translate }}
        </a>
        <a clrVerticalNavLink
           [routerLink]="['/consortium']"
           routerLinkActive="active"
           *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
          <clr-icon clrVerticalNavIcon shape="users"></clr-icon>
          {{ 'nav.consortium.title' | translate }}
        </a>
        <a clrVerticalNavLink
           [routerLink]="['/organization']"
           routerLinkActive="active"
           *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
          <clr-icon clrVerticalNavIcon shape="organization"></clr-icon>
          {{ 'nav.organization.title' | translate }}
        </a>
        <a clrVerticalNavLink
           [routerLink]="['/kubernetes']"
           routerLinkActive="active"
           *athenaCanView="personas.SystemsAdmin">
          <clr-icon clrVerticalNavIcon shape="host"></clr-icon>
          {{ 'nav.kubernetes.title' | translate }}
        </a>
        <a clrVerticalNavLink
           [routerLink]="['/users']"
           routerLinkActive="active"
           *athenaCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin, personas.OrgAdmin]"
           tourAnchor="onboardingTour.userManagement">
          <clr-icon clrVerticalNavIcon shape="administrator"></clr-icon>
          {{ 'nav.users.title' | translate }}
        </a>
      </ng-container>
    </clr-vertical-nav>
  </div>
</clr-main-container>
