<span [ngClass]="{'copy-button': !btnLabel?.length && !hasProjectedContent}">
  <clr-tooltip>
    <button class="btn"
            aria-label="copy"
            [ngClass]="btnClassesToApply"
            [disabled]="disabled"
            (click)="!disabled && doCopy()"
            [ngStyle]="!btnLabel?.length && !hasProjectedContent && {'line-height': bounds, 'min-width': bounds, 'height': bounds}">
      <div class="anim-object"
           clrTooltipTrigger
           [ngClass]="animClasses"
           [ngStyle]="!btnLabel?.length && !hasProjectedContent && {'width': bounds, 'height': bounds}">
        <div class="front face face-label">
          <clr-icon *ngIf="!btnLabel" shape="copy" [attr.size]="size"></clr-icon>
          <ng-content></ng-content>
          <span *ngIf="btnLabel?.length">
              {{btnLabel}}
          </span>
        </div>
        <div class="back face face-label">
          <clr-icon shape="check" [attr.size]="size"></clr-icon>
        </div>
      </div>
    </button>
    <clr-tooltip-content [clrPosition]="tooltipDirection"
                         clrSize="md"
                         *clrIfOpen
                         [ngClass]="{'hide-tooltip': !tooltip?.length}">
      {{tooltip}}
    </clr-tooltip-content>
  </clr-tooltip>
</span>
