@import "../../../styles/theme";

.header-nav:after, .header-nav:before, form.search:after {
  position: absolute;
  content: "";
  display: inline-block;
  background: #fafafa;
  opacity: .15;
  height: 1.66667rem;
  width: 1px;
  top: .41667rem;
}

.header-nav clr-dropdown button{
  height: 2.5rem;
  padding: 0 1rem;
}

.header .header-actions > .dropdown .dropdown-toggle.nav-icon clr-icon[shape^="cog"] {
  transform: translate(-50%, -50%);
}

.header .header-actions > .dropdown .dropdown-toggle.nav-icon clr-icon[shape^="help"] {
  transform: translate(-50%, -50%);
}

.active-nodes {
  display: flex;
  align-items: center;

  clr-icon[shape='circle'] {
    margin-right: 10px;
  }
}

.persona-selector {
  .dropdown-item.active {
    font-weight: bold;
  }
}

.header-nav #menu {
  color: #fff;
}

:host ::ng-deep clr-vertical-nav {
  position: relative;
}

:host ::ng-deep clr-vertical-nav .clr-form-control {
  margin-top: 0;
  margin-bottom: 0.3rem;
}

:host ::ng-deep clr-vertical-nav clr-select-container {
  display: flex;
  flex: 0 0 1.8rem;
  margin: 0 .5rem 0 1rem;
}

:host ::ng-deep .consortium-select {
  width: 100%;
  min-width: 204px;
  height: 1.3rem;
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: #adbbc4;
}

:host ::ng-deep div[name="consortiums-select-wrapper"] {
  .clr-select-wrapper::after {
    top: .491666rem;
  }
}

.nav-overlay-container {
  position: relative;
  overflow: visible;

  .nav-overlay {
    background-color: white;
    height: 100000px;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    top: 0;
  }
}

a.disable {
  pointer-events: none;
  cursor: default;
   opacity: .4;
}

.card.error {
  margin-top: 5vh;
}
