<clr-main-container>
  <clr-alerts>
    <clr-alert *ngFor="let alert of alerts" [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
      <clr-alert-item>
        <span class="alert-text">
          {{ alert.message }}
        </span>
      </clr-alert-item>
    </clr-alert>
  </clr-alerts>
  <concord-app-header></concord-app-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet *ngIf="routeService.outletEnabled"></router-outlet>
      <div *ngIf="!routeService.outletEnabled && showErrorMessage" class="clr-row clr-justify-content-center">
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
          <div class="card error">
            <div class="card-header">
              {{ 'error.title' | translate }} - {{ error.status }}
            </div>
            <div class="card-block">
              <div class="card-text">
                {{ 'error.403' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <clr-vertical-nav *ngIf="sidemenuVisible" class="sidemenu">
      <ng-container *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
        <a clrVerticalNavLink [routerLink]="['/' + routePaths.blockchain + '/' + routePaths.deploy]" [ngClass]="{'disable': !enableDeploy}"
          id="sidenav-deploy">
          <clr-icon clrVerticalNavIcon shape="deploy"></clr-icon>
          {{'nav.deploy' | translate}}
        </a>

        <!-- comment later -->
        <a clrVerticalNavLink *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]"
          clrVerticalNavLink [routerLink]="[routePaths.zones]" routerLinkActive="active" id="sidenav-zones">
          <clr-icon clrVerticalNavIcon shape="rack-server"></clr-icon>
          {{'nav.zones' | translate}}
        </a>

        <div class="nav-divider"></div>
      </ng-container>
      <label class="nav-header">
        {{ 'nav.consortium' | translate }}
      </label>
      <div name="blockchains-select-wrapper" class="blockchains-select-wrapper">
        <select clrSelect [(ngModel)]="selectedBlockchainId" class="blockchain-select"
          (change)="blockchainChange()">
          <option *ngFor="let blockchain of blockchains" [value]="blockchain.id">
            {{ blockchain.consortium_name }}
          </option>
        </select>
      </div>
      <div class="nav-overlay-container" [ngClass]="{'sidemanu-disable':navDisabled}">
        <a clrVerticalNavLink [routerLink]="['dashboard']" routerLinkActive="active" id="sidenav-dashboard">
          <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
          {{'nav.dashboard' | translate}}
        </a>
        <a clrVerticalNavLink [routerLink]="['nodes']" links="['nodes']" routerLinkActive="active" id="sidenav-nodes">
          <clr-icon clrVerticalNavIcon shape="cluster"></clr-icon>
          {{'nav.nodeList' | translate}}
        </a>
        <a clrVerticalNavLink [routerLink]="['organizations']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}" id="sidenav-organizations">
          <clr-icon clrVerticalNavIcon shape="organization"></clr-icon>
          {{'nav.organizations' | translate}}
        </a>
        <a clrVerticalNavLink *ngIf="blockchainType !== 'DAML'" [routerLink]="['smart-contracts']"
          routerLinkActive="active" id="smartContracts" id="sidenav-smart-contracts">
          <clr-icon clrVerticalNavIcon shape="scroll"></clr-icon>
          {{'nav.smartContracts' | translate}}
        </a>
        <a clrVerticalNavLink *ngIf="blockchainType !== 'DAML'" [routerLink]="['blocks']" routerLinkActive="active" id="sidenav-blocks">
          <clr-icon clrVerticalNavIcon shape="blocks-group"></clr-icon>
          {{'nav.blockList' | translate}}
        </a>
        <a clrVerticalNavLink [routerLink]="['details']" routerLinkActive="active" id="sidenav-details">
          <clr-icon clrVerticalNavIcon shape="info-standard"></clr-icon>
          {{'nav.details' | translate}}
        </a>
        <ng-container *ngIf="!isOnPrem">
          <a clrVerticalNavLink [routerLink]="['logging']" routerLinkActive="active" id="sidenav-logging"
            *concordFeatureFlag="'developer_logging'">
            <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
            {{'nav.developer.logs' | translate}}
          </a>
        </ng-container>

      </div>
      <div class="nav-divider"></div>
      <label class="nav-header">
        {{'nav.developer.header' | translate}}
      </label>

      <!-- Logging NAV -->
      <a clrVerticalNavLink [routerLink]="['developer/apis']" routerLinkActive="active" id="sidenav-apis">
        <clr-icon clrVerticalNavIcon shape="code" class="clr-icon-size-override"></clr-icon>
        {{'nav.developer.api' | translate}}
      </a>
      <a clrVerticalNavLink [routerLink]="['developer/examples']" routerLinkActive="active" id="sidenav-dev-examples">
        <clr-icon clrVerticalNavIcon shape="tools"></clr-icon>
        {{'nav.developer.samples' | translate}}
      </a>
      <div class="sidemenu-bottom-buttons">
        <concord-theme-switch-button class="bottom-button theme-switch-button" simple-button="true">
        </concord-theme-switch-button>
      </div>
    </clr-vertical-nav>
    <concord-task-panel class="panel-7"></concord-task-panel>

  </div>
</clr-main-container>
<clr-modal #welcomeModal [(clrModalOpen)]="welcomeModalOpened">
  <concord-welcome-content #welcomeContentComponent class="modal-body"></concord-welcome-content>
</clr-modal>

