<clr-main-container>
  <clr-alerts>
    <clr-alert *ngFor="let alert of alerts" [clrAlertType]="'danger'" [clrAlertAppLevel]="true">
      <clr-alert-item>
        <span class="alert-text">
          {{ alert.message }}
        </span>
      </clr-alert-item>
    </clr-alert>
  </clr-alerts>
  <concord-app-header></concord-app-header>
  <div class="content-container">
    <main class="content-area">
      <router-outlet *ngIf="routeService.outletEnabled"></router-outlet>
      <div *ngIf="!routeService.outletEnabled && showErrorMessage" class="clr-row clr-justify-content-center">
        <div class="clr-col-lg-5 clr-col-md-8 clr-col-12">
          <div class="card error">
            <div class="card-header">
              {{ 'error.title' | translate }} - {{ error.status }}
            </div>
            <div class="card-block">
              <div class="card-text">
                {{ 'error.403' | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <clr-vertical-nav *ngIf="sidemenuVisible">
      <ng-container *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
        <a clrVerticalNavLink [routerLink]="['/blockchain','deploy']" [ngClass]="{'disable': !enableDeploy}"
          id="sidebarDeploy">
          <clr-icon clrVerticalNavIcon shape="deploy"></clr-icon>
          {{'nav.deploy' | translate}}
        </a>

        <!-- comment later -->
        <a clrVerticalNavLink *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]"
          clrVerticalNavLink [routerLink]="[routePaths.zones]" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="rack-server"></clr-icon>
          {{'nav.zones' | translate}}
        </a>

        <div class="nav-divider"></div>
      </ng-container>
      <label class="nav-header">
        {{ 'nav.consortium' | translate }}
      </label>
      <select clrSelect name="consortiums" [(ngModel)]="selectedConsortium" class="consortium-select"
        (change)="consortiumChange()">
        <option *ngFor="let consortium of blockchains" [value]="consortium.id">
          {{ consortium.consortium_name }}
        </option>
      </select>
      <ng-container>
        <div class="nav-overlay-container">
          <div class="nav-overlay" *ngIf="!selectedConsortium"></div>
        </div>
        <a clrVerticalNavLink [routerLink]="['dashboard']" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="home"></clr-icon>
          {{'nav.dashboard' | translate}}
        </a>
        <a clrVerticalNavLink [routerLink]="['organizations']" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="organization"></clr-icon>
          {{'nav.organizations' | translate}}
        </a>
        <a clrVerticalNavLink *ngIf="blockchainType !== 'DAML'" [routerLink]="['smart-contracts']"
          routerLinkActive="active" id="smartContracts">
          <clr-icon clrVerticalNavIcon shape="scroll"></clr-icon>
          {{'nav.smartContracts' | translate}}
        </a>
        <a clrVerticalNavLink *ngIf="blockchainType !== 'DAML'" [routerLink]="['blocks']" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="blocks-group"></clr-icon>
          {{'nav.blockList' | translate}}
        </a>
        <!-- <a clrVerticalNavLink *ngIf="blockchainType !== 'DAML'" [routerLink]="['transactions']"
          routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="tags"></clr-icon>
          {{'nav.transactionList' | translate}}
        </a> -->
        <div class="nav-divider"></div>
        <label class="nav-header">
          {{'nav.developer.header' | translate}}
        </label>
        <a clrVerticalNavLink (click)="onClickToHelp()">
          <clr-icon clrVerticalNavIcon shape="book"></clr-icon>
          {{'nav.developer.docs' | translate}}
        </a>
        <!-- Logging NAV -->
        <ng-container *ngIf="!isOnPrem">
          <a clrVerticalNavLink [routerLink]="['logging']" routerLinkActive="active" id="logging"
            *concordFeatureFlag="'developer_logging'">
            <clr-icon clrVerticalNavIcon shape="file-group"></clr-icon>
            {{'nav.developer.logs' | translate}}
          </a>
        </ng-container>
        <a clrVerticalNavLink [routerLink]="['developer/apis']" routerLinkActive="active" id="apis">
          <clr-icon clrVerticalNavIcon shape="info-circle"></clr-icon>
          {{'nav.developer.api' | translate}}
        </a>
        <a clrVerticalNavLink [routerLink]="['developer/examples']" routerLinkActive="active">
          <clr-icon clrVerticalNavIcon shape="tools"></clr-icon>
          {{'nav.developer.samples' | translate}}
        </a>
        <ng-container *ngIf="!env.csp">
          <ng-container *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin, personas.OrgAdmin]">
            <div class="nav-divider"></div>
            <label class="nav-header">
              {{'nav.sysadmin' | translate}}
            </label>
            <a clrVerticalNavLink [routerLink]="['users']" routerLinkActive="active"
              *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin, personas.OrgAdmin]"
              tourAnchor="onboardingTour.userManagement">
              <clr-icon clrVerticalNavIcon shape="administrator"></clr-icon>
              {{'nav.users' | translate}}
            </a>
          </ng-container>
        </ng-container>
      </ng-container>
    </clr-vertical-nav>
  </div>
</clr-main-container>
<clr-modal #welcomeModal [(clrModalOpen)]="welcomeModalOpened">
  <concord-welcome-content #welcomeContentComponent class="modal-body"></concord-welcome-content>
</clr-modal>
