@import "~@clr/ui/src/color/utils/_colors.clarity.scss";

form {
  label {
    text-align: left !important;
    &.required {
      &:after {
        content: '*';
        font-size: 0.58479532rem; // Approximately 14px.
        line-height: 0.5rem;
        color: $clr-red;
        margin-left: 0.25rem;
      }
    }
  }
  input  {
    // Hash's get cut off
    min-width: 350px;
  }
}
.card {
  max-width: 1000px;
  pre {
    max-height: inherit;
  }
}

.bytecode-container {
  word-break: break-all;
  white-space: normal;
}

.transaction-details {
  overflow-x: auto;
}
