form {
  label {
    text-align: left !important;
  }
  .form-group {
    padding-left: 6.5rem;
  }
}
.card {
  min-width: 550px;
  max-width: 1000px;
  pre {
    max-height: inherit;
  }
}

.bytecode-container {
  word-break: break-all;
  white-space: normal;
}
