<div class="ps-1">
  <div class="card p-1">
    <div class="media" tourAnchor="onboardingTour.dashStats">
      <div class="dashboard-stat-container">
        <div>{{'dashboard.nodeHealth' | translate}}</div>
        <h2 class="mt-0" [ngClass]="{
          'green': nodeHealth >= .9,
          'yellow': nodeHealth >= .7,
          'red': nodeHealth <= .69
        }">
          {{healthyNodesCount}}/{{nodes.length}}
        </h2>
      </div>
      <div class="dashboard-stat-container">
        <div>{{'dashboard.deployedContracts' | translate}}</div>
        <h2 class="mt-0">
          <a routerLink="/smart-contracts">
            {{smartContracts.length}}
          </a>
        </h2>
      </div>
      <div class="dashboard-stat-container">
        <div>{{'blocks.blocks' | translate}}</div>
        <h2 class="mt-0">
          <a routerLink="/blocks">
            {{blocks[0] ? blocks[0].number : 0}}
          </a>
        </h2>
      </div>
      <div class="dashboard-stat-container">
        <div>{{'transactions.transactions' | translate}}</div>
        <h2 class="mt-0">
          <a routerLink="/transactions">
            {{transactionCount}}
          </a>
        </h2>
      </div>
    </div>
  </div>
</div>

<div class="ps-1">
  <div class="row">
    <div class="col-xs-6 mt-1 pb-1">
      <concord-dashboard-list [listConfig]="nodesConfig" [items]="nodes"></concord-dashboard-list>
    </div>
    <div class="col-xs-6 mt-1 pb-1" tourAnchor="onboardingTour.contractList">
      <concord-dashboard-list [listConfig]="contractsConfig" [items]="smartContracts"></concord-dashboard-list>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 mt-1 pb-1">
      <concord-dashboard-list [listConfig]="blocksConfig" [items]="blocks"></concord-dashboard-list>
    </div>
    <div class="col-xs-6 mt-1 pb-1">
      <concord-dashboard-list [listConfig]="transactionsConfig" [items]="transactions"></concord-dashboard-list>
    </div>
  </div>
</div>

<concord-blockchain-wizard #setupWizard></concord-blockchain-wizard>
