<ng-container>
  <div class="ps-1 fadein">
    <div class="card p-1-2 dashstats-max-width" *ngIf="!onlyOnPrem">
      <div class="clr-row" tourAnchor="onboardingTour.dashStats">
          <div class="clr-col-lg-3 clr-col-xl-2 col-gauge">
            <div class="node-health">
              <div class="title">{{'dashboard.nodeHealth' | translate}}</div>
              <h2 class="health-number {{nodeColor}}">
                {{healthyNodesCount}}/{{nodes.length}}
              </h2>
              <ngx-charts-gauge
                #nodeGuage
                [view]="[240, 240]"
                [min]="0"
                [results]="nodeData"
                [max]="nodes.length"
                [showAxis]="false"
                [valueFormatting]="valueFormatting"
                [scheme]="colorScheme"
                [startAngle]="-180"
                [angleSpan]="360"
                [tooltipDisabled]="true"
                ></ngx-charts-gauge>
            </div>
          </div>
        <div class="clr-col-lg clr-col-md-12 stats">
          <div class="clr-row clr-align-items-center clr-justify-content-center">
            <div *ngFor="let item of dashItems; let i = index;" class="clr-col-6" [class.b-r]="dashItems.length !== 1 && !(i % 2)">
              <div class="dashboard-stat-container" [class.b-b]="dashItems.length > 2 && ((dashItems.length / 2) > i) ">
              <div class="title">{{ item.title }}</div>
                <h2 class="mt-0">
                  <a [ngStyle]="{opacity: (item.count === null) ? 0.5 : 1}" [routerLink]="item.link">
                    {{ (item.count === null) ? '_' : item.count }}
                  </a>
                </h2>
              </div>
            </div>
          </div>
        </div>
        <div  class="clr-col-lg-5 clr-col-md-12">
          <concord-world-map #worldMap [features]="nodesByLocation"></concord-world-map>
        </div>
      </div>
    </div>
  </div>

  <div class="ps-1 fadein">
    <div class="clr-row">
      <div class="clr-col-sm-6 mt-1 cards-max-width" *ngFor="let list of infoLists">
          <concord-dashboard-list [listConfig]="list.config" [items]="list.items" [tourAnchor]="list.tourAnchor"></concord-dashboard-list>
      </div>
    </div>
  </div>
</ng-container>
