@import "~@clr/ui/src/color/_variables.color.scss";

.stats {
  .clr-col-6 {
    margin-top: .4rem;
  }
  .clr-row {
    height: 100%;
  }
}
.col-gauge {
  width: 250px !important;
  max-width: 250px !important;
  margin: 0 auto;
}
.dashboard-stat-container {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-right: .5rem;
  padding: .7rem 0rem 0.3rem;

  .title {
    font-weight: 500;
  }

  h2 {
    line-height: 2.5rem;
    font-size: 1.3rem;
  }
}

.node-health {
  position: relative;
  width: 240px;
  text-align: center;

  .title {
    position: absolute;
    margin-top: 2.7rem;
    width: 100%;
    font-weight: 500;
  }

  .health-number {
    position: absolute;
    margin-top: 4.5rem;
    width: 100%;
    font-size: 2.3rem;
  }
}

:host ::ng-deep .ngx-charts text {
  margin-top: 2rem;
  fill: #60B515;
  display: none;
}

.b-r {
  border-right: 1px solid $clr-light-gray;
}

.b-b {
  border-bottom: 1px solid $clr-light-gray
}

.p-1-2 {
  padding: .5rem;
}

.ps-1 {
  padding: 0 1rem;
}

.red {
  color: $clr-red;
}

.yellow {
  color: $clr-yellow;
}

.green {
  color: $clr-green-light-midtone;
}

