%% -*- mode:erlang -*-
[
 {'helen', [
            {web_ip, "0.0.0.0"},
            {web_port, 8080},

            %% Where the Athena nodes are listening. The first element
            %% of the tuple is the IP address or hostname. The second
            %% element is the port number.
            %%
            %% i.e. {{127,0,0,1}, 9204} means 127.0.0.1:9204
            {athena_nodes, [
                            %% Creates a fake Athena connection, which
                            %% replies with dummy data. Useful for
                            %% checking out basic UI/API without
                            %% running Athena.
                            %%fake

                            %% Example real Athena connection spec.
                            {"localhost", 5458}
                           ]}
           ]},
 {'webmachine', [
                 {log_handlers, [
                                 {webmachine_access_log_handler, ["log"]},
                                 {webmachine_error_log_handler, ["log"]}
                                ]}
                ]}
].
