%% -*- mode:erlang -*-
[
 {'helen', [
            {web_ip, "0.0.0.0"},
            {web_port, 8080},

            %% Where the P2_Blockchain clients are listening. The
            %% first element of the tuple is the IP address (supports
            %% IPv4 as a 4-tuple, just use commas instead of dots, and
            %% IPv6 as an 8-tuple, just use commas instead of
            %% colons). The second element is the port number.
            %%
            %% i.e. {{127,0,0,1}, 9204} means 127.0.0.1:9204
            {p2bc_clients, [
                            {{127,0,0,1}, 9204},
                            {{127,0,0,1}, 9205},
                            {{127,0,0,1}, 9206}
                           ]}
           ]}
].
