%% -*- mode:erlang -*-
[
 {'helen', [
            {web_ip, "0.0.0.0"},
            {web_port, 8080},

            %% Where the Athena nodes are listening. The first element
            %% of the tuple is the IP address (supports IPv4 as a
            %% 4-tuple, just use commas instead of dots, and IPv6 as
            %% an 8-tuple, just use commas instead of colons). The
            %% second element is the port number.
            %%
            %% i.e. {{127,0,0,1}, 9204} means 127.0.0.1:9204
            {athena_nodes, [
                            %% Creates a fake Athena connection, which
                            %% replies with dummy data. Useful for
                            %% checking out basic UI/API without
                            %% running Athena.
                            fake

                            %% Example real Athena connection spec.
                            %{{127,0,0,1}, 5458}
                           ]},

            %% Where the P2_Blockchain clients are listening. The
            %% first element of the tuple is the IP address (supports
            %% IPv4 as a 4-tuple, just use commas instead of dots, and
            %% IPv6 as an 8-tuple, just use commas instead of
            %% colons). The second element is the port number.
            %%
            %% i.e. {{127,0,0,1}, 9204} means 127.0.0.1:9204
            {p2bc_clients, [
                            {{127,0,1,1}, 9204},
                            {{127,0,1,1}, 9205},
                            {{127,0,1,1}, 9206}
                           ]}
           ]},
 {'webmachine', [
                 {log_handlers, [
                                 {webmachine_access_log_handler, ["log"]},
                                 {webmachine_error_log_handler, ["log"]}
                                ]}
                ]}
].
