<div id="deployProgress" *ngIf="showInterstitial" class="ps-1">
  <div class="card">
    <div class="card-block">
      <div class="card-text">
        <clr-alert *ngIf="error" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
                <span class="alert-text">
                    {{ error }}
                </span>
            </clr-alert-item>
        </clr-alert>
      <div class="card-text" *ngIf="loading">
          <div class="icons">
            <clr-icon shape="block" size="64"></clr-icon>
            <clr-icon shape="arrow" size="64" dir="right"></clr-icon>
            <clr-icon shape="host-group" size="64"></clr-icon>
          </div>
            <br/>
            <div class="progress-block">
              <div class="progress flash labeled" [class.loop]="loop">
                <progress max="100" [value]="progress"></progress>
                <span> {{ progress + '%'}}</span>
              </div>
            </div>
          <h5>{{ message }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
