<div id="deployProgress" class="ps-1">
  <div class="card">
    <div class="card-block">
      <div class="card-text">
        <clr-alert *ngIf="error" [clrAlertType]="'danger'" [clrAlertClosable]="false">
            <clr-alert-item>
                <span class="alert-text">
                    {{ error }}
                </span>
            </clr-alert-item>
        </clr-alert>
      <div class="card-text" *ngIf="loading">
          <div class="icons">
            <clr-icon shape="block" size="64"></clr-icon>
            <clr-icon shape="arrow" size="64" dir="right"></clr-icon>
            <clr-icon shape="host-group" size="64"></clr-icon>
          </div>
          <div class="progress-block" id="deployProgress">
            <clr-progress-bar #progressBar [clrValue]="progress" [clrLoop]="loop"></clr-progress-bar>
            <span class="progress-label">{{ progress + '%'}}</span>
          </div>
          <h5>{{ message }}</h5>
        </div>
      </div>
    </div>
  </div>
</div>
