<div class="p-2">
  <div class="flex-items-xs-middle">
    <h2 class="page-title">
      {{'users.settings.title' | translate}}
    </h2>
    <button class="btn btn-sm float-sm-right" (click)="editSettings()">{{ 'users.settings.editSettings.title' |
      translate}}
    </button>
  </div>
  <div class="row mb-1 mt-1">
    <div class="col-xs-2">
      <div>
        <small class="text-muted">{{ 'users.settings.firstName' | translate}}</small>
      </div>
      <div class="large-font">Jon</div>
    </div>
    <div class="col-xs-2">
      <div>
        <small class="text-muted">{{ 'users.settings.lastName' | translate}}</small>
      </div>
      <div class="large-font">Doe</div>
    </div>
    <div class="col-xs-4">
      <div>
        <small class="text-muted">{{ 'users.settings.email' | translate}}</small>
      </div>
      <div class="large-font">jdoe@chinabank.com</div>
    </div>
    <div class="col-xs-4">
      <div>
        <small class="text-muted">{{ 'users.settings.role' | translate}}</small>
      </div>
      <div class="large-font">System Admin</div>
    </div>
  </div>
</div>

<div class="m-2 row">
  <div class="col-xs-12">
    <h4 class="page-title">
      {{'users.settings.orgTitle' | translate}}
    </h4>
  </div>
</div>
<div class="m-2 row" *ngFor="let org of organizations let i = index">
  <div class="col-xs-4">
    <div>
      <small class="text-muted">{{'users.settings.organization.title' | translate}}</small>
    </div>
    <div class="large-font">{{org}}</div>
  </div>
  <div class="col-xs-6">
    <div>
      <small class="text-muted">{{'users.settings.credentials' | translate}}</small>
    </div>
    <button *ngIf="i === 0" class="btn btn-sm"
            (click)="openDownloadCertificationWizard()"
            tourAnchor="onboardingTour.downloadCertificate">
      <span><clr-icon shape="download"></clr-icon></span>
      {{'users.settings.downloadCertificate.title' | translate}}
    </button>
    <button *ngIf="i > 0" class="btn btn-sm"
            (click)="openDownloadCertificationWizard()">
      <span><clr-icon shape="download"></clr-icon></span>
      {{'users.settings.downloadCertificate.title' | translate}}
    </button>
  </div>
</div>

<athena-credential-form #authenticationForm [isOpen]="isOpen" (closed)="downloadWizardClosed($event)"></athena-credential-form>
