.col-xs-12 {
  display: flex;
  justify-content: center;
}

.deploy-wrapper {
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.explanation-wrapper {
  margin-top: 1rem;
}

.modal-body {
  text-align: center;
}
