<div class="p-1">
  <div class="card p-1">
    <div class="media">
      <div class="dashboard-stat-container">
        <div>{{'dashboard.nodeHealth' | translate}}</div>
        <h2 class="mt-0">{{healthyNodesCount}}/{{nodes.length}}</h2>
      </div>
      <div class="dashboard-stat-container">
        <div>{{'blocks.blocks' | translate}}</div>
        <h2 class="mt-0">{{blocks[0] ? blocks[0].number : 0}}</h2>
      </div>
      <div class="dashboard-stat-container">
        <div>{{'transactions.transactions' | translate}}</div>
        <h2 class="mt-0">{{transactionCount}}</h2>
      </div>
      <div class="dashboard-stat-container">
        <div>{{'dashboard.deployedContracts' | translate}}</div>
        <h2 class="mt-0">{{smartContracts.length}}</h2>
      </div>
    </div>
  </div>
</div>

<div class="p-1">
  <div class="row">
    <div class="col-xs-6 pb-1">
      <athena-dashboard-list [listConfig]="nodesConfig" [items]="nodes"></athena-dashboard-list>
    </div>
    <div class="col-xs-6 pb-1">
      <athena-dashboard-list [listConfig]="blocksConfig" [items]="blocks"></athena-dashboard-list>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 pb-1" tourAnchor="onboardingTour.transactionList">
      <athena-dashboard-list [listConfig]="transactionsConfig" [items]="transactions"></athena-dashboard-list>
    </div>
    <div class="col-xs-6 pb-1">
      <athena-dashboard-list [listConfig]="contractsConfig" [items]="smartContracts"></athena-dashboard-list>
    </div>
  </div>
</div>

<athena-blockchain-wizard #setupWizard></athena-blockchain-wizard>
