<clr-modal [(clrModalOpen)]="isOpened">
  <h3 class="modal-title">{{'filters.filterTransactions' | translate}}</h3>
  <div class="modal-body">
    <form>
      <div class="form-block">
        <div class="form-group">
          <label for="transaction-status">{{'filters.byStatus' | translate}}</label>
          <div class="select">
            <select name="transaction-status" id="transaction-status">
              <option value="">{{'filters.pendingTransactions' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="transaction-type">{{'filters.byTransactionType' | translate}}</label>
          <div class="select">
            <select name="transaction-type" id="transaction-type">
              <option value="">{{'filters.allTransactions' | translate}}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="transaction-date-range">{{'filters.byDateRange' | translate}}</label>
          <div class="select">
            <select name="transaction-date-range" id="transaction-date-range">
              <option value="">{{ 'time.lastXDays' | translate:{number: 7} }}</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <label for="transaction-owner">{{'filters.byOwner' | translate}}</label>
          <div class="select">
            <select name="transaction-owner" id="transaction-owner">
              <option value="">{{'filters.allOwners' | translate}}</option>
            </select>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="onCancel()">{{'filters.cancel' | translate}}</button>
    <button type="button" class="btn btn-primary" (click)="onApply()">{{'filters.apply' | translate}}</button>
  </div>
</clr-modal>
