<div class="card-footer-container">
  <div [ngClass]="{'card-footer':true, 'bg-dark':themeDark, 'bg-light':!themeDark}" 
    *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]">
    <div class="bar-title">
      {{ (isNewZoneState ? 'onPrem.pageTitle' : 'zones.titleDetail') | translate }} {{ zoneName }}
    </div>
    <div class="back-link"><a [routerLink]="['../']">{{ 'onPrem.backToList' | translate }}</a></div>
    <div class="card-footer-margin-left">
      <div class="buttons-wrapper">
        <div id="zoneNothingToUpdate" class="no-change-msg" *ngIf="!isNewZoneState && !zoneForm.changedFromOriginalValue">{{ 'onPrem.nothingChanged' | translate }}</div>
      <div class="no-change-msg error-msg" *ngIf="!isNewZoneState && zoneForm.changedFromOriginalValue && zoneForm.otherValidationsFailed">{{ 'onPrem.someValidationsFailed' | translate }}</div>
        <button *ngIf="isNewZoneState" (click)="addZone()" class="btn btn-success" [clrLoading]="saving" id="addZone"
          [disabled]="!zoneForm.onPremConnectionSuccessful || zoneForm.otherValidationsFailed">
          {{ 'onPrem.addZone' | translate }}
        </button>
        <button *ngIf="!isNewZoneState" (click)="update()" class="btn btn-primary" [clrLoading]="saving" id="updateZone"
          [disabled]="saving || !zoneForm.onPremConnectionSuccessful || zoneForm.otherValidationsFailed || !zoneForm.changedFromOriginalValue">
          {{ 'onPrem.updateZone' | translate }}
        </button>
        <div *ngIf="!isNewZoneState" class="delete-button-container">
          <button (click)="openConfirmDelete()" [clrLoading]="deleting" *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin]" 
                    class="btn btn-outline-danger" id="deleteZone">
            {{ 'onPrem.deleteZone' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="p-2 inner-content">
  <concord-zone-form #form [formVisible]="zoneFormVisible"></concord-zone-form>
  <div class="margin-bottom"></div>
</div>

<concord-confirm-modal #confirm></concord-confirm-modal>
