.onboarding-container {
    margin: 0 auto 5rem;
    max-width: 1500px;

  .intro {
    text-align: center;
    margin-top: 2vh;
  }

  .title {
    text-align: center;
  }
  #next {
    margin-top: 2rem;
  }
}
