<div class="main-container">
  <div class="content-container">
    <div class="content-area">
      <div class="onboarding-container">
        <div class="clr-row clr-justify-content-center intro">
          <div class="clr-col-sm-6 col-xs-12 logo">
            <concord-logo width="300px" height="200px"></concord-logo>
          </div>
        </div>
        <div class="clr-row clr-justify-content-center">
          <div [ngClass]="{'hidden-xs-up': showServiceAvailability}" class="clr-col-sm-6 col-xs-12">
            <h2 class="title">{{ 'agreement.title' | translate }}</h2>
            <textarea readonly [value]="agreement" #agreementEl id="agreementEl" rows="20"></textarea>
            <form class="clr-form clr-form-horizontal" [formGroup]="agreementForm">
              <div class="clr-form-control">
                  <label class="clr-control-label">{{ 'agreement.firstName' | translate }} *</label>
                  <div class="clr-input-wrapper">
                    <input type="text" id="firstName" formControlName="firstName" class="clr-input" />
                  </div>
              </div>
              <div class="clr-form-control">
                  <label class="clr-control-label">{{ 'agreement.lastName' | translate }} *</label>
                  <div class="clr-input-wrapper">
                    <input type="text" id="lastName" formControlName="lastName" class="clr-input" />
                  </div>
              </div>
              <div class="clr-form-control">
                  <label class="clr-control-label">{{ 'agreement.company' | translate }} *</label>
                  <div class="clr-input-wrapper">
                    <input type="text" id="company" formControlName="company" class="clr-input" />
                  </div>
              </div>
              <div class="clr-form-control">
                <span class="clr-subtext">Please read the whole document before proceeding</span>
              </div>
              <div class="clr-form-control">

                <button class="btn btn-primary" id="accept" type="submit" [disabled]="(disabledAgreement) || (agreementForm.invalid)" (click)="accept()">{{ 'agreement.accept' | translate }}</button>
              </div>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
