.onboarding-container {
    margin: 0 auto 5rem;
    max-width: 1500px;
    textarea {
      width: 100%;
    }
  .logo {
    margin-bottom: -1rem;
  }
  .intro {
    text-align: center;
    margin-top: 2vh;
  }

  .title {
    text-align: center;
  }
  #next {
    margin-top: 2rem;
  }
}
