<div class="p-2 fadein">
  <div class="clr-row">
    <div class="clr-col-6">
      <h2 class="page-title">
        {{'smartContracts.smartContracts' | translate}}
      </h2>
    </div>

    <div class="clr-col-6"
         *concordCanView="[personas.SystemsAdmin, personas.ConsortiumAdmin, personas.OrgAdmin, personas.OrgDeveloper]">
      <div class="text-right">
        <button class="btn btn-link" (click)="connectWithTruffle()">

          {{'smartContracts.connectWithTruffle' | translate}}
        </button>
        <button type="button"
                class="btn btn-primary create-contract btn-outline"
                (click)="contractFormModal.open()"
                tourAnchor="onboardingTour.createSmartContract">
          {{'common.deploy' | translate}}
        </button>
      </div>
    </div>
  </div>

  <clr-datagrid tourAnchor="onboardingTour.manageSmartContracts">
    <clr-dg-column [clrDgField]="'contract_id'">
      {{'smartContracts.name' | translate}}
    </clr-dg-column>
    <clr-dg-column [clrDgField]="'owner'">
      {{'smartContracts.owner' | translate}}
    </clr-dg-column>
    <clr-dg-row *clrDgItems="let smartContract of smartContracts">
      <clr-dg-cell><a [routerLink]="[smartContract.contract_id]">{{ smartContract.contract_id }}</a></clr-dg-cell>
      <clr-dg-cell>{{ smartContract.owner }}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{'smartContracts.paginationSummary' | translate: { start: pagination.firstItem + 1, finish: pagination.lastItem + 1,
        total: pagination.totalItems} }}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>

<concord-contract-form #contractFormModal
                       (contractCreated)="contractCreated($event)"></concord-contract-form>
<concord-connect-with-truffle #truffleModal ></concord-connect-with-truffle>
