<div class="p-2">
  <h2 class="page-title">
    <clr-icon shape="administrator" size="30"></clr-icon>
    {{ 'users.title' | translate }} |
    <clr-dropdown #userActionsMenu>
      <button class="nav-link" clrDropdownTrigger>
        {{ 'users.actions.title' | translate }}
        <clr-icon shape="caret down"></clr-icon>
      </button>
      <clr-dropdown-menu clrPosition="bottom-left">
        <a clrDropdownItem joyrideStep="userActions" title="{{'tourSteps.users.userActions.title' | translate}}"
           text="{{'tourSteps.users.userActions.text' | translate}}" (next)="onNext()" (prev)="onPrev()" stepPosition="right"
           (click)="userForm.openAddUserForm()">
          {{ 'users.actions.options.add.title' | translate }}
        </a>
        <button [disabled]="selected?.length !== 1" (click)="userForm.openEditUserForm()" clrDropdownItem>
          {{ 'users.actions.options.edit.title' | translate }}
        </button>
        <button [disabled]="selected?.length === 0" (click)="userForm.confirmUserDeletion()" clrDropdownItem>
          {{ 'users.actions.options.delete.title' | translate }}
        </button>
      </clr-dropdown-menu>
    </clr-dropdown>
  </h2>
  <athena-user-list #usersList (selected)="onSelectedUsersChange($event)"></athena-user-list>
  <athena-user-form #userForm [selected]="selected"
                    (createUser)="addUser($event)"
                    (updateUser)="editUser()"
                    (deleteUsers)="deleteUsers()"></athena-user-form>
</div>


