$formTopMargin: 1.5rem;

.table-actions {
  clr-icon {
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

.accordion-table-header {
  .title {
    font-weight: 600;
    font-size: 0.458333rem;
    margin-left: 0.5rem;
  }
}

.blockchain-wizard {
  .blockchain-form {
    margin-top: $formTopMargin;
  }
  .user-form {
    margin-top: $formTopMargin;
  }
}

.cell-full {
  width: 20%;
  max-width: 1px;
}

#clr-wizard-page-2 {
  .users-table {
    margin-top: 0;
  }
}

#inviteUserButton {
  margin-top: 6px;
}

label {
  font-weight: bold;
}

#numberOfNodes {
  width: 40px;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.summary-label {
  font-weight: bold;
}

.summary-label, .summary-value {
  font-size: 13px;
  margin-bottom: 10px;
}

.user-form {
  clr-input-container, clr-select-container {
    margin-top: 0.2rem;
  }
  input {
    width: 6rem;
  }
  label {
    margin-top: 0.2rem;
    width: 2rem;
  }
}
