<form *ngIf="form" [formGroup]="form" class="clr-form-horizontal">
  <clr-wizard #wizard clrWizardSize="lg" [(clrWizardOpen)]="isOpen" (clrWizardOnFinish)="onSubmit()" (clrWizardOnCancel)="resetFragment()" class="blockchain-wizard extra-wide">
    <clr-wizard-title>{{'blockchainWizard.title' | translate}}</clr-wizard-title>
    <clr-wizard-button [type]="'cancel'">{{'common.cancel' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'previous'">{{'common.back' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'next'">{{'common.next' | translate}}</clr-wizard-button>
    <clr-wizard-button [type]="'finish'">{{'common.deploy' | translate}}</clr-wizard-button>
    <clr-wizard-page formGroupName="details" [clrWizardPageNextDisabled]="!selectedEngine">
      <ng-template clrPageTitle>{{'blockchainWizard.engine.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.engine.navTitle' | translate}}</ng-template>
      <div class="clr-row">
        <div class="clr-col-12">
          <div class="card clickable sideways" (click)="selectEngine(engines.DAML)" [ngClass]="{'active': selectedEngine === engines.DAML}">
            <div class="card-icon">
              <img src="static/images/contract-types/daml.svg">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.damlTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.damlInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row">
        <div class="clr-col-12">
          <div class="card clickable sideways" (click)="selectEngine(engines.ETH)" [ngClass]="{'active': selectedEngine === engines.ETH}">
            <div class="card-icon">
              <img src="static/images/contract-types/eth.svg">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.ethTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.ethInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="clr-row">
        <div class="clr-col-12">
          <div class="card clickable sideways" (click)="selectEngine(engines.HLF)" [ngClass]="{'active': selectedEngine === engines.HLF}">
            <div class="card-icon">
              <img src="static/images/contract-types/hlf.svg">
            </div>
            <div class="card-endorsement">
              <h3>{{ 'blockchainWizard.engine.hlfTitle' | translate }}</h3>
              <p>{{ 'blockchainWizard.engine.hlfInfo' | translate }}</p>
            </div>
          </div>
        </div>
      </div> -->
    </clr-wizard-page>
    <clr-wizard-page #detailPage formGroupName="details" [clrWizardPageNextDisabled]="form.controls.details.invalid">
      <ng-template clrPageTitle>{{'blockchainWizard.details.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.details.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block detail-form">
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4"
            for="consortiumName">{{'blockchainWizard.common.consortiumName' | translate}}</label>
          <input clrInput #consortiumInput id="consortiumName" type="text" formControlName="consortium_name"
            class="form-control clr-col-12 clr-col-md-8" size="43"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate">
        </clr-input-container>
        <clr-textarea-container>
          <label class="clr-col-12 clr-col-md-4"
            for="consortiumName">{{'blockchainWizard.common.consortiumDescription' | translate}}</label>
          <textarea clrTextarea formControlName="consortium_desc"
            class="clr-col-12 clr-col-md-8" rows="4"
            [placeholder]="'blockchainWizard.details.consortiumPlaceholder' | translate"></textarea>
        </clr-textarea-container>
      </div>
    </clr-wizard-page>

    <clr-wizard-page formGroupName="onPrem" *ngIf="showOnPrem" [clrWizardPageNextDisabled]="form.controls.onPrem.invalid" (clrWizardPageOnCommit)="onAddOnPrem()">
      <ng-template clrPageTitle>{{'blockchainWizard.onPrem.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.onPrem.navTitle' | translate}}</ng-template>

      <div clrForm class="form-block blockchain-form">
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.name' | translate }}</label>
          <input clrInput type="text" [placeholder]="'blockchainWizard.onPrem.namePH' | translate" class="clr-col-12 clr-col-md-8" formControlName="name" />
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.ip' | translate }}</label>
          <input clrInput type="text" [placeholder]="'blockchainWizard.onPrem.ipPH' | translate" class="clr-col-12 clr-col-md-8" formControlName="ip" />
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.username' | translate }}</label>
          <input clrInput type="text" [placeholder]="'blockchainWizard.onPrem.usernamePH' | translate" class="clr-col-12 clr-col-md-8" formControlName="username" />
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.password' | translate }}</label>
          <input clrInput type="password" class="clr-col-12 clr-col-md-8" formControlName="password" />
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.compNetwork' | translate }}</label>
          <input clrInput type="text" [placeholder]="'blockchainWizard.onPrem.compNetworkPH' | translate" class="clr-col-12 clr-col-md-8" formControlName="compNetwork" />
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.resourcePool' | translate }}</label>
          <input clrInput type="text" [placeholder]="'blockchainWizard.onPrem.resourcePoolPH' | translate" class="clr-col-12 clr-col-md-8" formControlName="resourcePool" />
        </clr-input-container>
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.folder' | translate }}</label>
          <input clrInput type="text" [placeholder]="'blockchainWizard.onPrem.folderPH' | translate" class="clr-col-12 clr-col-md-8" formControlName="folder" />
        </clr-input-container>
        <div class="divider"></div>
        <clr-alert [clrAlertClosable]="false">
          <clr-alert-item>
            <span class="alert-text">
              {{'blockchainWizard.onPrem.locationInfo' | translate}}
            </span>
          </clr-alert-item>
        </clr-alert>
        <clr-input-container>
          <label class="clr-col-12 clr-col-md-4">{{ 'blockchainWizard.onPrem.location' | translate }}</label>
          <input clrInput type="text" [placeholder]="'blockchainWizard.onPrem.locationPH' | translate" class="clr-col-12 clr-col-md-8" formControlName="location" />
        </clr-input-container>
      </div>
    </clr-wizard-page>

    <clr-wizard-page formGroupName="nodes" [clrWizardPageNextDisabled]="!form.controls.nodes.errors?.countIsCorrect">
      <ng-template clrPageTitle>{{'blockchainWizard.nodes.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.nodes.navTitle' | translate}}</ng-template>
      <div clrForm class="form-block blockchain-form nodes">
        <clr-select-container>
          <label class="clr-col-12 clr-col-md-4"
            for="numberOfNodes">{{'blockchainWizard.common.numberOfNodes' | translate}}</label>
          <select clrSelect formControlName="numberOfNodes" class="clr-col-12 clr-col-md-8" (change)="distributeZones()">
            <option *ngFor="let num of numbersOfNodes" [ngValue]="num">{{num}}
            </option>
          </select>
          <clr-control-helper>{{'blockchainWizard.details.help.numberOfNodes' | translate}}</clr-control-helper>
        </clr-select-container>
        <div class="regions" formGroupName="zones">
          <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6>
          <clr-alert [clrAlertClosable]="false">
            <clr-alert-item>
              <span class="alert-text">
                {{'blockchainWizard.nodes.regionInfo' | translate}}
              </span>
            </clr-alert-item>
          </clr-alert>
          <clr-input-container *ngFor="let zone of zones">
            <label class="clr-col-12 clr-col-md-4">{{ zone.name }}</label>
            <input clrInput type="text" class="clr-col-12 clr-col-md-8" [formControlName]="zone.id" />
          </clr-input-container>
        </div>
        <button class="btn btn-outline btn-sm add-on-prem" (click)="addOnPrem()">{{ 'blockchainWizard.nodes.add' | translate }}</button>
      </div>
    </clr-wizard-page>

    <clr-wizard-page>
      <ng-template clrPageTitle>{{'blockchainWizard.reviewDeployment.pageTitle' | translate}}</ng-template>
      <ng-template clrPageNavTitle>{{'blockchainWizard.reviewDeployment.navTitle' | translate}}</ng-template>
      <div class="clr-row review">
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.engine.navTitle' | translate}}
        </div>
        <div class="clr-col-8 summary-value">
          {{ selectedEngine }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumName' | translate}}
        </div>
        <div class="clr-col-8 summary-value">
          {{ form.value.details.consortium_name }}
        </div>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.consortiumDescription' | translate}}
        </div>
        <div class="clr-col-8 summary-value">
          {{ form.value.details.consortium_desc || '--' }}
        </div>
        <h6 class="sub-title">{{'blockchainWizard.nodes.navTitle' | translate}}</h6>
        <div class="clr-col-4 summary-label">
          {{'blockchainWizard.common.numberOfNodes' | translate}}
        </div>
        <div class="clr-col-8 summary-value">
          {{ form.value.nodes.numberOfNodes }}
        </div>
        <h6 class="sub-title">{{'blockchainWizard.nodes.regionalTitle' | translate}}</h6>
        <ng-container *ngFor="let zone of zones">
          <div class="clr-col-4 summary-label">
            {{ zone.name }}
          </div>
          <div class="clr-col-8 summary-value">
            {{ form.controls.nodes['controls'].zones.value[zone.id] || '--' }}
          </div>
        </ng-container>
      </div>
    </clr-wizard-page>
  </clr-wizard>
</form>
