$formTopMargin: 1.5rem;
$inputWidth: 2.5rem;

.table-actions {
  clr-icon {
    cursor: pointer;
    margin-left: 0.5rem;
  }
}

.accordion-table-header {
  .title {
    font-weight: 600;
    font-size: 0.458333rem;
    margin-left: 0.5rem;
  }
}

.blockchain-wizard {
  .detail-form {
    margin-top: $formTopMargin;
    textarea {
      width: 100%;
    }
  }
 .user-form {
    margin-top: $formTopMargin;
  }
}

.cell-full {
  width: 20%;
  max-width: 1px;
}

#clr-wizard-page-2 {
  .users-table {
    margin-top: 0;
  }
}

#inviteUserButton {
  margin-top: 6px;
}

label {
  font-weight: bold;
}

#numberOfNodes {
  width: 40px;
}

.overflow-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.summary-label, .summary-value {
  font-size: 13px;
  margin-bottom: 10px;
}

.user-form {
  clr-input-container, clr-select-container {
    margin-top: 0.2rem;
  }
  input {
    width: 6rem;
  }
  label {
    margin-top: 0.2rem;
    width: 2rem;
  }
}
.review {
  margin-top: .5rem;
}
.sub-title {
  padding: 0 0 .2rem;
  margin: 1rem 0 .3rem;
  border-bottom: 1px solid #ccc;
  width: 100%;
}
.nodes {
  select {
    width: $inputWidth;
  }
}
.regions {
  margin-top: $formTopMargin;

  input {
    width: $inputWidth;
  }
}

.review {
  .sub-title {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}
