<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="application_name" value="daml-execution-engine" />
    <include resource="logback-common.xml" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ASYNC_FILE"/>
    </root>
</configuration>
