<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <property name="application_name" value="daml-execution-engine" />

    <!-- Relies on the specific path determined by `daml/DockerfileExecutionEngine` and must be kept aligned -->
    <include file="/doc/daml/execution-engine/resources/logback-common.xml" />

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
