<div class="p-2">
  <div class="clr-row log-header">
    <div class="clr-col-8 left">
      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" class="btn btn-sm btn-outline-primary services-selector" clrDropdownTrigger
          [disabled]="countLoading || listLoading">
          {{'logging.serviceName.title' | translate}}: {{  selectedServiceNames.length ? selectedServiceNames.join(', ') : 'common.all' | translate }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <button type="button" *ngFor="let service of service_names"
            [ngClass]="{'active': selectedServiceNames.indexOf(service) !== -1}" (click)="onSelectService(service)"
            clrDropdownItem>
            {{service}}
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>

      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" class="btn btn-sm btn-outline-primary time-selector" clrDropdownTrigger
          [disabled]="countLoading || listLoading">
          {{'nodes.nodes' | translate}}: {{  selectedNodes.length ? nodeNames() : 'common.all' | translate }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <button type="button" *ngFor="let node of nodes"
            [ngClass]="{'active': selectedNodes.indexOf(node) !== -1}" (click)="onSelectNode(node)"
            clrDropdownItem>
            {{node.name}}
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>

      <clr-dropdown [clrCloseMenuOnItemClick]="false">
        <button type="button" class="btn btn-sm btn-outline-primary time-selector" clrDropdownTrigger
          [disabled]="countLoading || listLoading">
          {{'logging.logLevel' | translate}}: {{  selectedLevels.length ? selectedLevels.join(', ') : 'common.all' | translate }}
          <clr-icon shape="caret down"></clr-icon>
        </button>
        <clr-dropdown-menu *clrIfOpen clrPosition="bottom-left">
          <button type="button" *ngFor="let level of levels"
            [ngClass]="{'active': selectedLevels.indexOf(level) !== -1}" (click)="onSelectLevels(level)"
            clrDropdownItem>
            {{level}}
          </button>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
    <div class="clr-col-4 right">
      <div class="text-right">
        <button type="button" class="btn btn-link refresh" (click)="refresh()"
          [disabled]="countLoading || listLoading">
          <clr-icon shape="refresh"></clr-icon>
        </button>
        <clr-dropdown>
          <button type="button" class="btn btn-sm btn-outline-primary time-selector" clrDropdownTrigger
            [disabled]="countLoading || listLoading">
            {{selectedTimePeriod?.title}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <button type="button" *ngFor="let period of timePeriods"
              [ngClass]="{'active': period.value === selectedTimePeriod.value}" (click)="onSelectTimePeriod(period)"
              clrDropdownItem>
              {{period.title}}
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>

        <clr-dropdown>
          <button type="button" class="btn btn-sm btn-outline-primary" clrDropdownTrigger
            [disabled]="countLoading || listLoading">
            {{'logging.exports.title' | translate}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <button type="button" (click)="onClickExportChartData()" clrDropdownItem>
              <clr-icon shape="download"></clr-icon>
              {{'logging.exports.exportChartData.title' | translate}}
            </button>
            <button type="button" (click)="onClickExportLogEvents()" clrDropdownItem>
              <clr-icon shape="download"></clr-icon>
              {{'logging.exports.exportLogEvents.title' | translate}}
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
    <div class="clr-col-12 search-wrapper">
      <clr-icon shape="search"></clr-icon>
      <input placeholder="Search logs text"
             clrInput
             name="input"
             [(ngModel)]="search"
             #searchInput
             (keyup.enter)="refresh()"
             class="clr-col-12 search">
      <button class="btn btn-primary btn-sm" (click)="refresh()">{{'common.search' | translate}}</button>
    </div>
    <div class="clr-col-12">
      <div class="card area-chart-container">
        <div class="card-block">
          <div *ngIf="countLoading" class="spinner-container-absolute">
            <span class="spinner spinner-lg"></span>
          </div>
          <concord-log-graph [graphData]="graphData" [xAxisTickFormatting]="xAxisTickFormatting"
            [interval]="selectedTimePeriod?.interval"></concord-log-graph>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12 text-right total-count-container">
      <div *ngIf="countLoading">
        <span class="spinner spinner-inline"></span>
        <span class="total-count-loading-text">{{'logging.counts.loadingTotalCount' | translate}}</span>
      </div>
      <div *ngIf="!countLoading" class="total-count-text"
        [innerHTML]="'logging.counts.totalCount' | translate:{total: (totalCount | number)}">
      </div>
    </div>
  </div>

  <!-- Logs -->
  <div class="clr-row">
    <div class="clr-col-12">
      <clr-datagrid [clrDgLoading]="listLoading">
        <clr-dg-placeholder>{{ 'logging.logTable.noLogsFound' | translate }}</clr-dg-placeholder>
        <clr-dg-column>{{ 'logging.logTable.title' | translate }}</clr-dg-column>
        <clr-dg-row *clrDgItems="let log of logs">
          <concord-log-details ngProjectAs="clr-dg-row-detail" [log]="log"></concord-log-details>
          <!-- <clr-dg-row-detail>
          </clr-dg-row-detail> -->
        </clr-dg-row>
      </clr-datagrid>
      <div class="button-footer">
        <button *ngIf="nextPageLink" (click)="onFetchNextPage()" [clrLoading]="listLoading"
          [disabled]="listLoading ? '' : null" type="button" class="btn btn-outline-primary next-page btn-block">
          {{ 'logging.actions.loadMore' | translate }}
        </button>
      </div>
    </div>
  </div>
  <concord-export-log-events-modal #exportLogEventsModal [startTime]="startTime" [endTime]="endTime"
    [totalCount]="totalCount" [nodes]="selectedNodes" [serviceName]="selectedServiceNames" [search]="search" [logLevels]="selectedLevels"></concord-export-log-events-modal>
  <concord-export-chart-data-modal #exportChartDataModal [chartData]="logCounts" [startTime]="startTime"
    [endTime]="endTime">
  </concord-export-chart-data-modal>
</div>
