<div class="p-2">
  <div class="clr-row">
    <div class="clr-col-5">
      <!-- select service -->
      <select clrSelect (change)="refresh()" [(ngModel)]="service_name" [disabled]="countLoading || listLoading"
        class="service-dropdown">
        <option selected [value]="'all'">{{ 'logging.serviceName.all' | translate }}
        </option>
        <option *ngFor="let service of service_names" [value]="service">
          {{'logging.serviceName.' + service | translate}}
        </option>
      </select>

      <!-- logging title -->
      <h2 class="page-title">{{ 'logging.bar.title' | translate }}</h2>

      <!-- select replica id -->
      <select clrSelect (change)="refresh()" [(ngModel)]="replicaId" [disabled]="countLoading || listLoading">
        <option *ngFor="let node of nodes" [value]="node?.id">{{ node.name }}
        </option>
      </select>
    </div>
    <div class="clr-col-7">
      <div class="text-right">
        <button type="button" class="btn btn-link right-margined" (click)="refresh()"
          [disabled]="countLoading || listLoading">
          <clr-icon shape="refresh"></clr-icon>
          {{'logging.refresh' | translate}}
        </button>

        <!-- verbose toggle button -->
        <clr-toggle-container>
          <clr-toggle-wrapper>
            <input type="checkbox" clrToggle name="verbose" value="verbose" [(ngModel)]="verbose" (change)="refresh()"
              [disabled]="countLoading || listLoading" />
            <label>{{ 'logging.verbose' | translate }}</label>
          </clr-toggle-wrapper>
        </clr-toggle-container>

        <clr-dropdown>
          <button type="button" class="btn btn-outline-primary time-selector left-margined" clrDropdownTrigger
            [disabled]="countLoading || listLoading">
            {{selectedTimePeriod?.title}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <button type="button" *ngFor="let period of timePeriods"
              [ngClass]="{'active': period.value === selectedTimePeriod.value}" (click)="onSelectTimePeriod(period)"
              clrDropdownItem>
              {{period.title}}
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>

        <clr-dropdown>
          <button type="button" class="btn btn-outline-primary left-margined" clrDropdownTrigger
            [disabled]="countLoading || listLoading">
            {{'logging.exports.title' | translate}}
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <button type="button" (click)="onClickExportChartData()" clrDropdownItem>
              <clr-icon shape="download"></clr-icon>
              {{'logging.exports.exportChartData.title' | translate}}
            </button>
            <button type="button" (click)="onClickExportLogEvents()" clrDropdownItem>
              <clr-icon shape="download"></clr-icon>
              {{'logging.exports.exportLogEvents.title' | translate}}
            </button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </div>
    <div class="clr-col-12">
      <div class="card area-chart-container">
        <div class="card-block">
          <div *ngIf="countLoading" class="spinner-container-absolute">
            <span class="spinner spinner-lg"></span>
          </div>
          <concord-log-graph [graphData]="graphData" [xAxisTickFormatting]="xAxisTickFormatting"
            [interval]="selectedTimePeriod?.interval"></concord-log-graph>
        </div>
      </div>
    </div>
  </div>
  <div class="clr-row">
    <div class="clr-col-12 text-right total-count-container">
      <div *ngIf="countLoading">
        <span class="spinner spinner-inline"></span>
        <span class="total-count-loading-text">{{'logging.counts.loadingTotalCount' | translate}}</span>
      </div>
      <div *ngIf="!countLoading" class="total-count-text"
        [innerHTML]="'logging.counts.totalCount' | translate:{total: (totalCount | number)}">
      </div>
    </div>
  </div>

  <!-- Logs -->
  <div class="clr-row">
    <div class="clr-col-12">
      <clr-datagrid [clrDgLoading]="listLoading">
        <clr-dg-placeholder>{{ 'logging.logTable.noLogsFound' | translate }}</clr-dg-placeholder>
        <clr-dg-column>{{ 'logging.logTable.title' | translate }}</clr-dg-column>
        <clr-dg-row *clrDgItems="let log of logs">
          <concord-log-details ngProjectAs="clr-dg-row-detail" [log]="log"></concord-log-details>
          <!-- <clr-dg-row-detail>
          </clr-dg-row-detail> -->
        </clr-dg-row>
      </clr-datagrid>
      <div class="button-footer">
        <button *ngIf="nextPageLink" (click)="onFetchNextPage()" [clrLoading]="listLoading"
          [disabled]="listLoading ? '' : null" type="button" class="btn btn-outline-primary next-page btn-block">
          {{ 'logging.actions.loadMore' | translate }}
        </button>
      </div>
    </div>
  </div>
  <concord-export-log-events-modal #exportLogEventsModal [startTime]="startTime" [endTime]="endTime"
    [totalCount]="totalCount"></concord-export-log-events-modal>
  <concord-export-chart-data-modal #exportChartDataModal [chartData]="logCounts" [startTime]="startTime"
    [endTime]="endTime">
  </concord-export-chart-data-modal>
</div>