@import "~@clr/ui/src/color/_variables.color.scss";

concord-log-graph {
  height: 300px;
}

concord-log-heat-map {
  height: 400px;
}

.heat-map-container, .area-chart-container {
  margin-top: 0.5rem;
}

.heat-map-container .card-block {
  position: relative;
  &.is-loading {
    min-height: 100px;
  }
}

.button-container-margin {
  margin: .25rem 0;
}

.total-count-container {
  padding-top: 0.5rem;
}

.total-count-loading-text {
  margin-left: 0.5rem;
}

.heat-map {
  position: relative;
  padding-left: 10px;
}

.heat-map-y-axis-label {
  position: absolute;
  top: 50%;
  transform: translateX(-60%) translateY(-150%) rotate(-90deg);
}

.heat-map-label {
  color: $clr-dark-midtone-gray;
}
.button-footer {
  margin-top: 15px;
  margin-bottom: 200px;
}

.right-margined {
  margin-right: 10px;
}

:host ::ng-deep {
  .datagrid-row {
    border: none;
  }

  .datagrid-host {
    .datagrid-spinner {
      height: 100%;
      top: 0px;
    }
  }

  .page-title {
    display: inline;
  }

  clr-select-container {
    display: inline;
    margin-left: 0.5rem;
  }

  clr-toggle-container {
    display: inline;
    margin-left: 1rem;
    clr-toggle-wrapper {
      margin-right: 1rem;
    }
  }
}