@import "~@clr/ui/src/color/_variables.color.scss";


.log-header {
  .margin-top: 1rem;
  .services-selector {
    margin-left: 0;
  }
}

.refresh {
  padding-right: 0;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-width: 1.5rem;
  height: 1.2rem;
}
concord-log-graph {
  height: 300px;
}

concord-log-heat-map {
  height: 400px;
}

.heat-map-container, .area-chart-container {
  margin-top: 0.5rem;
}

.heat-map-container .card-block {
  position: relative;
  &.is-loading {
    min-height: 100px;
  }
}

.button-container-margin {
  margin: .25rem 0;
}

.total-count-container {
  padding-top: 0.5rem;
}

.total-count-loading-text {
  margin-left: 0.5rem;
}

.heat-map {
  position: relative;
  padding-left: 10px;
}

.heat-map-y-axis-label {
  position: absolute;
  top: 50%;
  transform: translateX(-60%) translateY(-150%) rotate(-90deg);
}

.heat-map-label {
  color: $clr-dark-midtone-gray;
}
.button-footer {
  margin-top: 15px;
  margin-bottom: 200px;
}

.right-margined {
  margin-right: 10px;
}

.left-margined {
  margin-left: 0.5rem;
}

:host ::ng-deep {
  .datagrid-row {
    border: none;

    .datagrid-cell {
      font-size: 11px;
    }
  }

  .datagrid-host {
    .datagrid-spinner {
      height: 100%;
      top: 0px;
    }
  }

  .page-title {
    display: inline;
    margin-right: 0.3rem;
    font-size: 16px;
  }

  clr-select-container {
    display: inline;
    margin-right: 0.5rem;
  }

  clr-toggle-container {
    display: inline;
  }

  .service-dropdown {
    width: 6.5rem;
  }

.search-wrapper {
  $button-width: 85px;

  position: relative;
  margin-top: .5rem;
  margin-bottom: 1rem;

  .clr-form-control {
    display: inherit;
    margin-top: 0;
    width: calc(100% - 85px);
    float:left;
  }
  .clr-control-container {
    width: 100%;
  }
  clr-icon {
    position: absolute;
    float: left;
    margin-top: .25rem;
    left: 22px;
  }
  .search {
    border: 1px solid $clr-light-midtone-gray;
    max-height: 1.25rem;
    height: 1.25rem;
    font-size: .6rem;
    padding-left: 1.35rem;
    background: $clr-white;
    border-radius: 2px 0 0 2px;
  }
  .btn {
    width: $button-width;
    height: 1.25rem;
    margin: 0;
    border-radius: 0;
    border-radius: 0 2px 2px 0;
  }
}

}

.dark :host ::ng-deep .search-wrapper {
  .search {
    background: transparent;
    border-color: #acbac3;
  }
}

