<div *ngIf="!!items"
     class="tooltip-top-left combobox-container"
     [ngClass]="{
            'tooltip': showTooltip,
            'tooltip-validation invalid': !isValid
        }">

  <input type="text" #inputControl
         autocomplete="off"
         tabindex="0" role="combobox" aria-owns="combobox-items" aria-autocomplete="list"
         id="location"
         class="clr-input"
         [placeholder]="placeholder"
         (focus)="onFocus()"
         (blur)="onBlur()"
         [(ngModel)]="displayValue"
         (keypress)="onKeyPress($event)"
         (keyup)="onKeyUp($event)"
         [ngClass]="{'multi-select': multiSelect, 'active': showSuggestions}"/>

  <concord-combobox-items
    [hidden]="!showLoading && !showSuggestions"
    [items]="items"
    (selectionChange)="setDisplayValue($event)"
    [noItemsFoundString]="noItemsFoundString"
    [multiSelect]="multiSelect"
    [position]="position"
    [filterIncludes]="filterIncludes"
    [showLoading]="showLoading"
    >
  </concord-combobox-items>

  <clr-icon
    [ngClass]="{'carret': !multiSelect}"
    shape="caret down"
    (click)="toggleComboboxItems()"
    *ngIf="!!items && items.length > 0"
    aria-controls="combobox-items"
    tabindex="-1">
  </clr-icon>

  <clr-icon
    *ngIf="!multiSelect"
    class="clear-icon"
    shape="times-circle"
    (click)="setDisplayValue({value: '', displayValue: ''})"
    aria-controls="combobox-items"
    tabindex="-1">
  </clr-icon>
</div>
