<div clrForm [formGroup]="form" class="form-block blockchain-form">
  <div formGroupName="onPrem">
    <clr-alert *ngIf="onPremConnectionSuccessful" [clrAlertClosable]="false" [clrAlertType]="'success'">
      <clr-alert-item>
        <span class="alert-text">
          {{'onPrem.onPremConnSucc' | translate}}
        </span>
      </clr-alert-item>
    </clr-alert>
    <clr-alert *ngIf="addedOnPrem" [clrAlertClosable]="false" [clrAlertType]="'success'">
      <clr-alert-item>
        <span class="alert-text">
          {{'onPrem.addedSuccessfully' | translate}}
        </span>
      </clr-alert-item>
    </clr-alert>

    <clr-input-container>
      <label class="clr-col-12 clr-col-md-4">{{ 'onPrem.ip' | translate }}</label>
      <input #ipInput clrInput type="text" [placeholder]="'onPrem.ipPH' | translate" class="clr-col-12 clr-col-md-6" formControlName="ip" />
      <clr-control-error>{{ 'onPrem.ipError' | translate }}</clr-control-error>
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-4">{{ 'onPrem.username' | translate }}</label>
      <input clrInput type="text" [placeholder]="'onPrem.usernamePH' | translate" class="clr-col-12 clr-col-md-6" formControlName="username" />
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-4">{{ 'onPrem.password' | translate }}</label>
      <input clrInput type="password" class="clr-col-12 clr-col-md-6" formControlName="password" />
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-4">{{ 'onPrem.compNetwork' | translate }}</label>
      <input clrInput type="text" [placeholder]="'onPrem.compNetworkPH' | translate" class="clr-col-12 clr-col-md-6" formControlName="compNetwork" />
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-4">{{ 'onPrem.resourcePool' | translate }}</label>
      <input clrInput type="text" [placeholder]="'onPrem.resourcePoolPH' | translate" class="clr-col-12 clr-col-md-6" formControlName="resourcePool" />
    </clr-input-container>
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-4">{{ 'onPrem.folder' | translate }}</label>
      <input clrInput type="text" [placeholder]="'onPrem.folderPH' | translate" class="clr-col-12 clr-col-md-6" formControlName="folder" />
    </clr-input-container>
  </div>
  <div formGroupName="onPremLocation">

    <div class="divider"></div>
      <div class="clr-row">
      <label class="clr-col-12 clr-col-md-4 clr-control-label">{{ 'onPrem.location' | translate }}</label>
      <concord-combobox
        formControlName="location"
        class="clr-col-12 clr-col-md-6"
        [items]="locations"
        [filterItemsWhenTyping]="true"
        (ngModelChange)="onLocationSelected()"
        [placeholder]="'onPrem.locationPH' | translate">
      </concord-combobox>
    </div>
    <clr-input-container>
      <label class="clr-col-12 clr-col-md-4">{{ 'onPrem.name' | translate }}</label>
      <input clrInput type="text" [placeholder]="'onPrem.namePH' | translate" class="clr-col-12 clr-col-md-6" formControlName="name" />
    </clr-input-container>
  </div>
</div>
