# Global tags can be specified here in key="value" format.
[global_tags]
  blockchain = "$BLOCKCHAIN_ID"
  replica = "$REPLICA"

# Configuration for telegraf agent
[agent]
  interval = "10s"
  round_interval = true

  metric_batch_size = 1000

  metric_buffer_limit = 10000

  collection_jitter = "0s"

  flush_interval = "10s"
  flush_jitter = "0s"

  precision = ""

 ## Override default hostname, if empty use os.Hostname()
   hostname = ""
   omit_hostname = false

# # Configuration for Wavefront server to send metrics to
[[outputs.wavefront]]
   host = "wavefront-proxy"
   port = 2878
   prefix = "vmware.blockchain."

# Read metrics about cpu usage
[[inputs.cpu]]
  percpu = true
  totalcpu = true
  collect_cpu_time = false
  report_active = false

# Read metrics about disk usage by mount point
[[inputs.disk]]
  ## Ignore mount points by filesystem type.
  ignore_fs = ["tmpfs", "devtmpfs", "devfs", "iso9660", "overlay", "aufs", "squashfs"]


[[inputs.diskio]]

[[inputs.kernel]]

[[inputs.mem]]

[[inputs.processes]]

[[inputs.swap]]

[[inputs.system]]

[[inputs.prometheus]]
  urls = ["http://concord:9891/metrics"]




