<div class="p-2">
  <h2 class="page-title">
    <clr-icon shape="blocks-group" size="36"></clr-icon> {{ blockchain.name }}
  </h2>
  <span class="label">
    {{ 'blockchains.detail.status' | translate }}
    <span class="badge badge-info">{{ blockchain.state }}</span>
  </span>
  <span class="label">
    {{ 'blockchains.detail.consensusType' | translate }}
    <span class="badge badge-success">{{ blockchain.consensusType }}</span>
  </span>
  <a [href]="blockchain.k8sDashboardUrl" target="_blank" [ngClass]="{'disabled': !blockchain.k8sDashboardUrl}" class="btn btn-primary btn-link btn-sm">
    <clr-icon shape="pop-out"></clr-icon> {{ 'blockchains.detail.openKube' | translate }}
  </a>
  <a [href]="blockchain.fabricExplorerUrl" target="_blank" [ngClass]="{'disabled': !blockchain.fabricExplorerUrl}" class="btn btn-primary btn-link btn-sm">
    <clr-icon shape="pop-out"></clr-icon> {{ 'blockchains.detail.openFabric' | translate }}
  </a>
  <div class="tabs-container">
    <clr-tabs>
      <clr-tab>
        <button clrTabLink id="link1">{{ 'blockchains.detail.orgTab' | translate }}</button>
        <clr-tab-content id="content1" *clrIfActive="true">
          <ng-container *ngIf="orgUrl">
            <app-org-list [url]="orgUrl"></app-org-list>
          </ng-container>
        </clr-tab-content>
      </clr-tab>
      <clr-tab>
        <button clrTabLink>{{ 'blockchains.detail.channelTab' | translate }}</button>
        <clr-tab-content *clrIfActive>
          <ng-container *ngIf="channelUrl">
          </ng-container>
        </clr-tab-content>
      </clr-tab>
    </clr-tabs>
  </div>
</div>
