<div class="clr-row modal-body">
  <div class="clr-col-12">
    <concord-logo width="210px" height="140px"></concord-logo>
  </div>
  <div class="clr-col-12">
    <h3>{{ 'welcome.title' | translate }}</h3>
  </div>
  <div class="clr-col-12 explanation-wrapper">
    <div class="explanation">
      {{ 'welcome.description1' | translate }}
      <a href="mailto:blockchain-support@vmware.com">blockchain-support@vmware.com</a> {{ 'welcome.description2' | translate }}
    </div>
  </div>
  <div class="deploy-wrapper">
    <div class="clr-col-12 deploy-wrapper">
      <div *ngIf="canDeploy">
        <button id="deploy" class="btn btn-primary" (click)="deploy()">{{ 'welcome.deploy' | translate }}</button>
      </div>
      <div *ngIf="!canDeploy">
        Your organization has reached maximum number of deployments.<br>
        (You may be able to lift the limit by contacting support.)
      </div>
    </div>
    <div *ngIf="hasJoinedConsortium" class="clr-col-12">
      <button id="go" class="btn btn-outline" (click)="go()">Go to Consortium</button>
    </div>
  </div>
</div>
