.col-xs-12 {
  display: flex;
  justify-content: center;
}

.deploy-wrapper {
  margin-bottom: 0.65rem;
  margin-top: 0.75rem;
  width: 100%;
}

.explanation-wrapper {
  margin-top: 1rem;
}

.modal-body {
  text-align: center;
}
