<div class="loader" *ngIf="deploying">

  <span class="spinner spinner-inline">
    {{ 'examples.loading' | translate }}
  </span>
  <span>
    {{ 'examples.loading' | translate }}
  </span>

</div>
<ng-template clrPageTitle>{{ 'examples.supply_chain.subTitle' | translate }}</ng-template>

<!-- CARDS START HERE -->

<div class="clr-row dApp-buttons" [hidden]="deploying">
  
  <!--SUPPLY CHAIN CARD-->

  <div class="clr-col-md-6 clr-col-lg-4 clr-col-xlg-3 clr-col-12">
    <div class="card">
      <div class="card-header">
        <div *ngIf="alreadyDeployed" class="alert alert-success alert-sm">
          <div class="alert-item static">
            <span class="alert-text">
              {{ 'examples.alert' | translate }}
            </span>
          </div>
        </div>
        <clr-icon shape="link" size="64"></clr-icon>
        <br />
        {{ 'examples.supply_chain.dappName' | translate }}
      </div>

      <div class="card-block">
        <div class="card-text">
          {{ 'examples.supply_chain.dappDesc' | translate }}
        </div>
      </div>
      
      <div class="card-footer">
        <a href="https://github.com/vmwaresamples/vmware-blockchain-samples/tree/master/supply-chain" target="_blank" class="btn btn-sm btn-link">
          {{ 'examples.source' | translate }}
        </a>
      </div>
      
    </div>
  </div>


  <!-- ASSET TRANSFER CARD -->

  <div class="clr-col-md-6 clr-col-lg-4 clr-col-xlg-3 clr-col-12">
        <div class="card">
            <div class="card-header">
              <div *ngIf="alreadyDeployed" class="alert alert-success alert-sm">
                <div class="alert-item static">
                  <span class="alert-text">
                    {{ 'examples.alert' | translate }}
                  </span>
                </div>
              </div>
              <clr-icon shape="nvme" size="64"></clr-icon>
              <br />
              {{ 'examples.asset_transfer.dappName' | translate }}
            </div>


            <div class="card-block">
              <div class="card-text">
                {{ 'examples.asset_transfer.dappDesc' | translate }}
              </div>
            </div>

            <div class="card-footer">
              <a href="https://github.com/vmwaresamples/vmware-blockchain-samples/tree/master/asset-transfer" target="_blank" class="btn btn-sm btn-link">
                {{ 'examples.source' | translate }}
              </a>
            </div>
        </div>
    </div>
</div>
