/*
 * Copyright 2018-2019 VMware, all rights reserved.
 */

.content {
  position: relative;
  height: 100%;
}
.loader {
  text-align: center;
  margin-top: 100px;
}
.card {
  margin-top: 0;
}
.dApp-buttons {
  .card {
    margin-top: 0;
  }
  .card-header {
    text-align: center;
  }
}

