<div class="loader" *ngIf="deploying">
  <span class="spinner spinner-inline">
    {{ 'examples.loading' | translate }}
  </span>
  <span>
    {{ 'examples.loading' | translate }}
  </span>
</div>
<ng-template clrPageTitle>{{ 'examples.subTitle' | translate }}</ng-template>
<div class="clr-row dApp-buttons" [hidden]="deploying">
  <div class="clr-col-md-6 clr-col-lg-4 clr-col-xlg-3 clr-col-12">
    <div class="card">
      <div class="card-header">
        <div *ngIf="alreadyDeployed" class="alert alert-success alert-sm">
          <div class="alert-item static">
            <span class="alert-text">
              {{ 'examples.alert' | translate }}
            </span>
          </div>
        </div>
        <clr-icon shape="link" size="64"></clr-icon>
        <br />
        {{ 'examples.dappName' | translate }}
      </div>
      <div class="card-block">
        <div class="card-text">
          {{ 'examples.dappDesc' | translate }}
        </div>
      </div>
      <div class="card-footer">
<!-- We will add this back in once we are ready to deploy code for users -->
<!--         <ng-container *ngIf="alreadyDeployed">
          <button (click)="deploy()" class="btn btn-sm btn-link btn-danger">{{ 'examples.redeploy' | translate }}</button>
        </ng-container>
        <ng-container *ngIf="!alreadyDeployed">
          <button (click)="deploy()" class="btn btn-sm btn-link">{{ 'examples.deploy' | translate }}</button>
        </ng-container> -->
        <a href="https://github.com/vmwaresamples/vmware-blockchain-samples" target="_blank" class="btn btn-sm btn-link">
          {{ 'examples.source' | translate }}
        </a>
      </div>
    </div>
  </div>
</div>
