.modal-body {
  margin-bottom: 1rem;
}

:host ::ng-deep {
  .modal-header {
    padding-bottom: .1rem;
  }
  
  .help-btn {
    top: -1rem;
    right: 0.5rem;
    position: relative;
    float: right;
  }
}
