<clr-modal [clrModalSize]="'xl'" [(clrModalOpen)]="isOpen" #modal>

  <ng-container class="modal-title">
    <h3 class="modal-title">{{ 'onPrem.pageTitle' | translate }}</h3>
    <button #helpButton type="button" class="close help-btn" aria-label="Help" (click)="onClickToHelp('vmb_120')">
      <clr-icon aria-hidden="true" shape="help"></clr-icon>
    </button>
  </ng-container>

  <div class="modal-body">
    <concord-on-premises-form #form></concord-on-premises-form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="isOpen = false;">
      {{ 'common.close' | translate }}
    </button>
    <button [clrLoading]="adding" type="button" class="btn btn-primary" (click)="addOnPrem()"
      [disabled]="!form.onPremConnectionSuccessful || form.form.controls.onPrem.invalid || form.form.controls.onPremLocation.invalid">
      {{ 'common.add' | translate }}
    </button>
  </div>
</clr-modal>