<div class="p-2 break-word">
  <h2 class="page-title" *ngIf="block">
    {{'blocks.title' | translate}} {{
      (block.number !== 0) ? block.number :
        ('0 (' + ('blocks.genesisBlock' | translate) + ')')
    }}
  </h2>

  <concord-block-details *ngIf="block" [blockNumber]="block?.number"></concord-block-details>
  <h5 class="tx-title" *ngIf="block?.transactions?.length === 1">{{'transactions.title' | translate}}</h5>
</div>

<concord-transaction-list *ngIf="block" 
  [transactions]="block?.transactions" 
  [blockNumber]="block?.number"
  [noListIfSingle]="true"
  [codeBlockMaxHeight]="'700px'"
  >
</concord-transaction-list>
