$clr-card-hover-color: #0094d2;

body .main-container .content-container .content-area {
  padding: 0;
  max-width: 2000px;
}

button.dropdown-item {
  color: inherit;
  background-color: transparent;
}

.page-title {
  margin-top: 0;
  margin-bottom: .75rem;
  word-break: break-all;
  font-size: 20px;

  clr-icon {
    margin-top: -5px;
  }
  .dropdown-toggle {
    font-size: .75rem;
    padding-right: 15px;

  }
  .dropdown-menu .dropdown-item {
    line-height: 1rem;
  }
}

body .datagrid {
  margin-top: 0;
}

body.dark {
  // These control styles should be fixed in the next release of Clarity: https://github.com/vmware/clarity/commit/eee0003599f0f587251a37b166bc0c8455e02b31
  // If the version of clarity used in the project is > 0.13.3 we should be safe to remove the next two rules
  .clr-control-label {
    color: white;
  }
}

body nav.subnav .theme-select {
  text-align: left;
  margin-right: 0 !important;
  width: inherit !important;
}

.chart-container{

  .chart-legend .scale-legend-wrap {
    width: 10px;
    border-radius: 2px;
    margin-left: 20px;
  }
  .chart-legend .scale-legend-label {
    margin-left: 17px;
  }
}

.popper-content .ngxp__container {
  z-index: 999;
}

.datagrid-cell {
  button.ctc-btn-inline {
    margin: 0;
  }
  .label {
    height: .675rem;
  }
}

.card.sideways {
  height: 6.3rem;

  .card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    width: 6rem;
    height: 6rem;
    border-right: 1px solid rgba(140, 140, 140, 0.3);
    margin-top: .1rem;
    margin-right: .5rem;
    padding: .1rem;
    text-align: center;
  }
  .card-endorsement {
    padding-right: .5rem;

    h3 {
      margin: .5rem 0 0;
    }
    p {
      margin-top: .5rem;
      font-size: 90%;
      line-height: 1.4;
    }
  }
}

.card.sideways.active {
  box-shadow: 0 0.125rem 0 0 $clr-card-hover-color;
  border: 1px solid $clr-card-hover-color;
  cursor: pointer;
  text-decoration: none;
  transform: translateY(-2px);
}
