@import "~@clr/ui/src/color/_variables.color.scss";
@import './theme';

.vmware-logo {
    background-image: url("data:image/svg+xml,%3Csvg xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22 viewBox%3D%220 0 120 19%22%3E  %3Cpath fill%3D%22%23FFF%22 d%3D%22M99.3 1.8c0 .7-.5 1.2-1.1 1.3-3.4.4-6.1 2.9-6.1 7.9v5.9c0 .7-.5 1.3-1.3 1.3-.7 0-1.3-.6-1.3-1.3V1.8c0-.7.6-1.3 1.3-1.3.7 0 1.3.6 1.3 1.3v3C93.4 1.9 96.2.6 98 .6c.8-.1 1.3.5 1.3 1.2zM70 .5c-.7 0-1.1.5-1.2 1l-4.4 12.6L60 1.5c-.2-.6-.6-1-1.3-1h-.1c-.7 0-1.1.4-1.3 1l-4.4 12.6-4.3-12.5C48.4 1 48 .5 47.3.5c-.8 0-1.3.6-1.3 1.2 0 .2.1.5.2.7L51.4 17c.3.8.8 1.2 1.4 1.2h.1c.7 0 1.2-.4 1.4-1.2l4.3-12.4L62.9 17c.2.8.7 1.2 1.4 1.2h.1c.6 0 1.1-.4 1.4-1.2l5.3-14.6c.1-.2.2-.5.2-.7-.1-.6-.6-1.2-1.3-1.2zm43.9 9.8h-12.2c.4 3.7 2.9 5.8 6 5.8 2.1 0 3.6-.8 4.9-2 .2-.2.4-.3.7-.3.6 0 1.1.5 1.1 1.1 0 .3-.1.6-.4.8-1.6 1.6-3.5 2.6-6.4 2.6-4.6 0-8.4-3.6-8.4-8.9v-.1c0-4.9 3.4-8.9 8.1-8.9 5 0 7.9 4.1 7.9 8.7-.1.7-.7 1.2-1.3 1.2zm-1.3-1.9c-.3-3.1-2-5.8-5.4-5.8-2.9 0-5.2 2.5-5.5 5.8h10.9zm-26.2-1v9.5c0 .7-.5 1.3-1.2 1.3S84 17.7 84 17v-1.6c-1.2 1.6-3.2 3-6.2 3-3.2 0-6.4-1.8-6.4-5.4v-.1c0-3.6 3-5.6 7.4-5.6 2.2 0 3.8.3 5.3.7v-.5c0-3.1-1.9-4.7-5.1-4.7-1.7 0-2.7.2-4 .8-.1.1-.3.1-.5.1-.6 0-1.1-.5-1.1-1.1 0-.5.2-.9.7-1.1 1.7-.7 3-1 5.2-1 2.4 0 4.3.6 5.6 1.9.9 1.2 1.5 2.8 1.5 5zM84 10c-1.6-.5-3.3-.7-5.1-.7-3.2 0-5 1.4-5 3.6v.1c0 2.2 2 3.4 4.3 3.4 3.2 0 5.8-1.9 5.8-4.7V10zM38.7.1c-3.4 0-5.5 2.3-5.5 2.3C32.1 1 30.6.1 28 .1c-2.8 0-5.2 2.3-5.2 2.3C21.7 1 19.8.1 18.2.1c-2.4 0-4.4 1.1-5.6 3.8l-3.5 8.2L4.7 1.6C4.1.4 2.7-.2 1.4.4.1 1-.4 2.4.2 3.7l5.5 11.9c.9 1.9 1.8 2.8 3.5 2.8 1.8 0 2.6-1.1 3.5-2.8L17.5 5c.1-.3.4-.5.7-.4.4 0 .8.3.8.8v10.2c0 1.6.9 2.8 2.5 2.8 1.7 0 2.6-1.3 2.6-2.8V7.2c0-1.6 1.1-2.6 2.7-2.6s2.6 1.1 2.6 2.6v8.3c0 1.6.9 2.8 2.5 2.8 1.7 0 2.6-1.3 2.6-2.8V7.2c0-1.6 1.1-2.6 2.7-2.6s2.6 1.1 2.6 2.6v8.3c0 1.6.9 2.8 2.5 2.8 1.7 0 2.6-1.3 2.6-2.8V6c0-3.4-2.8-5.9-6.2-5.9zm80.8 2.5c0 1.2-1 2.1-2.1 2.2-1.2 0-2.1-.9-2.1-2.1 0-1.2.9-2.1 2.1-2.1 1.2-.1 2.1.8 2.1 2zm-.4 0c0-1-.7-1.7-1.7-1.7s-1.7.8-1.7 1.7c0 1 .7 1.7 1.7 1.7s1.7-.8 1.7-1.7zm-1.2.2l.3.4c0 .1.1.1.1.2s-.1.2-.2.2-.2-.1-.2-.1l-.4-.6h-.4v.4c0 .1-.1.2-.2.2s-.2-.1-.2-.2V1.7c0-.1.1-.2.2-.2h.7c.3 0 .5.1.6.2.1.1.2.3.2.5-.1.3-.2.5-.5.6zm0-.6c0-.2-.1-.3-.4-.3h-.5v.6h.5c.2 0 .4-.1.4-.3z%22%2F%3E%3C%2Fsvg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100px;
    height: 40px;
    width: 128px;
    border-left: 1px solid rgba(250,250,250,.15);
}

.graph-placeholder {
  width: 100%;
  height: auto;
}

.progress {
  &.warning {
    > progress {
      color: $clr-yellow;
    }
    > progress::-webkit-progress-value {
      background-color: $clr-yellow;
    }
    > progress::-moz-progress-bar {
      background-color: $clr-yellow;
    }
  }

  &.black {
    > progress {
      color: #000;
    }
    > progress::-webkit-progress-value {
      background-color: #000;
    }
    > progress::-moz-progress-bar {
      background-color: #000;
    }
  }
}

.progress-with-point {
  position: relative;

  .progress-point {
    position: absolute;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 20%;
    transform: translateX(-10px);
    border: 7px solid;
    border-radius: 24px;
    background-color: #fff;

    &.success {
      border-color: $clr-green-dark-midtone;
    }

    &.warning {
      border-color: $clr-yellow;
    }

    &.danger {
      border-color: $clr-red-light-midtone;
    }
  }
}

// ngx-tour styles
div.ngxp__container {
  font-family: Metropolis, 'Avenir Next', 'Helvetica Neue', Arial, sans-serif;
  border-radius: 0.125rem;
  background-color: white;
  max-width: 300px;


  .ngxp-title {
    color: $clr-near-black !important;
    font-size: 0.916667rem;
    font-weight: 200;
    margin-top: 0;
  }

  .ngxp-content {
    font-size: .583333rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: $clr-near-black;
  }

  .btn-next, .btn-end {
    margin-left: 0.25rem;
  }

  button.ngxp-btn {
    // These are Clarity .btn .btn-primary and .btn-small styles
    display: inline-block;
    -webkit-appearance: none !important;
    border-radius: 0.125rem;
    border: 1px solid;
    min-width: 2rem;
    max-width: 15rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    font-weight: 500;
    padding: 0 0.5rem;
    border-color: $clr-action-blue;
    background-color: $clr-action-blue;
    color: $white;
    line-height: calc(1rem - 1px);
    letter-spacing: 0.073em;
    font-size: 0.458333rem;
    height: 1rem;
    &:hover {
      background-color: $clr-action-blue-dark;
      color: $clr-action-blue-lightest;
    }
  }
  &[x-placement^="top"] {
    margin-bottom: 10px;
    > .ngxp__arrow {
      border-width: 15px 15px 0 15px;
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      bottom: -15px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="bottom"] {
    margin-top: 10px;
    > .ngxp__arrow {
      border-width: 0 15px 15px 15px;
      border-top-color: transparent;
      border-right-color: transparent;
      border-left-color: transparent;
      top: -15px;
      left: calc(50% - 5px);
      margin-top: 0;
      margin-bottom: 0;
    }
  }
  &[x-placement^="left"] {
    margin-right: 10px;
    > .ngxp__arrow {
      border-width: 15px 0 15px 15px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-right-color: transparent;
      right: -15px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
    }
  }
  &[x-placement^="right"] {
    margin-left: 10px;
    > .ngxp__arrow {
      border-width: 15px 15px 15px 0;
      border-top-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
      left: -15px;
      top: calc(50% - 5px);
      margin-left: 0;
      margin-right: 0;
  }
  }
}

[ngx-charts-x-axis-ticks] {
  .gridline-path-vertical {
    display: none;
  }
}

[ngx-charts-y-axis-ticks] {
  .gridline-path.gridline-path-horizontal {
    stroke: $black;
    opacity: 0.25;
  }
}

body.dark {
  [ngx-charts-y-axis-ticks] {
    .gridline-path.gridline-path-horizontal {
      stroke: $white;
      opacity: 0.25;
    }
  }
}

.ngx-charts {
  text{
    fill: $clr-dark-midtone-gray;
  }

  .heat-map {
    rect.cell {
      rx: 0;
    }
  }
}

// Copy to clipboard button
.ctc-btn-inline {
  margin: -2px 0 0 0;
}

// additional height for loading spinner in datagrid
clr-datagrid .datagrid-spinner {
  transform: translate(0, -12px);
  min-height: 74px;
  border-radius: 3px;
}

// Absolutely positioned spinner container
.spinner-container-absolute {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.6);
}

body.dark {
  .spinner-container-absolute {
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.list-container .datagrid-action-bar {
  margin-top: -2.5rem;
  margin-bottom: 1rem;

  .btn-group {
    float: right;
    margin-right: 0;
  }
}

.divider {
  height: 1px;
  margin: 1rem 0;
  background-color: rgba(160, 160, 160, 0.2);
}

.pull-right {
  float: right;
}

// Text highlight disabled elements
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// autolinker (links in prism text highlight under <pre><a>)
concord-code-highlighter[ng-reflect-plugins~="autolinker"] {
  text-align:left;
  pre {
    a {
      text-decoration: underline;    
    }
  }
}

// Firfox remove ugly dropdown select with white background
@supports (-moz-appearance:none) {
  select {
    color: #222222;
    -moz-appearance:none !important;
  }
  option {
    color: #222222 !important;
  }
}

// Wavefront graph component hover tooltip background
ngx-tooltip-content.ngx-charts-tooltip-content.type-tooltip {
  background-color: #222222;
}