.break-word {
  word-wrap: break-word;
}

.break-all {
  word-break: break-all;
}

.fadein {
  animation: fadein .5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.hide {
  display: none;
}
