<div class="p-2 bg-dark">
  <div class="row">
    <div class="col-xs-4 media flex-items-xs-middle">
      <h3 class="mt-0 text-white">{{'blocks.blockActivity' | translate}}</h3>
    </div>
    <div class="col-xs-8 media flex-items-xs-middle flex-items-xs-right">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>{{'time.today' | translate}}</button>
          <clr-tab-content id="content1" *clrIfActive="true"></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>{{ 'time.lastXDays' | translate:{number: 7} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>{{ 'time.lastXDays' | translate:{number: 30} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>{{ 'time.lastXDays' | translate:{number: 90} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>

<img class="graph-placeholder" src="assets/static/images/node-activity-large.png">

<div class="p-2">
  <h3 class="page-title">{{'blocks.blocks' | translate}}</h3>
  <clr-datagrid>
    <clr-dg-column [clrDgField]="'number'">{{'blocks.index' | translate}}:{{'blocks.hash' | translate}}</clr-dg-column>
    <clr-dg-row *clrDgItems="let block of blocks">
      <clr-dg-cell><a [routerLink]="['/blocks', block.number]">{{block.number}} : {{block.hash}}</a></clr-dg-cell>
      <clr-dg-row-detail>
        <app-block-details *clrIfExpanded ngProjectAs="clr-dg-row-detail" [blockNumber]="block?.number"></app-block-details>
      </clr-dg-row-detail>
    </clr-dg-row>
    <clr-dg-footer>
      <clr-dg-pagination #pagination [clrDgPageSize]="10">
        {{'blocks.paginationSummary' | translate: { start: pagination.firstItem + 1, finish: pagination.lastItem + 1,
        total: pagination.totalItems} }}
      </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
</div>
