<div class="p-2 bg-dark">
  <div class="row">
    <div class="col-xs-4 media flex-items-xs-middle">
      <h3 class="mt-0 text-white">Block Activity</h3>
    </div>
    <div class="col-xs-8 media flex-items-xs-middle flex-items-xs-right">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>Today</button>
          <clr-tab-content id="content1" *clrIfActive="true"></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Last 7 Days</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Last 30 Days</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>Last 90 Days</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>

<img class="graph-placeholder" src="assets/static/images/node-activity-large.png">

<div class="p-2">
  <h3 class="mt-0">Blocks</h3>

  <table class="table">
    <thead>
    <tr>
      <th class="text-right">Index</th>
      <th class="text-left">Hash</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let block of blocks">
      <td class="text-right">{{block.number}}</td>
      <td class="text-left">{{block.hash}}</td>
      <td>
        <clr-dropdown [clrCloseMenuOnItemClick]="false">
          <button type="button" class="px-0" clrDropdownTrigger>
            <clr-icon shape="ellipsis-horizontal" size="16"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a clrDropdownItem [routerLink]="['/blocks', block.number]">View Detail</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="text-right">
    <button class="btn btn-primary" [disabled]="!nextBlockUrl" (click)="loadNextBlocks()">Next</button>
  </div>
</div>
