<div class="p-2 bg-dark">
  <div class="row">
    <div class="col-xs-4 media flex-items-xs-middle">
      <h3 class="mt-0 text-white">{{'nodes.nodeActivity' | translate}}</h3>
    </div>
    <div class="col-xs-8 media flex-items-xs-middle flex-items-xs-right">
      <clr-tabs>
        <clr-tab>
          <button clrTabLink>{{'time.today' | translate}}</button>
          <clr-tab-content id="content1" *clrIfActive="true"></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>{{ 'time.lastXDays' | translate:{number: 7} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>{{ 'time.lastXDays' | translate:{number: 30} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
        <clr-tab>
          <button clrTabLink>{{ 'time.lastXDays' | translate:{number: 90} }}</button>
          <clr-tab-content *clrIfActive></clr-tab-content>
        </clr-tab>
      </clr-tabs>
    </div>
  </div>
</div>

<img class="graph-placeholder" src="assets/static/images/node-activity-large.png">

<div class="p-2 bg-header">
  <div class="row">
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.totalActiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.totalActiveNodes | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0" >
        {{'nodes.inactiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.inactiveNodes | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.overallNodeHealth' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.overallNodeHealth | percent:"1.0-2"}}</h2>
      <div class="progress success">
        <progress max="100" [value]="mockStats.overallNodeHealth * 100"></progress>
      </div>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.transactionsPerSecond' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.transactionsPerSecond | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'nodes.averageValidationTime' | translate}}
      </p>
      <h2 class="mt-0"
          [innerHTML]="'nodes.xSeconds' | translate:{seconds: (mockStats.averageValidationTime | number:'1.0-2')}">
      </h2>
    </div>
  </div>
</div>

<div class="p-2">
  <div class="row">
    <div class="col-xs-6">
      <h3 class="mt-0">{{'nodes.nodes' | translate}}</h3>
    </div>
    <div class="col-xs-6">
      <div class="form-group text-right">
        <input type="text" [attr.placeholder]="'nodes.searchPlaceholder' | translate" />
        <button type="button" class="btn btn-primary" (click)="onOpenFilterModal()">{{'nodes.filters' | translate}}</button>
      </div>
    </div>
  </div>

  <table class="table">
    <thead>
    <tr>
      <th>{{'nodes.location' | translate}}</th>
      <th>{{'nodes.hostname' | translate}}</th>
      <th>{{'nodes.address' | translate}}</th>
      <th>{{'nodes.status' | translate}}</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let member of members">
      <td>Lindberg</td>
      <td>{{member.host}}</td>
      <td>2001:0db8:85a3:0000:0000:8a2e:0370:7334:8080</td>
      <td>{{member.status}}</td>
      <td>
        <clr-dropdown [clrCloseMenuOnItemClick]="false">
          <button type="button" clrDropdownTrigger>
            <clr-icon shape="ellipsis-horizontal" size="16"></clr-icon>
          </button>
          <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
            <a clrDropdownItem [routerLink]="['/nodes', member.host]">{{'nodes.viewDetail' | translate}}</a>
          </clr-dropdown-menu>
        </clr-dropdown>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<app-transaction-filters-modal #filterModal (applyFilters)="onApplyFilters()"></app-transaction-filters-modal>
