<img class="graph-placeholder" src="assets/static/images/node-location-large.png">

<div class="p-2 bg-header">
  <div class="row">
    <div class="col-md">
      <p class="p7 mt-0">
        {{'dashboard.totalActiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.totalActiveNodes | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'dashboard.inactiveNodes' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.inactiveNodes | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'dashboard.overallNodeHealth' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.overallNodeHealth | percent:"1.0-2"}}</h2>
      <div class="progress success">
        <progress max="100" [value]="mockStats.overallNodeHealth * 100"></progress>
      </div>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'dashboard.transactionsPerSecond' | translate}}
      </p>
      <h2 class="mt-0">{{mockStats.transactionsPerSecond | number}}</h2>
    </div>
    <div class="col-md">
      <p class="p7 mt-0">
        {{'dashboard.averageValidationTime' | translate}}
      </p>
      <h2 class="mt-0"
          [innerHTML]="'dashboard.xSeconds' | translate:{seconds: (mockStats.averageValidationTime | number:'1.0-2')}">
      </h2>
    </div>
  </div>
</div>

<div class="p-2">
  <div class="row flex-items-xs-middle">
    <div class="col-sm">
      <h3 class="mt-0">{{'transactions.recentTransactions' | translate}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <clr-datagrid>
        <clr-dg-column [clrDgSortBy]="'hash'">{{'transactions.hash' | translate}}</clr-dg-column>
        <clr-dg-column>{{'transactions.nonce' | translate}}</clr-dg-column>
        <clr-dg-column>
          {{'transactions.status' | translate}}
          <clr-dg-filter [clrDgFilter]="statusFilter">
            <app-transactions-status-filter #statusFilter></app-transactions-status-filter>
          </clr-dg-filter>
        </clr-dg-column>
        <clr-dg-row *clrDgItems="let transaction of recentTransactions">
          <clr-dg-action-overflow>
            <a class="action-item" [routerLink]="['/blocks', transaction.blockNumber, 'transactions', transaction.hash]">
              {{'blocks.viewDetail' | translate}}
            </a>
          </clr-dg-action-overflow>
          <clr-dg-cell>{{transaction.hash}}</clr-dg-cell>
          <clr-dg-cell>{{transaction.nonce}}</clr-dg-cell>
          <clr-dg-cell>{{(transaction?.status ? 'transactions.success' : 'transactions.failure') | translate}}</clr-dg-cell>
        </clr-dg-row>
      </clr-datagrid>
    </div>
  </div>
</div>
