<clr-wizard #wizard [(clrWizardOpen)]="isOpen" clrWizardSize="lg">
  <clr-wizard-title>{{(hasWallet ? 'users.settings.walletForm.showPrivateKey' : 'users.settings.walletForm.createWallet') | translate}}</clr-wizard-title>
  <clr-wizard-button [type]="'cancel'">{{'common.cancel' | translate}}</clr-wizard-button>
  <clr-wizard-button [type]="'previous'">{{'common.back' | translate}}</clr-wizard-button>
  <clr-wizard-button [type]="'next'">{{'common.next' | translate}}</clr-wizard-button>
  <clr-wizard-button [type]="'finish'">{{'common.finish' | translate}}</clr-wizard-button>
  <clr-wizard-page [clrWizardPageNextDisabled]="createWalletForm.invalid"
                   [clrWizardPagePreventDefaultNext]="true"
                   (clrWizardPageNext)="hasWallet ? onSubmitView() : onSubmitCreate()">
    <ng-template clrPageTitle>{{'users.settings.walletForm.enterPassword' | translate}}</ng-template>
    <div class="row">
      <div class="col-xs-12">
        <clr-alert [clrAlertClosable]="false" [clrAlertType]="'danger'">
          <div clr-alert-item class="alert-item">
            <span class="alert-text">
              {{'users.settings.walletForm.passwordWarning' | translate}}
            </span>
          </div>
        </clr-alert>
      </div>
      <div class="col-xs-12">
        <form clrForm clrLayout="horizontal" [formGroup]="createWalletForm" (ngSubmit)="hasWallet ? onSubmitView() : onSubmitCreate()">
          <section class="form-block">
            <clr-input-container>
              <label>{{'users.settings.walletForm.password' | translate}}</label>
              <input clrInput
                     id="walletPassword"
                     type="password"
                     autocomplete="new-password"
                     required
                     formControlName="password">
              <clr-control-error *clrIfError="'required'">{{'users.settings.walletForm.requiredText' | translate}}</clr-control-error>
            </clr-input-container>
          </section>
        </form>
      </div>
    </div>
  </clr-wizard-page>
  <clr-wizard-page>
    <ng-template clrPageTitle>{{'users.settings.walletForm.walletDetails' | translate}}</ng-template>
    <div *ngIf="walletLoading">
      <span class="spinner"></span>
    </div>
    <div *ngIf="!walletLoading">
      <div *ngIf="decryptError" class="row">
        <div class="col-xs-12">
          <clr-alert [clrAlertClosable]="false" [clrAlertType]="'danger'" class="mb-1">
            <div clr-alert-item class="alert-item">
              <span class="alert-text">
                {{decryptError}}
              </span>
            </div>
          </clr-alert>
        </div>
      </div>
      <div *ngIf="!decryptError" class="row">
        <div class="col-xs-12">
          <clr-alert [clrAlertClosable]="false" [clrAlertType]="'danger'" class="mb-1">
            <div clr-alert-item class="alert-item">
              <span class="alert-text">
                {{'users.settings.walletForm.privateKeyWarning' | translate}}
              </span>
            </div>
          </clr-alert>
        </div>
        <div class="col-xs-12">
          <table class="mt-0 table table-vertical break-all">
            <tbody>
            <tr>
              <th>{{'users.settings.walletForm.address' | translate}}</th>
              <td>
                {{'0x' + userWallet?.address}}
                <concord-copy-to-clipboard-button
                  classList="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="'0x' + userWallet?.address"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </td>
            </tr>
            <tr *ngIf="decryptedWallet">
              <th>{{'users.settings.walletForm.privateKey' | translate}}</th>
              <td>
                {{'users.settings.walletForm.concealedPrivateKey' | translate}}
                <concord-copy-to-clipboard-button
                  classList="ctc-btn-inline"
                  [tooltip]="'common.copyToClip' | translate"
                  tooltipDirection="top-right"
                  [value]="decryptedWallet[0].privateKey"
                  [size]="12">
                </concord-copy-to-clipboard-button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </clr-wizard-page>
</clr-wizard>
