<div class="list-container">
  <clr-datagrid #datagrid [(clrDgSelected)]="selectedUsers">
    <clr-dg-column>{{'users.grid.columns.name.title' | translate}}</clr-dg-column>
    <clr-dg-column>{{'users.grid.columns.email.title' | translate}}</clr-dg-column>
    <clr-dg-column>{{'users.grid.columns.organization.title' | translate}}</clr-dg-column>
    <clr-dg-column>{{'users.grid.columns.persona.title' | translate}}</clr-dg-column>

    <clr-dg-row *clrDgItems="let user of users" [clrDgItem]="user">
      <clr-dg-cell>{{user.name}}</clr-dg-cell>
      <clr-dg-cell>{{user.email}}</clr-dg-cell>
      <clr-dg-cell>{{user.organization.organization_name}}</clr-dg-cell>
      <clr-dg-cell>{{user.role}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>{{users?.length}} users</clr-dg-footer>
  </clr-datagrid>
</div>
